
<div class="page-content" >

    <div class="table-operbar row">

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a show-modal id="#addUnit" class="btn sbold green"> <i
                            class="fa fa-plus"></i> 修正 </a>
                </div>
            </div>
        </div>


        <div class="col-md-12 multi-menu multi-menu-bordered" ng-cloak>
           
            <div class="table-scrollable">
                <table class="table table-striped table-hover">

                    <tbody ng-cloak>

                    <tr>
                        <td class="col-md-10" style="text-align: left">
                            <i class="fa fa-folder-o"></i>
                            3333
                        </td>

                        <td class="col-md-2">
                            <a show-modal id="#modifyUnit"
                               ng-click="modifyUnitNameClick(value)">修改</a>
                            <a ng-click="delProductUnit(value['shop_unit.UNIT_ID'])">删除</a>
                        </td>

                    </tr>

                    <tr>
                        <td class="col-md-10" style="text-align: left">
                            <i class="fa fa-folder-o"></i>
                            3333
                        </td>

                        <td class="col-md-2">
                            <a show-modal id="#modifyUnit"
                               ng-click="modifyUnitNameClick(value)">修改</a>
                            <a ng-click="delProductUnit(value['shop_unit.UNIT_ID'])">删除</a>
                        </td>

                    </tr>


                    <tr>
                        <td class="col-md-10" style="text-align: left">
                            <i class="fa fa-folder-o"></i>
                            3333
                        </td>

                        <td class="col-md-2">
                            <a show-modal id="#modifyUnit"
                               ng-click="modifyUnitNameClick(value)">修改</a>
                            <a ng-click="delProductUnit(value['shop_unit.UNIT_ID'])">删除</a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>
<!-- END CONTENT -->
