a{
    color: #000;
    text-decoration: none !important;
}
.showPoint  {
    cursor: pointer;
}
.bg-color{
    background-color: #f3f3f4;
}
.timeBar{
    margin-top: 15px;
}
.timeBar a,select,button{
    margin-left: 15px;
}
.layout{
    border-radius: 2px;
    text-align: right;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
}
.bgColor-blue{
    background-color: #1188FF;
}
.bgColor-red{
    background-color: #e7505a;
}
.bgColor-blue2{
    background-color: #3598dc;
}
h2{
    line-height: 0.5;
    padding-top: 35px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 24px;
}
p{
    padding-right: 10px;
    font-size: 16px;
    padding-bottom: 10px;
}
p i{
    display:inline-block;
    width: 1em;
    height: 1em;
    background-color: #e0e0e0;
    color: #555;
    font-size: 13px;
    font-style:normal;
    border-radius: 0.5em;
    text-align: center;
    margin-left:4px;
    line-height: 1em;
}
.alignRight{
    float: right;
}
.clear{
    clear: both;
}


