<div class="page-content" ng-init="initLoad()">

            <div class="container-fluid">
                <div class="col-md-1">
                    <input type="text" ng-model="groupRange['STARTDAY']" ng-init="groupRange['STARTDAY']=''" class="form-control"  placeholder="2016-12-1">
                </div>

                <div class="col-md-1">
                    <input type="text" ng-model="groupRange['ENDDAY']" ng-init="groupRange['ENDDAY']=''"  class="form-control"  placeholder="2016-12-31">
                </div>
                <button class="btn green" type="button" ng-click="getGroupByRange()">查询</button>
            </div>

    <div class="table-content">
        <div class="table-toolbar">
            <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-1 text-center">日期</th>
                        <th class="col-sm-1 text-center">充值</th>
                        <th class="col-sm-1 text-center">消费</th>
                        <th class="col-sm-1 text-center">消费冲红</th>
                        <th class="col-sm-1 text-center">返点</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr align="center" ng-repeat="value in cardMoneyChangeRange">
                        <td>20{{value['._RANGE']}}</td>
                        <td><span ng-repeat="value2 in rechargeList" ng-if="value2['.DAY']==value['._RANGE']">{{value2['.SOURCE']}}</span></td>
                        <td><span ng-repeat="value3 in consumeList" ng-if="value3['.DAY']==value['._RANGE']">{{value3['.SOURCE']}}</span></td>
                        <td><span ng-repeat="value4 in consumeRedList" ng-if="value4['.DAY']==value['._RANGE']">{{value4['.SOURCE']}}</span></td>
                        <td><span ng-repeat="value5 in revertList" ng-if="value5['.DAY']==value['._RANGE']">{{value5['.SOURCE']}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
