<div class="page-content">
    <div class="table-content">
        <div class="table-toolbar">
            <div class="container-fluid">

                <div class="col-md-1">
                    <input type="text" data-date-format="yyyy/mm/dd" class="form-control" id="1" placeholder="2016-12-1">
                </div>
                <div class="col-md-1">
                    <input type="text" data-date-format="yyyy/mm/dd" class="form-control" id="2"  placeholder="2016-12-31">
                </div>
                <button class="btn">查询</button>
            </div>
        </div>
    </div>
    <div ng-controller="card_card_cardAnalysis_Controller as ctrl">
        <!--<div ng-repeat="value in consumeList">{{value['.DAY']}}:{{value['.SOURCE']}}</div>-->
        <!--<span ng-bind="consumeList.length"></span>-->
        <!--{{rechargeList[0]}}-->
        <span ng-if="rechargeList[0]['.DAY']=='16-11-16'">what</span>
        <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">日期</th>
                    <th class="col-sm-1 text-center">充值</th>
                    <th class="col-sm-1 text-center">消费</th>
                    <th class="col-sm-1 text-center">消费冲红</th>
                    <th class="col-sm-1 text-center">返点</th>
                </tr>
                </thead>
            <tbody>
                <tr align="center" ng-repeat="value in consumeList" ng-repeat="value2 in rechargeList">
                    <td>20{{value['.DAY']}}</td>
                    <td><span ng-repeat="value2 in rechargeList" ng-if="value2['.DAY']==value['.DAY']">{{value2['.SOURCE']}}</span></td>
                    <td>{{value['.SOURCE']}}</td>
                    <td><span ng-repeat="value3 in consumeRedList" ng-if="value3['.DAY']==value['.DAY']">{{value3['.SOURCE']}}</span></td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
