/* BEGIN icon */
@mixin icon ($x, $y){
    background: url("../img/icon.png") no-repeat $x $y;
    background-size: 200px 150px;
}
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-check {
    @include icon(0, 0);
}
.icon-checked {
    @include icon(-20px, 0);
}
.icon-del {
    @include icon(-40px, 0);

    width: 15px;
    height: 20px;
}
.icon-balance {
    @include icon(-57px, 0);
}
.icon-wepay {
    @include icon(-78px, 0);
}
.icon-unipay {
    @include icon(-98px, 0);
}
.icon-ok {
    @include icon(-121px, 0);
}
.icon-search {
    @include icon(-143px, 0);
}
.icon-chenggong {
    @include icon(0, -56px);
}

.icon-order-ok {
    @include icon(-100px, -22px);
}
.icon-order-pay {
    @include icon(-125px, -22px);
}
.icon-order-deliver {
    @include icon(-150px, -22px);
}
.icon-order-evaluate {
    @include icon(-175px, -22px);
}

.icon-safety {
    @include icon(0, -120px);
}
.icon-membership-card {
    @include icon(-25px, -120px);
}
.icon-about {
    @include icon(-50px, -120px);
}
.icon-contact {
    @include icon(-75px, -120px);
}
.icon-more {
    @include icon(-100px, -120px);
}

.icon-home {
    @include icon(0, -60px);
}
.icon-cart {
    @include icon(-30px, -60px);
}
.icon-product-class {
    @include icon(-60px, -60px);
}
.icon-personal {
    @include icon(-90px, -60px);
}

.selected {
    .icon-home {
        @include icon(0, -90px);
    }
    .icon-cart {
        @include icon(-30px, -90px);
    }
    .icon-product-class {
        @include icon(-60px, -90px);
    }
    .icon-personal {
        @include icon(-90px, -90px);
    }
}

.icon-cart-small {
    @include icon(-120px, -60px);
}
.icon-collected {
    @include icon(-145px, -60px);
}
.icon-collect {
    @include icon(-170px, -60px);
}
/* END icon */
