@mixin border($border-orient: all, $bw: 1px, $bs: solid, $bc: $borderColor) {
    @if $border-orient == top {
        border-top:  $bw $bs $bc;
    } @else if $border-orient == bottom {
        border-bottom: $bw $bs $bc;
    } @else if $border-orient == right {
        border-right: $bw $bs $bc;
    } @else if $border-orient == left {
        border-left: $bw $bs $bc;
    } @else {
        border: $bw $bs $bc;
    }
}
