<div class="bg-grey product-list-page" ng-init="initData()">
  <!-- BEGIN 商品搜索 -->
  <div class="search-bar flexbox">
    <input class="search-input cell" type="search" ng-model="filter['SHOP_PRODUCT.PRD_NAME']"
           placeholder="输入菜品名" >
    <a class="icon-wrap cell fixed" ng-click="searchPrd()">
      <i class="icon icon-search"></i>
    </a>
  </div>
  <!-- END 商品搜索 -->
  <div class="weui_tab">
    <div class="product-list-navbar weui_navbar">
      <a class="weui_navbar_item "
         ng-class="{true:'weui_bar_item_on'}[filter['SHOP_PRODUCT.CLASS_ID'] == undefined]"
         ng-click="filterClass(undefined)" >
       全部分类
      </a>
      <a class="weui_navbar_item"  ng-repeat="class  in classList"
         ng-class="{true:'weui_bar_item_on'}[filter['SHOP_PRODUCT.CLASS_ID'] == class['SHOP_PRODUCT_CLASS.CLASS_ID']]"
         ng-click="filterClass(class['SHOP_PRODUCT_CLASS.CLASS_ID'])"
         ng-bind="class['SHOP_PRODUCT_CLASS.CLASS_NAME']">
      </a>
    </div>
    <div class="weui_tab_bd">
      <div id="tab1" class="weui_tab_bd_item weui_tab_bd_item_active">
        <a class="product-wrap weui_cell " ng-repeat="item in prdList" ng-class="{true:'soldout'}[item['SHOP_PRODUCT.HAS_STOCK']==0]">
          <div class="weui_cell_hd " ng-click="toDetail(item['SHOP_PRODUCT.PRD_ID'])">
            <img class="img " ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"/>
            <i></i>
          </div>
          <div class="weui_cell_bd">
            <h5 class="name"
                ng-click="toDetail(item['SHOP_PRODUCT.PRD_ID'])">
              <span ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></span>
            </h5>
            <p class="money">
              <span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']!=undefined"
                    ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥'"></span>
              <span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>
            </p>
            <i class="icon icon-cart" ng-if="item['SHOP_PRODUCT.HAS_STOCK']!=0" ng-click="selectSKU(item['SHOP_PRODUCT.PRD_ID'])"></i>
            <!--<i class="icon-out"></i>  告罄样式-->
          </div>
        </a>
        <div class="weui-infinite-scroll" ng-show="hasNextPage">
          <div class="infinite-preloader"></div>
          正在加载...
        </div>
      </div>
      <div id="tab2" class="weui_tab_bd_item">
        <h1 class="doc-head">通讯录</h1>
      </div>
      <div id="tab3" class="weui_tab_bd_item">
        <h1 class="doc-head">发现</h1>
      </div>
      <div id="tab4" class="weui_tab_bd_item">
        <h1 class="doc-head">我的</h1>
      </div>
    </div>
  </div>

  <div class="payment-wrap action-bar-wrap" style="margin-bottom: 53px;">
    <div class="action-bar border-top">
      <div class="icon-wrap">
        <i class="icon icon-cart-small"></i>
        <span class="cartNum" ng-bind="totalSize"></span>
      </div>
      <div class="payment-info cell">
        <p class="all">
          总计：<span class="money" ng-bind="totalPrice | currency : '￥'"></span>
        </p>
        <!--<p class="sale">(不含运费){{totalSize}}</p>-->
      </div>
      <a class="payment-check" ng-click="addOrder()">
        提交订单
      </a>
    </div>
  </div>

  <cart-modal  store-id="storeId" id="cartPrdId" show="cartModalShow" callback="addToCartSuccess()"></cart-modal>

</div>
