<div ng-init="initData()">
    <div class="consult-wrap" ng-repeat="advice in adviceList">
        <div class="consult">
            <div class="content consult-date">
                {{advice['GUESTBOOK.ADD_DATETIME']}}
            </div>
            <div class="left">咨询时间：</div>
        </div>
        <div class="consult">
            <div class="content">
                {{advice['GUESTBOOK.GUESTBOOK_CONTENT']}}
            </div>
            <div class="left">咨询内容：</div>
        </div>
        <div ng-if="advice['GUESTBOOK.STATE']==1" class="consult consult-reply">
            <div class="content">
                {{advice['GUESTBOOK.ANSWER_CONTENT']}}
            </div>
            <div class="left">客服回复：</div>
        </div>
    </div>
</div>