<div class="container-fluid" ng-init="initLoad()">
    <!--时间选择导航-->
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-2 fixWidth">
                <input id="startDay" type="text" ng-model="groupRange['STARTDAY']"
                       ng-init="groupRange['STARTDAY']=START" class="form-control inputWidth" placeholder="">
                <span>-</span>
                <input id="endDay" type="text" ng-model="groupRange['ENDDAY']" ng-init="groupRange['ENDDAY']=END"
                       class="form-control inputWidth" placeholder="">
            </div>
            <button class="btn " type="button" ng-click="getGroupByRange()">查询</button>
            <button class="btn alignRight" type="button" onclick="outPutMethod('offlineFormTable')">导出</button>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="table-content">
    <div class="table-toolbar">
        <table class="table table-bordered table-hover table-striped" id="offlineFormTable">
            <thead>
            <tr>
                <th class="text-center">起始日期</th>
                <th class="text-center">结束日期</th>
                <th class="text-center">门店ID</th>
                <th class="text-center">门店名称</th>
                <th class="text-center">新增会员数</th>
                <th class="text-center">销售金额</th>
                <th class="text-center">日平均销售</th>
                <th class="text-center">卡充值总额</th>
                <th class="text-center">普卡充值</th>
                <th class="text-center">金卡充值</th>
                <th class="text-center">客单价</th>
                <th class="text-center">订单数</th>
                <th class="text-center">来客数</th>
                <th class="text-center">平均单价</th>
                <th class="text-center">销售数量</th>
                <th class="text-center">折让总金额</th>
                <th class="text-center">手工折扣</th>
                <th class="text-center">自动折扣</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" ng-repeat="VALUE in FORMSOURCE">
                <td><span ng-bind="VALUE['START_DAY']"></span></td>
                <td><span ng-bind="VALUE['END_DAY']"></span></td>
                <td><span ng-bind="VALUE['SHOP_ID']"></span></td>
                <td><span ng-bind="VALUE['SHOP_NAME']"></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['ADD_CARD']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['ADD_CARD']"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['MONEY_COUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['MONEY_COUNT']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['AVG_MONEY_COUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['AVG_MONEY_COUNT']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['TOTAL_CARD_MONEY']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['TOTAL_CARD_MONEY']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['PT_CARD_MONEY']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['PT_CARD_MONEY']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['VIP_CARD_MONEY']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['VIP_CARD_MONEY']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['AVG_ORDER_MONEY']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['AVG_ORDER_MONEY']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['ORDER_COUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['ORDER_COUNT']"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['GUEST_COUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['GUEST_COUNT']"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['AVG_UNIT_MONEY']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['AVG_UNIT_MONEY']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['TOTAL_UNIT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['TOTAL_UNIT'] | number:3"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['MONEY_DISCOUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['MONEY_DISCOUNT']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['HAND_DISCOUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['HAND_DISCOUNT']/100 | currency:'￥'"></span></span></td>
                <td><span ng-if="VALUE['SHOP_VALUE']['AUTO_DISCOUNT']!=0"><span
                        ng-bind="VALUE['SHOP_VALUE']['AUTO_DISCOUNT']/100 | currency:'￥'"></span></span></td>
            </tr>
            <tr align="center">
                <td colspan=4>合计</td>
                <td><span ng-bind="ADD_CARD"></span></td>
                <td><span ng-bind="MONEY_COUNT | currency:'￥' "></span></td>
                <td><span ng-bind="AVG_MONEY_COUNT | currency:'￥'"></span></td>
                <td><span ng-bind="TOTAL_CARD_MONEY | currency:'￥'"></span></td>
                <td><span ng-bind="PT_CARD_MONEY | currency:'￥'"></span></td>
                <td><span ng-bind="VIP_CARD_MONEY | currency:'￥'"></span></td>
                <td><span ng-bind="AVG_ORDER_MONEY | currency:'￥'"></span></td>
                <td><span ng-bind="ORDER_COUNT"></span></td>
                <td><span ng-bind="GUEST_COUNT"></span></td>
                <td><span ng-bind="AVG_UNIT_MONEY | currency:'￥' "></span></td>
                <td><span ng-bind="TOTAL_UNIT | number:3"></span></td>
                <td><span ng-bind="MONEY_DISCOUNT | currency:'￥' "></span></td>
                <td><span ng-bind="HAND_DISCOUNT | currency:'￥' "></span></td>
                <td><span ng-bind="AUTO_DISCOUNT | currency:'￥' "></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
