<!DOCTYPE html>
<html lang="zh-CN" ng-app="cartApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>购物车</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="../../public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/libs/weui/dist/lib/weui.min.css">

    <link rel="stylesheet" href="../../public/css/style.css">

</head>

<body class="bg-grey nav-bottom" ng-controller="shopCartController">
<div class="container-fluid shopping-cart">
    <!-- BEGIN 商品列表-->
    <div class="row">
        <div class="product-list weui_cells">
            <div class="product-sale-wrap weui_cell">
                <div class="product-select-wrap weui_cell_hd">
                    <i class="icon icon-check"></i>
                </div>
                <div class="product-sale weui_cell_bd">
                    满200减20
                </div>
            </div>
            <!-- BEGIN 商品信息-->
            <div class="product-wrap weui_cell">
                <div class="product-select-wrap weui_cell_hd"
                     ng-init="product.isSelected = false"
                     ng-click="product.isSelected = !product.isSelected">
                    <i class="icon icon-checked"
                       ng-show="product.isSelected"></i>
                    <i class="icon icon-check"
                       ng-show="!product.isSelected"></i>
                </div>
                <div class="product-detail weui_cell_bd">
                    <img ng-src="" class="product-img">
                    <h5 class="product-name">
                        美国无籽黑提无籽黑提
                    </h5>
                    <p class="product-cls">
                        规格:100g
                    </p>
                    <p class="product-money">
                        ￥96.00
                    </p>
                    <div class="product-num-wrap input-group"
                         ng-init="cartInfo.buyCount = 1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="changeBuyCount(cartInfo, -1)">
                                -
                            </button>
                        </span>
                        <input class="form-control text-center" type="text"
                               ng-blur="updateProductBuyCount(cartInfo)"
                               ng-model="cartInfo.buyCount">
                        <span class="input-group-btn">
                            <button class="btn btn-default"  type="button"
                                    ng-click="changeBuyCount(cartInfo, 1)">
                                +
                            </button>
                        </span>
                    </div>
                    <a class="del-wrap" ng-click="delShopCart(cartInfo)">
                        <i class="icon icon-del"></i>
                    </a>
                </div>
            </div>
            <!-- END 商品信息-->
        </div>
    </div>
    <!-- END 商品列表-->

    <div class="payment-wrap action-bar-wrap">
        <div class="action-bar border-top">
            <div class="cart-icon-wrap">
                <i class="icon icon-check"></i>
                全选
            </div>
            <div class="payment-info cell">
                <p class="all">
                    总计：<span class="money">￥96.00</span>
                </p>
                <p class="sale">(不含运费，已优惠已优惠已优惠已优惠</p>
            </div>
            <a class="payment-check" href="../order/order_add.html">
                去结算
                <span class="product-num">(2件)</span>
            </a>
        </div>
    </div>
</div>



<script src="../../public/libs/weui/dist/lib/jquery-2.1.4.js"></script>
<script src="../../public/libs/angular/angular.min.js"></script>
<script src="../../public/libs/angular/weui.js"></script>

<script>
    var app = angular.module("cartApp",['weUI']);

    app.controller('shopCartController', function($scope, weUI) {
        $scope.changeBuyCount = function(cartInfo, type) {
            if (type < 0) {

                // 如果商品数量等于1弹出提示
                if(cartInfo.buyCount == 1) {
                    weUI.dialog.confirm("警告", "确定删除此商品吗？", function() {

                        var formData = {};

                        formData.memberId = 1023;
                        formData.cartId = cartInfo.cartId;
                        http.post(url, formData, function(response) {
                            if(response.code == 0) {
                                cartInfo.buyCount = parseInt(cartInfo.buyCount) - 1;
                                weUI.toast.ok("删除成功", function(){
                                    $scope.removeCart(cartInfo);
                                });
                            } else {
                                weUI.dialog.alert(response.msg);
                            }
                        });
                    });
                } else {
                    cartInfo.buyCount = parseInt(cartInfo.buyCount) - 1;
                }

            } else {
                cartInfo.buyCount = parseInt(cartInfo.buyCount) + 1;
            }


            $scope.updateProductBuyCount(cartInfo);
        };


        $scope.updateProductBuyCount = function(cartInfo) {
            if (parseInt(cartInfo.buyCount) < 0 ) {
                cartInfo.buyCount = 0;
            }

            if (parseInt(cartInfo.buyCount) > 0 && parseInt(cartInfo.buyCount) < cartInfo.productInfo.orderMinBuyCount ) {
                if ($scope.setting.sysSetting.ifLessMin == 1) {
                    cartInfo.buyCount = cartInfo.productInfo.orderMinBuyCount;
                    weUI.toast.show("最小起订量为:" + cartInfo.buyCount, "info", 1200);
                } else {
                    // weUI.toast.show("小于起订量，将原价购买。", "info", 1200);
                }
            }

            $scope.updateCart(cartInfo);

            cartInfo.sumPrice = cartInfo.buyCount * cartInfo.productInfo.orderPrice;

            $scope.cartSumPrice = 0;
            $scope.shopCartList.forEach(function(cartInfo) {
                $scope.cartSumPrice = $scope.cartSumPrice + cartInfo.sumPrice;
            });

        };



        $scope.delShopCart = function(cartInfo) {

            weUI.dialog.confirm("警告", "确定删除此商品吗？", function() {

                var formData = {};

                formData.memberId = 1023;
                formData.cartId = cartInfo.cartId;
                http.post(url, formData, function(response) {
                    console.log(response);
                    if(response.code == 0) {
                        weUI.toast.ok("删除成功", function(){
                            $scope.removeCart(cartInfo);
                            $scope.updateProductBuyCount(cartInfo);
                        });
                    } else {
                        weUI.dialog.alert(response.msg);
                    }
                });
            });

        };

        $scope.removeCart = function(cartInfo) {
            console.log('removeCart');
            var index = $scope.shopCartList.indexOf(cartInfo);

            console.log(index);
            if (index > -1) {
                $scope.shopCartList.splice(index, 1);
            }
        };

        $scope.updateCart = function(cartInfo) {
            var formData = {};

            formData.cartId = cartInfo.cartId;
            formData.buyCount = cartInfo.buyCount;

            http.post(url, formData, function(response) {
                console.log(response);
                if (parseInt(formData.buyCount) == 0) {
                    $scope.removeCart(cartInfo);
                }
            });
        };
    });

</script>


</body>

</html>
