<div class="shopping-cart bg-grey" ng-init="initData()"  style=" padding-bottom: 90px">

  <!-- BEGIN 商品列表-->
  <div class="product-list weui_cells bg-grey" >
    <!--<div class="product-sale-wrap weui_cell">-->
    <!--<div class="product-select-wrap weui_cell_hd">-->
    <!--<i class="icon icon-check"></i>-->
    <!--</div>-->
    <!--<div class="product-sale weui_cell_bd">-->
    <!--满200减20-->
    <!--</div>-->
    <!--</div>-->
    <!-- BEGIN 商品信息-->

    <div class="product-wrap weui_cell" ng-repeat="sku in skuList">
      <div class="product-select-wrap weui_cell_hd"
           ng-click="checkItem(sku)">
        <i class="icon icon-checked"
           ng-show="sku.isSelect"></i>
        <i class="icon icon-check"
           ng-show="!sku.isSelect"></i>
      </div>
      <div class="product-detail weui_cell_bd">
        <img ng-click="toDetail(sku['SHOP_PRODUCT.PRD_ID'])" ng-src="{{FILE_SERVER_DOMAIN+sku['SHOP_PRODUCT.CMP']}}?x-oss-process=image/resize,m_fill,h_220,w_220" class="product-img">
        <h5 class="product-name" ng-click="toDetail(sku['SHOP_PRODUCT.PRD_ID'])"  ng-bind="sku['SHOP_PRODUCT.PRD_NAME']">
        </h5>
        <span ng-if="sku['SHOP_PRODUCT_SKU.STOCK']==0">售罄</span>
        <p class="product-cls" ng-click="toDetail(sku['SHOP_PRODUCT.PRD_ID'])"  ng-bind="sku['SHOP_PRODUCT_SKU.SKU_CONTENT_INFO']">
        </p>
        <!--现价-->
        <span class="product-money" ng-click="toDetail(sku['SHOP_PRODUCT.PRD_ID'])"  ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES'] | currency :'￥'">
          </span>
          <!--原价-->
          <span class="product-money del-line" ng-if="sku['isSale']" ng-click="toDetail(sku['SHOP_PRODUCT.PRD_ID'])"  ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES_OLD'] | currency :'￥'">
          </span>

          <a class="del-wrap" ng-click="delShopCart(sku)">
            <i class="icon icon-del"></i>
          </a>
          <div class="product-num-wrap input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-cart-less" type="button"
                                    ng-click="lessSize(sku)">-</button>
                        </span>
            <input class="form-control text-center" type="text" disabled=""
                   ng-change="updateCartPrice()"
                   ng-model="sku['SHOP_PRODUCT_SKU.SIZE']">
                        <span class="input-group-btn">
                            <button class="btn btn-cart-add" type="button"
                                    ng-click="moreSize(sku)" style=" border-left: 1px solid rgb(219,219,219);">+</button>
                        </span>
        </div>
      </div>
    </div>
    <!--赠品-->
    <div class="freePrd-wrap weui_cell">
      <div class="product-select-wrap weui_cell_hd">
        <span class="free-icon">赠</span>
      </div>
      <div class="product-detail weui_cell_bd">
        <img class="freePrd-img">
        <h5 class="product-name">黄焖鸡</h5>
        <p class="product-cls">规格：50g &times<span>3</span> </p>
      </div>
    </div>
      <div class="cartout" ng-if="skuList.length==0">
      </div>
      <!-- END 商品信息-->
    </div>

  <!-- END 商品列表-->

  <div class="payment-wrap action-bar-wrap" style="bottom: 51px;">
    <div class="action-bar border-top">
      <div class="cart-icon-wrap" ng-init="checkAll=false"
           ng-click="checkAllPrd()">
        <i class="icon icon-checked"
           ng-if="checkAll" style="height: 20px;width:20px;"></i>
        <i class="icon icon-check"
           ng-if="!checkAll" style="height: 20px;width:20px;"></i>
      </div>
      <div class="payment-info cell">
        <p class="all" ng-init="totalPrice=0">
          总计：<span class="money" ng-bind="totalPrice | currency :'￥'"></span>
        </p>
        <!--<p class="sale">(不含运费)</p>-->
      </div>
      <a class="payment-check" ng-click="addOrder()" ng-init="totalSize=0">
        去结算
        <span class="product-num" ng-bind="'('+totalSize+')件'"></span>
      </a>
    </div>
  </div>
</div>
