/* line 2, ../sass/orderList.scss */
body {
  font-family: 'Microsoft YaHei'; }

/* line 6, ../sass/orderList.scss */
.row-wrap .toolbar {
  overflow: hidden;
  float: right;
  margin-top: 25px;
  margin-right: 45px;
  padding: 0 0 0 0; }
/* line 13, ../sass/orderList.scss */
.row-wrap .row-nav {
  height: 48px;
  line-height: 70px;
  font-size: 25px;
  padding-left: 40px; }
/* line 19, ../sass/orderList.scss */
.row-wrap .color {
  color: #4b4b4b; }
/* line 22, ../sass/orderList.scss */
.row-wrap .tab-nav {
  padding: 25px 40px 10px;
  border-bottom: 1px solid #c1c1c1;
  line-height: 1.7; }
/* line 30, ../sass/orderList.scss */
.row-wrap .row-content .orders .order-info {
  overflow: hidden; }
/* line 32, ../sass/orderList.scss */
.row-wrap .row-content .orders .order-info .order-title {
  font-size: 18px; }
/* line 35, ../sass/orderList.scss */
.row-wrap .row-content .orders .order-info .order-detail {
  float: left;
  font-size: 14px; }
/* line 39, ../sass/orderList.scss */
.row-wrap .row-content .orders .order-info .order-right {
  float: right;
  margin-top: 12px;
  margin-right: 13px; }
/* line 43, ../sass/orderList.scss */
.row-wrap .row-content .orders .order-info .order-right .order-money {
  font-size: 25px;
  color: #f36e19;
  margin-left: 10px; }
