<div class="multi-menu multi-menu-bordered">
    <div class="first-menu">
        <div class="first-menu-item"
             ng-repeat="firstMenu in treeData">
            <div class="item" ng-init="menuInit(firstMenu)">
                <i class="fa" ng-click="toggleMenu(firstMenu)"
                   ng-class="setIconAngleStyle(firstMenu)"
                   data-stopPropagation="true"></i>
                {{firstMenu.name}}
                <span class="pull-right" >
                    <a data-toggle="modal" data-target="#edit"
                       ng-click="edit(firstMenu)">修改</a>
                    <a ng-click="">删除</a>
                </span>
            </div>

            <div class="second-menu" ng-show="firstMenu.showSubmenu">
                <div class="second-menu-item"
                     ng-repeat="secondMenu in firstMenu.childList">
                    <div class="item" ng-init="menuInit(secondMenu)">
                        <i class="fa" ng-click="toggleMenu(secondMenu)"
                           ng-class="setIconAngleStyle(secondMenu)"
                           data-stopPropagation="true"></i>
                        {{secondMenu.name}}

                        <span class="pull-right">
                            <a data-toggle="modal"
                               data-target="#edit"
                               ng-click="edit(secondMenu)">修改</a>
                            <a ng-click="">删除</a>
                        </span>
                    </div>

                    <div class="third-menu" ng-show="secondMenu.showSubmenu">
                        <div class="third-menu-item"
                             ng-repeat="thirdMenu in secondMenu.childList">
                            <div class="item" ng-init="menuInit(thirdMenu)">
                                <i class="fa" ng-click="toggleMenu(thirdMenu)"
                                   ng-class="setIconAngleStyle(thirdMenu)"
                                   data-stopPropagation="true"></i>
                                {{thirdMenu.name}}

                                <span class="pull-right">
                                    <a data-toggle="modal"
                                       data-target="#edit"
                                       ng-click="edit(thirdMenu)">修改</a>
                                    <a ng-click="">删除</a>
                                </span>
                            </div>

                            <div class="fourth-menu" ng-show="thirdMenu.showSubmenu">
                                <div class="fourth-menu-item"
                                     ng-repeat="fourthMenu in thirdMenu.childList">
                                    <div class="item">
                                        <i class="fa" ng-click="toggleMenu(fourthMenu)"
                                           ng-class="setIconAngleStyle(fourthMenu)"
                                           data-stopPropagation="true"></i>
                                        {{fourthMenu.name}}

                                        <span class="pull-right">
                                            <a data-toggle="modal"
                                               data-target="#edit"
                                               ng-click="edit(fourthMenu)">修改</a>
                                            <a ng-click="">删除</a>
                                        </span>
                                    </div>

                                    <div class="fifth-menu" ng-show="fourthMenu.showSubmenu">
                                        <div class="fifth-menu-item"
                                             ng-repeat="fifthMenu in fourthMenu.childList">
                                            <div class="item">
                                                <i class="fa"
                                                   ng-click="toggleMenu(fifthMenu)"
                                                   ng-class="setIconAngleStyle(fifthMenu)"
                                                   data-stopPropagation="true"></i>
                                                {{fifthMenu.name}}

                                                <span class="pull-right">
                                                    <a data-toggle="modal"
                                                       data-target="#edit"
                                                       ng-click="edit(fifthMenu)">修改</a>
                                                    <a ng-click="">删除</a>
                                                </span>
                                            </div>

                                            <div class="sixth-menu" ng-show="fifthMenu.showSubmenu">
                                                <div class="sixth-menu-item"
                                                     ng-repeat="sixthMenu in fifthMenu.childList">
                                                    <div class="item">
                                                        <i class="fa"></i>
                                                        {{sixthMenu.name}}

                                                        <span class="pull-right">
                                                            <a data-toggle="modal"
                                                               data-target="#edit"
                                                               ng-click="edit(sixthMenu)">修改</a>
                                                            <a ng-click="">删除</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
