<div ng-init="initLoad()">
    <!--标题选择-->
    <div class="table-operabar">
        <div id="topTiltle" class="con">
            <div class="btn1" ng-repeat="(key,attr) in arr"  ng-class="{'tab-focus':attr.val}" ng-click="show(key)" ng-bind="attr.name"></div>
        </div>
        <div class="form-group form-inline">
            <input type="text" class="form-control" ng-model="orderFilter" placeholder="标题/商品/供应商">
            <button type="submit" class="btn btn-default ">搜索</button>
            <span class="search"></span>
            <button type="button" class="btn" >添加</button>
        </div>
    <!--时间选择导航-->
        <div class="orders">
            <div class="orderItem">
                <div class="infromation orderUnexamine">
                     <div class="examine">审核中</div>
                        <div class="row">
                            <div class="details col-md-6">
                                <span class="price">￥24839.00</span>
                                <span class="brand">徐州卫材</span>
                                <span class="content">采购550吨甲醛</span>
                            </div>
                            <div class="info col-md-5 text-right">
                                <p>CG-201621-74545</p>
                                <p>CG-201621-74545</p>
                            </div>
                        </div>
                </div>
                <div class="product">
                    <div class="productList pull-left">
                        <p>1.2016-12-01 | 甲醛 | 100吨 | 2520元</p>
                        <p>1.2016-12-01 | 甲醛 | 100吨 | 2520元</p>
                        <p>备注信息：影响力</p>
                        <h3>先款后货 3-3-4</h3>
                    </div>
                </div>
            </div>

</div>