.order-add {
    .weui_cells {
        font-size: $fontSize;
        line-height: 1;
    }
    .weui_cell {
        padding: 12px 15px 12px 20px;
    }
    .weui_cell_ft {
        color: $colorDefault;
    }

    .order-address {

        .detail > p + p {
            margin-top: 12px;
        }
    }
    .dec {
        height: 5px;
        width: 100%;
        background: url("../img/dec.png") no-repeat;
        background-size: cover;
    }

    .product-list {
        line-height: 1;

        .product-sale {
            padding-right: 5px;
            padding-left: 25px;

            font-size: $fontSizeSmall;
            line-height: 2;
            background: url("../img/icon.png") no-repeat 0 -21px;
            background-size: 200px 150px;
        }

        .product-wrap {
            -webkit-align-items: flex-start;
                    align-items: flex-start;
            -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
        }

        .product-img-wrap {
            margin-right: 28px;
        }
        .product-img {
            width: 50px;
            height: 50px;
        }

        .content {
            width: 0;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            max-width: 100%;
            padding-right: 10px;
        }
        .product-name {
            color: $colorBase;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        .product-cls,
        .product-num {
            color: $colorGrey;
            margin: 9px 0 0;
            font-size: $fontSizeSmall;
        }

        .product-money {
            color: $colorDefault;
            margin: 0 0 9px;
            font-size: $fontSize;
        }
    }

    .payment-list {
        .icon-wrap {
            margin-right: 12px;
        }
    }

    .payment-wrap {
        @extend .bottom;

        height: 48px;
        left: 0;
        right: 0;

        .payment-info {
            margin: 0 8px;
            line-height: 1.5;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;


            .all {
                font-size: $fontSizeLarge;

                .money {
                    color: $colorDefault;
                }
            }
            .sale {
                font-size: $fontSizeSmall;
                color: $colorGrey;
            }
        }

        .payment-check {
            width: 123px;
            color: white;
            background-color: $colorDefault;
            vertical-align: bottom;
            text-align: center;
            line-height: 49px;

            .product-num {
                font-size: $fontSizeSmall;
            }
        }
    }
}

.order-address {
    .weui_cells {
        margin: 0;

        font-size: $fontSize;

        &::before {
            border: none;
            margin-top: 0;
        }
    }

    .weui_label {
        width: 70px;
    }

    .title {
        margin-bottom: 10px;

        line-height: 1;
    }

    .weui_btn {
        background-color: $colorDefault;
    }

}

.order-list-page {
    .tab-default {
        @extend .bg-grey;

        .weui_navbar {
            background-color: #fff;
        }
    }

    .order-wrap {
        font-size: $fontSize;
    }

    .order-state {
        color: $colorDefault;
    }

    .product-wrap {
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .product-img-wrap {
        margin-right: 28px;
    }

    .product-img {
        width: 50px;
        height: 50px;
    }

    .basic-info {
        width: 0;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
        padding-right: 10px;
    }

    .product-name,
    .product-money,
    .product-num {
        color: $colorBase;
    }

    .product-name {
        overflow: hidden;

        margin: 0;
        height: 1em;

        font-size: $fontSize;
        font-weight: normal;
        word-break: break-all;
    }

    .product-cls {
        color: $colorGrey;
        margin: 9px 0 0;
        font-size: $fontSizeSmall;
    }

    .product-money {
        margin: 0 0 5px;
    }

    .total-price {
        font-size: $fontSizeXSmall;
        text-align: right;
    }

    .act-btn-wrap {
        text-align: right;
    }
}
