<style>
@media screen and (min-width:410px) and (max-width:420px) {
		body,
		html {
			font-size: 13px !important
		}
	}
	
	.bonus a {
		position: absolute;

	}
	
	.bonus .integral {
		white-space: nowrap;
		top: 5.6%;
		left: 83%;
		color: #000000;
		font-size: 15px;
	}
	
	.bonus .jifen {
		width: 69%;
		height: 7rem;
	}
	
	.bonus .two {
		top: 69%;
		left: 17%;
	}
	
	.bonus .cards {
		width: 17%;
		height: 2.3rem;
		top: 10%;
		right: 0;
	}
	
	.bonus .tens {
		top: 43%;
		left: 54%;
	}
}
</style>

</script>
<div id="wrapper">

	<div style="position: relative;" class="bonus">
		<img src="../temporary/years/back.jpg" width="100%" />
		<a class="integral"><span ng-bind-template="{{jifen}}">4432</span><span ng-model="ss">分</span></a>
		<a class="cards" ui-sref="pages/personal/coupon"></a>
		<a class="two jifen" ng-click="exchange(3023)"></a>

	</div>

</div>