<div class="container-fluid" ng-init="initLoad()">
    <ul class="compareNav  nav-justified list-unstyled" >
        <li ng-class="{true:' active'}[STATE==0]" class="compareNav first" ><a ng-click="changeSourceByState('0')" href="">营业额</a></li>
        <li ng-class="{true:' active'}[STATE==1]"><a href="" ng-click="changeSourceByState('1')">销卡</a></li>
        <li ng-class="{true:' active'}[STATE==2]"><a href="" ng-click="changeSourceByState('2')">开卡</a></li>
    </ul>
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-1 fixWidthByOneInput" >
                <input id="startDay" type="text" ng-model="groupRange['DAY']" ng-init="groupRange['DAY']=YESTERDAY" width="100px"  class="form-control inputWidth"  placeholder="" >
            </div>
            <div class="col-md-1">
                <button class="btn green" type="button" ng-click="getGroupByRange()">查询</button>
            </div>

            <div class="col-md-4">
                <ul class="compareNav  nav-justified list-unstyled">
                    <li ng-class="{true:' active'}[FLAG==3]" class="compareNav first"><a href="" ng-click="changeSourceByDayState('3')">日榜单</a></li>
                    <li ng-class="{true:' active'}[FLAG==4]"><a href="" ng-click="changeSourceByDayState('4')">周榜单</a><i class="ai" title="所选时间所在一周的数据">!</i></li>
                    <li ng-class="{true:' active'}[FLAG==5]"><a href="" ng-click="changeSourceByDayState('5')">月榜单</a><i class="ai" title="所选时间前一个月的数据">!</i></li>
                </ul>
            </div>
            <button class="btn alignRight"  type="button" ng-click="outExcel(STATE)" >导出</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="table-content">
        <div class="table-toolbar" ng-if="STATE == '0'">
            <table class="table table-bordered table-hover table-striped" id="compareTable0">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">门店ID</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">营业额</th>
                    <th class="col-sm-1 text-center">差距</th>
                </tr>
                </thead>
                <tbody>
                    <tr align="center" ng-repeat="VALUE in jsonObj[0]['VALUE']">
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_ID']"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                        <td><span ng-if="VALUE['COMPARE_VALUE']['MONEY_COUNT'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['MONEY_COUNT']/100 | currency:'￥'"></span></span></td>
                        <td><span ng-if="VALUE['COMPARE_VALUE']['COMPARE_DIFF'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['COMPARE_DIFF']/100 | currency:'￥'"></span></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-toolbar" ng-if="STATE == '1'">
            <table class="table table-bordered table-hover table-striped" id="compareTable1">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">店铺ID</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">销卡</th>
                    <th class="col-sm-1 text-center">差距</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in jsonObj[1]['VALUE']">
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_ID']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-if="VALUE['COMPARE_VALUE']['CARD_MONEY_COUNT'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['CARD_MONEY_COUNT']/100 | currency:'￥'"></span></span></td>
                    <td><span ng-if="VALUE['COMPARE_VALUE']['COMPARE_DIFF'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['COMPARE_DIFF']/100 | currency:'￥'"></span></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-toolbar" ng-if="STATE == '2'">
            <table class="table table-bordered table-hover table-striped" id="compareTable2">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">店铺ID</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">开卡</th>
                    <th class="col-sm-1 text-center">差距</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in jsonObj[2]['VALUE']">
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_ID']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-if="VALUE['COMPARE_VALUE']['ADD_NUMBER'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['ADD_NUMBER']"></span></span></td>
                    <td><span ng-if="VALUE['COMPARE_VALUE']['COMPARE_DIFF'] != 0"><span ng-bind="VALUE['COMPARE_VALUE']['COMPARE_DIFF']"></span></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>