<div class="container-fluid" ng-init="initLoad()">
    <!--时间选择导航-->
    <div class="row timeBar">
        <div class="col-md-12">

            <div class="col-md-2">
                <input id="startDay" type="text" ng-model="groupRange['STARTDAY']" ng-init="groupRange['STARTDAY']=START" class="form-control inputWidth"  placeholder="">
                <span>-</span>
                <input id="endDay" type="text" ng-model="groupRange['ENDDAY']" ng-init="groupRange['ENDDAY']=END"  class="form-control inputWidth"  placeholder="">
            </div>

            <button class="btn" type="button" ng-click="getGroupByRange()">查询</button>
            <a class="showPoint" ng-click="getGroupByThisWeek()">本周</a><a class="showPoint" ng-click="getGroupByYesterWeek()">上周</a><a class="showPoint" ng-click="getGroupByThisMonth()">本月</a><a class="showPoint" ng-click="getGroupByYesterMonth()">上月</a><a class="showPoint" ng-click="getGroupByYesterDay()">昨天</a><a class="showPoint" ng-click="getGroupByNowDay()">今天</a>
            <button class="btn alignRight" type="button" onclick="outPutMethod('orderTable')">导出</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-3 showPoint" >
        <div class="layout bgColor-blue" ng-click="chargeChartOnOrder('1')">
            <h2><span ng-bind="turnoverSum | currency:'￥'"></span></h2>
            <p >营业额<i title="所选时间内的营业额">!</i></p>
        </div>
    </div>
    <div class="col-md-3 showPoint">
        <div class="layout bgColor-blue2" ng-click="chargeChartOnOrder('2')">
            <h2><span ng-bind="deductionSum | currency:'￥'"></span></h2>
            <p>折让金额<i title="所选时间内的折让金额">!</i></p>
        </div>
    </div><div class="col-md-2 showPoint">
    <div class="layout bgColor-blue2" ng-click="chargeChartOnOrder('3')">
        <h2><span ng-bind="cancel_moneySum | currency:'￥'"></span></h2>
        <p>退款额<i title="所选时间内的退款额">!</i></p>
    </div>
</div><div class="col-md-4 showPoint">
    <div class="layout bgColor-red" ng-click="chargeChartOnOrder('4')">
        <h2><span ng-bind="realincomeSum | currency:'￥'"></span></h2>
        <p>实收合计<i title="所选时间内的实收">!</i></p>
    </div>
</div>
</div>
    <div class="row">
        <div class="col-md-3 showPoint">
            <div class="layout bgColor-blue" ng-click="chargeChartOnOrder('5')">
                <h2><span ng-bind="orderquantitySum | number"></span></h2>
                <p>交易数<i title="所选时间内的交易数">!</i></p>
            </div>
        </div>
        <div class="col-md-3 showPoint" >
            <div class="layout bgColor-blue2" ng-click="chargeChartOnOrder('6')">
                <h2><span ng-bind="deduction_ordersSum | number"></span></h2>
                <p>参与优惠订单<i title="所选时间内的所选时间内参与优惠的订单">!</i></p>
            </div>
        </div>
        <div class="col-md-2 showPoint">
            <div class="layout bgColor-red" ng-click="chargeChartOnOrder('7')">
                <h2><span ng-bind="cancel_ordersSum | number"></span></h2>
                <p>退单数<i title="所选时间内退单数">!</i></p>
            </div>
        </div>
        <div class="col-md-2 showPoint">
            <div class="layout bgColor-blue2" ng-click="chargeChartOnOrder('8')">
                <h2><span ng-bind="dissuccess_ordersSum | number"></span></h2>
                <p>处理中<i title="所选时间内正在处理的订单">!</i></p>
            </div>
        </div>
        <div class="col-md-2 showPoint">
            <div class="layout bgColor-red" ng-click="chargeChartOnOrder('9')">
                <h2><span ng-bind="success_ordersSum"></span></h2>
                <p>已完成<i title="所选时间内已经完成的订单">!</i></p>
            </div>
        </div>
    </div>
    <!--<select style="width: 100px" ng-change="chargeChartOnOrder()" ng-model="CHART">-->
    <!--<option value="1" selected>营业额</option>-->
    <!--<option value="2">折让金额</option>-->
    <!--<option value="3">退款额</option>-->
    <!--<option value="4">实收合计</option>-->
    <!--<option value="5">交易数</option>-->
    <!--<option value="6">参与优惠</option>-->
    <!--<option value="7">退单数</option>-->
    <!--<option value="8">处理中</option>-->
    <!--<option value="9">已完成</option>-->
    <!--</select>-->
    <div id="main" style="height: 300px;"></div>

    <div class="table-content">
        <div class="table-toolbar">
            <table class="table table-bordered table-hover table-striped" id="orderTable">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">日期</th>
                    <th class="col-sm-1 text-center">成交额</th>
                    <th class="col-sm-1 text-center">优惠额</th>
                    <th class="col-sm-1 text-center">退款额</th>
                    <th class="col-sm-1 text-center">订单数</th>
                    <th class="col-sm-1 text-center">优惠订单</th>
                    <th class="col-sm-1 text-center">退单</th>
                    <th class="col-sm-1 text-center">实收合计</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in orderAnaysis">
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.DAY']"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['TURNOVER']/100 | currency:'￥'"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['DEDUCTION']/100 | currency:'￥'"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['CANCEL_MONEY']/100 | currency:'￥'"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['ORDER_QUANTITY'] | number"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['DEDUCTION_ORDERS'] | number"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['CANCEL_ORDERS'] | number"></span></td>
                    <td><span ng-bind="VALUE['MANAGE_DATA_ANALYSIS.SOURCE']['REAL_INCOME']/100 | currency:'￥'"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
