<div class="container  container1">
    <div class="row-wrap1 row-wrap" >
        <div class="toolbar toolbar1">
            <!-- 搜索框 -->
            <div class="row-input">
                <input type="text" ng-model="searchInfo" placeholder="标题/商品/供应商"
                       ng-keyup="myKeyup($event)">
                <div class="btn-search">
                    <i class="icon-search" ng-click="search()"></i>
                </div>
            </div>

        </div>
        <div class="row-title">
            <img class="img" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
            <span class="title">江苏省南京市建邺区嘉陵江东街18号</span>
            <div class="change">切换地址</div>
        </div>
        <div class="recent">
            <div class="recentTitle">最近浏览</div>
            <div class="storeContain">
                <div class="store" ng-repeat="shop in recentShopList" ng-click="shopSelect(shop)">{{shop['SHOP.SHOP_NAME']}}</div>
            </div>

        </div>
        <div class="recent ">
            <div class="recentTitle">区域</div>
            <div class="storeContain">
                <div class="store" ng-repeat="district in districtList"
                     ng-click="chooseDistrict(district['DISTRICT.DISTRICT_ID'],district['DISTRICT.DISTRICT_NAME'])" class="shop-name" ng-class="{true:
                'active'}[district['DISTRICT.DISTRICT_NAME']==currentDistrictName]">{{district['DISTRICT.DISTRICT_NAME']}}</div>
            </div>
        </div>
        <div class="recent recent1">
            <div class="recentTitle">门店列表</div>

        </div>
        <div class="storeList">
            <div class="list" ng-repeat="shop in shopList" ng-click="shopSelect(shop)">
                <div class="storelogo">
                    <img class="logo" src="../../public/css/img/store.png">
                </div>
                <div class="listDetail">
                    <div class="name">{{shop['SHOP.SHOP_NAME']}}</div>
                    <div class="addr">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="title">{{getDistanceFromLatLonInKm(coord.latitude,coord.longitude,shop['SHOP.LATITUDE'],shop['SHOP.LONGTUDE'])}}km</span>
                    </div>
                    <div class="num">
                        <span>{{shop['SHOP.TELEPHONE']}}</span>
                        <span>{{shop['SHOP.OPEN_TIME']}}-{{shop['SHOP.CLOSE_TIME']}}</span>
                    </div>
                    <div class="addrDetail">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="address">{{shop['SHOP.ADDR']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
