<div class="container  container1">
    <div class="row-wrap1 row-wrap" >
        <div class="toolbar toolbar1">
            <!-- 搜索框 -->
            <div class="row-input">
                <input type="text" ng-model="searchInfo" placeholder="标题/商品/供应商"
                       ng-keyup="myKeyup($event)">
                <div class="btn-search">
                    <i class="icon-search" ng-click="search()"></i>
                </div>
            </div>

        </div>
        <div class="row-title">
            <img class="img" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
            <span class="title">江苏省南京市建邺区嘉陵江东街18号</span>
            <div class="change">切换地址</div>
        </div>
        <div class="recent">
            <div class="recentTitle">最近浏览</div>
            <div class="storeContain">
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
            </div>

        </div>
        <div class="recent ">
            <div class="recentTitle">区域</div>
            <div class="storeContain">
                <div class="store">建邺区</div>
                <div class="store">建邺区</div>
                <div class="store">建邺区</div>
                <div class="store">建邺区</div>
                <div class="store">建邺区</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
                <div class="store">莲花新城店</div>
            </div>
        </div>
        <div class="recent recent1">
            <div class="recentTitle">门店列表</div>

        </div>
        <div class="storeList">
            <div class="list">
                <div class="storelogo">

                </div>
                <div class="listDetail">
                    <div class="name">莲花新城店</div>
                    <div class="addr">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="title">1.4km</span>
                    </div>
                    <div class="num">
                        <span>025-8899998</span>
                        <span>&nbsp;&nbsp;7.30-21.30</span>
                    </div>
                    <div class="addrDetail">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="address">建邺区嘉陵江东街18号</span>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="storelogo">

                </div>
                <div class="listDetail">
                    <div class="name">莲花新城店</div>
                    <div class="addr">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="title">1.4km</span>
                    </div>
                    <div class="num">
                        <span>025-8899998</span>
                        <span>&nbsp;&nbsp;7.30-21.30</span>
                    </div>
                    <div class="addrDetail">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="address">建邺区嘉陵江东街18号</span>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="storelogo">

                </div>
                <div class="listDetail">
                    <div class="name">莲花新城店</div>
                    <div class="addr">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="title">1.4km</span>
                    </div>
                    <div class="num">
                        <span>025-8899998</span>
                        <span>&nbsp;&nbsp;7.30-21.30</span>
                    </div>
                    <div class="addrDetail">
                        <img class="img1" src="/AndSell/pc/public/css/img/mapLogo.png" alt="">
                        <span class="address">建邺区嘉陵江东街18号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
