<div class="sidebar">
    <ul class="nav nav-sidebar nav-sidebar-default">
        <li class="text-center">
            <img class="logo" alt="logo">
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               data-hover="dropdown">
                <i class="iconfont icon-shangpin"></i>
                商品
            </a>
            <div class="sub-menu-wrap dropdown-menu" role="menu">
                <ul class="sub-menu ">
                    <li class="">
                        <a href="#">
                            商品录入
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            商品列表
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            商品分类
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"  href="#"
               data-hover="dropdown">
                <i class="icon-docs"></i>
                订单
            </a>
            <div class="sub-menu-wrap dropdown-menu" role="menu">
                <ul class="sub-menu ">
                    <li>
                        <a href="#">
                            订货单
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            退货单
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            订单详情
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
               data-hover="dropdown">
                <i class="iconfont icon-kucun"></i>
                库存
            </a>
            <div class="sub-menu-wrap dropdown-menu" role="menu">
                <ul class="sub-menu ">
                    <li>
                        <a href="#">
                            门店管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            仓库列表
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
               data-hover="dropdown">
                <i class="icon-users"></i>
                用户
            </a>
            <div class="sub-menu-wrap dropdown-menu" role="menu">
                <ul class="sub-menu ">
                    <li>
                        <a href="#">
                            用户列表
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            新增用户
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            积分管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            积分明细
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
               data-hover="dropdown">
                <i class="iconfont icon-zijinyue"></i>
                资金
            </a>
            <div class="sub-menu-wrap dropdown-menu">
                <ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            用户资金账户
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            收支明细
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
               data-hover="dropdown">
                <i class="icon-graph"></i>
                营销

            </a>
            <div class="sub-menu-wrap sub-menu-2 dropdown-menu">
                <ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            促销管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            优惠券管理
                        </a>
                    </li>
                </ul><ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            促销管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            优惠券管理
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
               data-hover="dropdown">
                <i class="icon-settings"></i>
                管理
            </a>
            <div class="sub-menu-wrap sub-menu-3 dropdown-menu">
                <ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            管理员列表
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            新增管理员
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            管理员列表
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            新增管理员
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu " role="menu">
                    <li>
                        <a href="#">
                            管理员列表
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            新增管理员
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
