<div class="shop-page bg-grey" style="height: 900px">
    <div class="map-icon pull-right" ui-sref="pages/shopLbs"></div>
    <!--<div class="map-icon pull-right"></div>-->
    <!--<div class="shop-select">-->
    <!--&lt;!&ndash; 门店选择 &ndash;&gt;-->
    <!--<div class="shop-select-wrap">-->
    <!--<div class="dropdown text-center">-->
    <!--<a id="dLabel" type="button" data-toggle="dropdown">-->
    <!--{{districtName}}-->
    <!--<span class="caret"></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li ng-click="allDistrict('全部区域')">全部区域</li>-->
    <!--<li ng-repeat="district in districtList"-->
    <!--ng-click="chooseDistrict(district['DISTRICT.DISTRICT_ID'],district['DISTRICT.DISTRICT_NAME'])">-->
    <!--{{district['DISTRICT.DISTRICT_NAME']}}-->
    <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <div class="shop-wrap">
        <!-- 最近浏览 -->
        <div class="shop-recent" ng-show="recentShopList.length>0">
            <div class="title">
                最近浏览
            </div>
            <div class="shop-list">
                <div class="shops history">
                    <a ng-repeat="shop in recentShopList" ng-click="shopSelect(shop)" class="shop-name">{{shop['SHOP.SHOP_NAME'] | strLength}}</a>
                </div>
            </div>
        </div>
        <!--区域选择-->
        <div class="shop-recent">
            <div class="title">
                选择区域
            </div>
            <div class="shop-list">
                <div class="shops history">
                    <a ng-repeat="district in districtList"
                       ng-click="chooseDistrict(district['DISTRICT.DISTRICT_ID'])"
                       class="shop-name"
                       ng-class="{true:'active'}[district['DISTRICT.DISTRICT_ID']==currDistrictId]">{{district['DISTRICT.DISTRICT_NAME']}}</a>
                </div>
            </div>
        </div>
        <div class="shop-choose">
            <div class="title">
                门店列表
            </div>
            <div class="shop-list">
                <a class="shops" ng-repeat="shop in currshopList" ng-click="shopSelect(shop)">
                    <img class="pull-left" src="../../public/img/icon-shopLogo.png">
                    <p ng-bind="shop['SHOP.SHOP_NAME']"></p>
                    <p class="addrs">{{shop['SHOP.ADDR']}}</p>
                    <p class="time" style="margin-top: 5px">营业时间
                        {{shop['SHOP.OPEN_TIME']}}-{{shop['SHOP.CLOSE_TIME']}}
                        电话<span ng-bind="shop['SHOP.TELEPHONE']"> 025-3242343243</span>
                    </p>
                    <div class="position"
                         ng-show="coord.latitude!=undefined&&coord.longitude!=undefined&&coord.longitude!=undefined&&shop['SHOP.LATITUDE']!=undefined">
                        <i class="position-icon"></i>
                        距离<span
                            ng-bind="getDistanceFromLatLonInKm(coord.latitude,coord.longitude,shop['SHOP.LATITUDE'],shop['SHOP.LONGTUDE'])"></span>公里
                    </div>
                </a>
            </div>
            <div class="shop-list" ng-if="shopListLength<=0">
                <a class="shops">
                    无门店
                </a>
            </div>
        </div>
    </div>
</div>
