<div class="bg-grey product-detail-page" ng-init="initData()">
  <!-- BEGIN 商品详情图片 -->
  <div class="swiper-container" style="height: 197px;width: 100%;">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ng-repeat="slide in slides">
        <a >
          <img
              ng-src="{{slide.image}}?x-oss-process=image/resize,m_fill,h_800,w_800"
              style="height: 197px;width: 100%;">
        </a>
      </div>

    </div>
  </div>

  <div class="weui_cells">
    <div class="weui_cell">
      <div class="basic-info weui_cell_bd weui_cell_primary">
        <h4 class="name">
          <span  ng-bind="product['SHOP_PRODUCT.PRD_NAME']"></span>
          <span  ng-if="sku['SHOP_PRODUCT_SKU.STOCK']==0" style="color: red">售罄</span>
        </h4>
        <p class="feature" ng-bind="product['SHOP_PRODUCT.SALES_TITLE']">
        </p>
        <p class="money">
          <span ng-if="sku['SHOP_PRODUCT_SKU.REAL_PRICES']!=undefined"
                ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES'] | currency :'￥'"></span>
        <div ng-if="sku['SHOP_PRODUCT_SKU.REAL_PRICES']==undefined" class="money">
        <span
            ng-bind="skuData.minPrice | currency :'￥'"></span> -
        <span
            ng-bind="skuData.maxPrice | currency :'￥'"></span>

        </div>
        </p>
        <p class="code" ng-bind="'商品编码 ：'+sku['SHOP_PRODUCT_SKU.PRD_SKU']">
        </p>
      </div>
    </div>
  </div>

  <div class="weui_cells">

    <div class="sku-info weui_cell" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>0">
      <div class="weui_cell_hd" style="min-width: 40px;"  ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME1']+' : '"></div>
      <div class="sku-list label-group weui_cell_bd" style="margin-left: 10px">
        <span class="sku-label {{currSkuSelectClassMap[1][item]}} label-outline"
              ng-class="{true:'selected'}[currSkuContentSelectMap.name1==item]"
              ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT1']"
              ng-click="checkContent(1,item)"
              ng-bind="item"></span>
      </div>
    </div>

    <div class="sku-info weui_cell" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>1">
      <div class="weui_cell_hd" style="min-width: 40px;"  ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME2']+' : '"></div>
      <div class="sku-list label-group weui_cell_bd">
        <span class="sku-label  {{currSkuSelectClassMap[2][item]}} label-outline"
              ng-class=" { true :'selected'}[currSkuContentSelectMap.name2==item] "
              ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT2']"
              ng-click="checkContent(2,item)"
              ng-bind="item"></span>
      </div>
    </div>

    <div class="sku-info weui_cell" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>2">
      <div class="weui_cell_hd"  ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME3']+' : '"></div>

      <div class="sku-list label-group weui_cell_bd">
        <span class="sku-label  {{currSkuSelectClassMap[3][item]}} label-outline"
              ng-class=" { true :'selected'}[currSkuContentSelectMap.name3==item] "
              ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT3']"
              ng-click="checkContent(3,item)"
              ng-bind="item"></span>
      </div>
    </div>


    <div class="weui_cell"   ng-if="!noStore">
      <div class="weui_cell_hd text-center" style="width: 62.3px;">
        数量：
      </div>
      <div class="weui_cell_bd" ng-init="skuSize=1" style="margin-left: 10px">
        <div class="cart-product-num-wrap input-group">
                <span class="input-group-btn">
                    <button class="btn btn-cart-less" type="button" ng-click="skuSize=skuSize>1?skuSize-1:skuSize">
                      -
                    </button>
                </span>
          <input class="form-control text-center" disabled="" type="text" ng-model="skuSize" style=" background-color: #fff;">
                <span class="input-group-btn">
                    <button class="btn btn-cart-add" type="button" ng-click="skuSize=skuSize+1" >
                      +
                    </button>
                </span>
        </div>
      </div>
    </div>
  </div>

  <div class="weui_tab tab-default">
    <div class="weui_navbar">
      <a class="weui_navbar_item" href="#tab1">
        商品详情
      </a>
      <!--<a class="weui_navbar_item" href="#tab2">-->
        <!--商品评价-->
      <!--</a>-->
    </div>
    <div class="weui_tab_bd">
      <div id="tab1" class="weui_tab_bd_item weui_tab_bd_item_active">
        <span ng-bind-html="product['SHOP_PRODUCT.SHOP_DES']"></span>
      </div>
    </div>
  </div>

  <div class="product-action-wrap action-bar-wrap" >
    <div class="action-bar border-top">
      <div class="icon-wrap">
        <i class="icon icon-cart-small" ui-sref="pages/cart"></i>
        购物车
      </div>
      <!--<div class="icon-wrap">-->
        <!--&lt;!&ndash; 已收藏 class="icon-collected" &ndash;&gt;-->
        <!--<i class="icon icon-collect"></i>-->
        <!--收藏-->
      <!--</div>-->
      <a class="add-to-cart cell" ng-click="addToCart()">
        加入购物车
      </a>
    </div>
  </div>

  <!--选择页面遮罩-->
  <div class="chose-shop" ng-if="STORE_ID==0">
    <i class="icon-shop"></i>
    <span>请先选择门店，即可在线购买！</span>
    <button class="btn btn-default btn-chose" ng-click="toShop()">立即选择</button>
  </div>

</div>