<div class="check-out-page bg-grey" ng-init="initData()" style="padding-bottom: 55px">
  <header>
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <i class="icon icon-ok"></i>
      </div>
      <div class="weui_cell_bd">
        <h4 class="suc-title" ng-if="order['SHOP_ORDER.TYPE']=='3'">
          <span ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==-1">订单待支付！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==-1">订单待分拣！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_DELIVERY']==-1">订单待提货！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_DELIVERY']==1">订单已完成！</span>
          <span ng-if="order['SHOP_ORDER.STATE_ORDER']==-1">订单已取消！</span>
        </h4>
        <h4 class="suc-title" ng-if="order['SHOP_ORDER.TYPE']=='1'">
          <span ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==-1">订单待支付！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==-1">订单待出库！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_SEND']==-1">订单待发货！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_SEND']==1&&order['SHOP_ORDER.STATE_ACCEPT']==-1">订单待收货！</span>
          <span
              ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_DELIVERY']==1&&order['SHOP_ORDER.STATE_ACCEPT']==-1">订单已完成！</span>
          <span ng-if="order['SHOP_ORDER.STATE_ORDER']==-1">订单已取消！</span>
        </h4>
        <p ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==-1">
          请在30分钟之内完成付款，逾期订单将关闭
        </p>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="order-info border-bottom row">
      <div class="col-xs-12">
        <p ng-bind="'订单编号：'+order['SHOP_ORDER.ORDER_NUM']">
        </p>
        <p ng-bind="'下单日期：'+order['SHOP_ORDER.DATETIME_ADD']">
        </p>
      </div>
      <div class="col-xs-12">
        <p ng-bind="'联 系 人：'+order['SHOP_ORDER.REC_CONTACT']">
        </p>
        <p ng-bind="'联系方式：'+order['SHOP_ORDER.REC_PHONE']">
        </p>
      </div>
      <div class="col-xs-12" ng-show="order['SHOP_ORDER.TYPE']=='3'">
        <p ng-bind="'提货时间：'+order['SHOP_ORDER.GET_PRD_DATETIME']">

        </p>
        <p ng-bind="'提货门店：'+order['SHOP_ORDER.SHOP_NAME']">
        </p>
        <p>
          提货方式：自提
        </p>
        <p ng-bind="'提货码：'+order['SHOP_ORDER.REC_CHECKCODE']">

        </p>
      </div>

      <div class="col-xs-12" ng-show="order['SHOP_ORDER.TYPE']=='1'">
        <p ng-bind="'收货地址：'+order['SHOP_ORDER.REC_ADDR']">
        </p>

        <p>
          提货方式：快递
        </p>
      </div>

      <div class="col-xs-12">
        <p ng-if="order['SHOP_ORDER.REMARK']!=undefined">
          订单备注：<span ng-bind="order['SHOP_ORDER.REMARK']"></span>
        </p>
      </div>
    </div>


    <div class="product-list weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd">
          商品列表
        </div>
      </div>
      <div class="product-wrap weui_cell" ng-repeat="detail in orderDetailList"
           ng-click="toDetail(detail['SHOP_ORDER_INFO.PRD_ID'])">
        <div class="product-img-wrap weui_cell_hd">
          <img class="product-img"
               ng-src="{{FILE_SERVER_DOMAIN+detail['SHOP_ORDER_INFO.IMG_URL']}}">
        </div>
        <div class="basic-info weui_cell_bd weui_cell_primary">
          <h5 class="product-name" ng-bind="detail['SHOP_ORDER_INFO.PRD_NAME']">
          </h5>
          <p class="product-cls" ng-bind="detail['SHOP_ORDER_INFO.SKU_CONTENT_INFO']">
          </p>
        </div>
        <div class="ext weui_cell_ft">
          <p class="product-money" ng-bind="detail['SHOP_ORDER_INFO.PRICE_SUM'] | currency : '￥'">
          </p>
          <p class="product-num" ng-bind="'X '+detail['SHOP_ORDER_INFO.COUNT']">
          </p>
        </div>
      </div>
    </div>

    <div class="payment-info">
      <p>
        订单总额：<span ng-bind="order['SHOP_ORDER.PRICE_OVER'] | currency : '￥'"></span>
      </p>
      <p class="sale">
        已优惠：<span ng-bind="order['SHOP_ORDER.PRICE_DISCOUNT'] | currency : '￥'"></span>
      </p>
      <p>
        付款方式：
        <span ng-if="order['SHOP_ORDER.PAY_TYPE']=='ACCOUNT'">会员卡支付</span>
        <span ng-if="order['SHOP_ORDER.PAY_TYPE']=='WEIXIN'">微信支付</span>
        <span ng-if="order['SHOP_ORDER.PAY_TYPE']=='FACE'">自提付款</span>
      </p>
    </div>
  </div>


  <div class="action-bar-wrap" ng-if="order['SHOP_ORDER.STATE_ORDER']==1">
    <div class="action-bar border-top">
      <div class="cell">
        <p class="all">
          总计：<span class="money" ng-bind="order['SHOP_ORDER.PRICE_OVER'] | currency : '￥'"></span>
        </p>
      </div>
      <div class="btn-wrap"
      >
        <a class="btn-cancel btn" ng-click="cancelOrder()" ng-if="(((order['SHOP_ORDER.STATE_MONEY']==-1||order['SHOP_ORDER.STATE_OUT']==-1)
           &&
           order['SHOP_ORDER.TYPE']=='3')
           ||((order['SHOP_ORDER.STATE_MONEY']==-1||order['SHOP_ORDER.STATE_OUT']==-1)&&order['SHOP_ORDER.TYPE']=='1'))">
          取消订单
        </a>
        <a class="btn my-btn-default" ng-click="payNow()"
           ng-if="(order['SHOP_ORDER.STATE_MONEY']==-1)">
          立即付款
        </a>
      </div>

      <div class="btn-wrap"
           ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_OUT']==1&&order['SHOP_ORDER.STATE_SEND']==1&&order['SHOP_ORDER.TYPE']=='1'">
        <a class="btn my-btn-default" ng-click="getPrdNow()">
          确认收货
        </a>
      </div>
      <div class="btn-wrap"
           ng-if="order['SHOP_ORDER.STATE_ORDER']==1&&order['SHOP_ORDER.STATE_MONEY']==1&&order['SHOP_ORDER.STATE_DELIVERY']==1&&order['SHOP_ORDER.TYPE']=='3'">
        <a class="btn my-btn-default" ng-click="commentOrder()">
          评价订单
        </a>
      </div>
    </div>
  </div>

</div>