<div class="containers " ng-init="initData()">

    <div class="effectiveArea home-page">
        <div class="leftMenu hidden">
            <div class="categoriePic" id="icon-wine" ng-click="toPrdClassList(3001)"></div>
            <div class="categoriePic" id="icon-cake" ng-click="toPrdClassList(3002)"></div>
            <div class="categoriePic" id="icon-rice-two" ng-click="toPrdClassList(3003)"></div>
            <div class="categoriePic" id="icon-fruit" ng-click="toPrdClassList(3004)"></div>
            <div class="categoriePic" id="icon-meat" ng-click="toPrdClassList(3005)"></div>
            <div class="categoriePic" id="icon-snow" ng-click="toPrdClassList(3006)"></div>
            <div class="categoriePic" id="icon-egg" ng-click="toPrdClassList(3007)"></div>
            <div class="categoriePic" id="icon-juice" ng-click="toPrdClassList(3008)"></div>
            <div class="categoriePic" id="icon-rice-one" ng-click="toPrdClassList(3009)"></div>

        </div>
        <div class="bannerSlider">
            <!--<ul ng-repeat="item in homeList" active="item.active">-->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="item in homeList" active="item.active">
                        <a ng-href="{{item['BANNER.URL']}}" ng-if="item['is_show']==true">
                            <img
                                ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}" style="width: 1200px;
height: 500px;">
                        </a>
                    </div>
                </div>
            </div>
            <!--<ul>-->
                <!--<li>-->
                    <!--<a ng-href="{{homeList[0]['BANNER.URL']}}" ng-if="homeList[0]['is_show']==true">-->
                        <!--<img ng-src="{{FILE_SERVER_DOMAIN+homeList[0]['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}">-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <div class="entryCategories">
            <div class="entry timeLimit" ng-show="limitList.length>0">
                <h1 class="entryTitle">
                    <span class="name">限时秒杀</span>
                    <div class="timeCount">
                        距离结束还有：<span class="count hours">{{item.hour}}</span>时<span
                        class="count minutes">{{item.minute}}</span>分<span
                        class="count seconds">{{item.second}}</span>秒
                    </div>
                </h1>
                <div class="picShow">
                    <ul>
                        <li ng-repeat="item in limitList" ng-if="item['is_show']==true">
                            <a ng-href="{{item['BANNER.URL']}}">
                                <img
                                    ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="entry togetherBuy" ng-show="groupList.length>0">
                <h1 class="entryTitle">
                    <span class="name">团购</span>
                </h1>
                <div class="picShow">
                    <ul>
                        <li ng-repeat="item in groupList" ng-if="item['is_show']==true">
                            <a ng-href="{{item['BANNER.URL']}}">
                                <div class="pic">
                                    <img ng-if="item['is_show']==true"
                                         ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
                                         ng-href="{{item['BANNER.URL']}}">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="entry todayRecommend"
                 ng-if="recommendList.length>0||recommNineList.length>0">
                <h1 class="entryTitle">
                    <span class="name">今日推荐</span>
                </h1>
                <div class="picShow">
                    <ul>
                        <li>
                            <a ng-repeat="item in recommendList" ng-href="{{item['BANNER.URL']}}"
                               ng-if="item['is_show']==true">
                                <img
                                    ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="entry floorLikeRec" ng-repeat="(key,itemList) in BannerList">
                <div>
                    <h1 class="entryTitle">{{key+1}}F
                        <span class="name">{{itemList.name}}</span>
                        <a ng-href="{{itemList.content[0]['BANNER.URL']}}" class="getAll">查看全部 ></a>
                    </h1>
                    <div class="bannerPic">
                        <img
                            ng-src="{{FILE_SERVER_DOMAIN+itemList.content[0]['BANNER.PICTURE']+'?x-oss-process=image/resize,w_1200'}}">
                    </div>
                    <div class="picShow">
                        <div class="recommendArea">
                            <div class="bestRec">
                                <a href="">
                                    <img
                                        ng-src="{{FILE_SERVER_DOMAIN+itemList.content[0]['BANNER.PICTURE2']+'?x-oss-process=image/resize,w_750'}}">
                                </a>
                            </div>
                            <div class="normalRec">
                                <ul>
                                    <li ng-repeat="item in tagProductList[itemList.content[0]['BANNER.TAG_ID']]">
                                        <a ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                                            <div class="pic">
                                                <img width="150" height="150"
                                                     ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}">
                                            </div>
                                            <p class="name"
                                               ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></p>
                                            <p class="price">
                                                <span class="current"
                                                      ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                                                <!--<span class="origin"></span>-->
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
