<div class="effectiveArea" ng-init="initData()">
    <div class="goodsDetail">
        <!--<div class="crumbsBar">-->
        <!--<a href="">爆款菜品</a>-->
        <!--<a href="">水果</a>-->
        <!--<a href="">蓝莓</a>-->
        <!--</div>-->
        <div class="goodsDetailShow" >
            <div class="picShow">
                <div class="mainPic">
                    <img ng-src="{{CMP}}">
                </div>
                <div class="picList">
                    <ul>
                        <li ng-repeat="slide in slides">
                            <img
                                ng-src="{{slide.image}}?x-oss-process=image/resize,m_fill,h_800,w_800"
                                style="height: 100%;width: 100%;" ng-click="changeCMP(slide.image)">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="purchaseChoose">
                <div class="title">
                    <h2 class="goodsName" ng-bind="product['SHOP_PRODUCT.PRD_NAME']"></h2>
                    <p class="subTitle" ng-bind="'商品编码 ：'+sku['SHOP_PRODUCT_SKU.PRD_SKU']"></p>
                </div>
                <div class="priceBox">
                    <div class="priceGroup">
                        <span class="name">价格</span>
                        <span class="content">
                            <span class="current"
                                  ng-if="sku['SHOP_PRODUCT_SKU.REAL_PRICES']!=undefined"
                                  ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES'] | currency :'￥'">
                            </span>
                            <span class="origin" ng-if="sku!=undefined&&sku['isSale']"
                                  ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES_OLD'] | currency :'￥'">
                            </span>
                            <!--<span ng-bind="skuData.minPrice | currency :'￥'"></span> - -->
                            <!--<span ng-bind="skuData.maxPrice | currency :'￥'"></span>-->
                        </span>
                    </div>
                    <!--<div class="promotionGroup">-->
                    <!--<span class="name">促销</span>-->
                    <!--<span class="content">-->
                    <!--<span class="activities">-->
                    <!--<span class="sign">下单立减</span>-->
                    <!--下单立减10.00元，买一送一-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                </div>
                <div class="categoriesChoose">
                    <div class="standards" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>0">
                        <span class="name" ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME1']"></span>
                        <ul class="standardsList">
                            <li ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT1']"
                                ng-class=" { true :'active'}[currSkuContentSelectMap.name1==item] "
                                ng-click="checkContent(1,item)"
                                ng-bind="item">
                            </li>
                        </ul>
                    </div>
                    <div class="standards" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>1">
                        <span class="name" ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME2']"></span>
                        <ul class="standardsList">
                            <li ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT2']"
                                ng-class=" { true :'active'}[currSkuContentSelectMap.name2==item] "
                                ng-click="checkContent(2,item)"
                                ng-bind="item"></li>
                        </ul>
                    </div>
                    <div class="standards" ng-if="skuData['SHOP_PRODUCT_SKU.LENGTH']>2">
                        <span class="name" ng-bind="skuData['SHOP_PRODUCT_SKU.SKU_NAME3']"></span>
                        <ul class="standardsList">
                            <li ng-repeat="item in skuData['SHOP_PRODUCT_SKU.SKU_CONTENT3']"
                                ng-class=" { true :'active'}[currSkuContentSelectMap.name3==item] "
                                ng-click="checkContent(3,item)"
                                ng-bind="item"></li>
                        </ul>
                    </div>
                </div>
                <div class="countChoose">
                    <span class="name">数量</span>
                    <div class="numberChange">
                        <a ng-click="lessSize()" class="control reduce"></a>
                        <input type="text" class="text" ng-model="skuSize">
                        <a ng-click="moreSize()" class="control add"></a>
                    </div>
                </div>
                <div class="endPayGroup">
                    <a href="" class="addToCart" ng-click="addToCart()">加入购物车</a>
                    <a href="" class="buyNow" ng-click="buyNow()">立即购买</a>
                    <a href="" class="collect"></a>
                </div>
            </div>

        </div>
        <div class="goodsIntro">
            <div class="goodsShowBar">
                <h2 class="title">商品排行</h2>
                <div class="lists">
                    <ul ng-repeat="pr in productRanking">
                        <li>
                            <img ng-src="{{FILE_SERVER_DOMAIN+pr['SHOP_PRODUCT.P1']}}" alt="">
                            <div class="intro">
                                <p class="name">{{pr['SHOP_ORDER_INFO.PRD_NAME']}}</p>
                                <p class="price">¥{{pr['SHOP_ORDER_INFO.PRICE_NOW']}}</p>
                                <p class="sales">月售 {{pr['ORDER_COUNT']}}笔</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detailIntro">
                <div class="introCategories" ng-init="prd_detai_model='detail'">
                    <ul>
                        <li><a ng-class="{true:'active'}[prd_detai_model=='detail']"
                               ng-click="prd_detai_model='detail'">图文详情</a></li>
                        <li><a ng-class="{true:'active'}[prd_detai_model=='comment']"
                               ng-click="prd_detai_model='comment'">评价详情</a></li>
                    </ul>
                </div>
                <div class="introContent" ng-if="prd_detai_model=='detail'">
                    <span ng-bind-html="product['SHOP_PRODUCT.SHOP_DES']"></span>
                </div>

                <div class="introContent" ng-if="prd_detai_model=='comment'">
                    <div class="imgIntro">
                        <div class="imgList">
                            <img src="../images/goodsDetailed.png" alt="">
                            <img src="../images/goodsDetailed.png" alt="">
                            <img src="../images/goodsDetailed.png" alt="">
                            <img src="../images/goodsDetailed.png" alt="">
                            <img src="../images/goodsDetailed.png" alt="">
                            <img src="../images/goodsDetailed.png" alt="">
                        </div>
                    </div>
                    <div class="evaluateIntro active">
                        <div class="summarize">
                            <div class="totalPer">
                                <span class="number">{{goodCommentsPercent}}</span>
                                <span class="text">好评度</span>
                            </div>
                            <div class="evaluateSources">
                                <div class="source">
                                    <span class="name">好评<span class="count">({{listLength(goodComments)}}条)</span></span>
                                    <div class="perBar">
                                        <div class="currentPer" ng-style="goodcp"></div>
                                    </div>
                                    <!--<span class="show" >{{goodCommentsPercent}}</span>-->
                                </div>
                                <div class="source">
                                    <span class="name">中评<span class="count">({{listLength(midComments)}}条)</span></span>
                                    <div class="perBar">
                                        <div class="currentPer" ng-style="midcp"></div>
                                    </div>
                                    <!--<span class="show">{{midCommentsPercent}}</span>-->
                                </div>
                                <div class="source">
                                    <span class="name">差评<span class="count">({{listLength(badComments)}}条)</span></span>
                                    <div class="perBar">
                                        <div class="currentPer" ng-style="badcp"></div>
                                    </div>
                                    <!--<span class="show">{{badCommentsPercent}}</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="evaluateLists" ng-repeat="proc in allComments">
                            <div class="list">
                                <div class="favicon">
                                    <img src="../images/togetherBuy_pic_2.png" alt="">
                                </div>
                                <div class="listContent">
                                    <p class="userInfo"><span class="name">{{proc['MEMBER.USER_NAME']}}</span><span
                                        class="time">{{proc['SHOP_COMMENT.PRO_MAIN_COMMENT_ADD_TIME']}}</span></p>
                                    <p class="text">
                                        {{proc['SHOP_COMMENT.PRO_MAIN_COMMENT']}}</p>
                                    <div class="imgList">
                                        <img ng-src="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']" alt="" ng-show="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']!=undefined">
                                        <img ng-src="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']" alt="" ng-show="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS2']!=undefined">
                                        <img ng-src="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']" alt="" ng-show="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS3']!=undefined">
                                        <img ng-src="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']" alt="" ng-show="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS4']!=undefined">
                                        <img ng-src="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS1']" alt="" ng-show="proc['SHOP_COMMENT.PRO_COMMENT_PHOTOS5']!=undefined">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>