<div class="personal-index bg-grey nav-bottom">
    <main class="container-fluid">
        <div class="row">
            <div class="header">
                <img class="personal-img" src="../../public/img/login_logo.png">
                <h5 class="personal-name">
                    {{USER_NAME}} <i class="icon-resetName" ng-click="modifyName()"></i>
                </h5>
                <div class="personal-info flexbox">
                    <div class="points cell">
                        <span class="num">{{balanceInfo[0]['MEMBER_ACCOUNT.POINT']}}</span>
                        <p class="personal-info-txt">用户积分</p>
                    </div>
                    <div class="points cell" ui-sref="pages/account/balance">
                        <span class="num">{{balanceInfo[0]['MEMBER_ACCOUNT.BALANCE']}}</span>
                        <p class="personal-info-txt">账户余额</p>
                    </div>
                    <div class="points cell">
                        <span class="num">{{coupon.length}}张</span>
                        <p class="personal-info-txt">
                            <p ui-sref="pages/personal/coupon">优惠券</p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="order-act-wrap weui_cells weui_cells_access">
                <div class="weui_cell">
                    <div ui-sref="pages/order/list({state:'all'})" class="order-act-title weui_cell_bd weui_cell_primary"
                    style="font-size: 16px"
                    >
                        全部订单
                    </div>
                    <div class="weui_cell_ft"></div>
                </div>
                <div class="weui_cell no_access">
                    <div class="order-act weui_cell_bd weui_cell_primary flexbox">
                        <!--<a class="cell" ui-sref="pages/order/list({state:'end'})">-->
                            <!--<div class="icon icon-order-ok"></div>-->
                            <!--<p class="order-act-txt" >已完成</p>-->
                        <!--</a> -->
                        <a class="cell" ui-sref="pages/order/list({state:'out'})">
                            <div class="icon icon-order-ok"><span class="order-num" ng-if="stateMap.out>0" ng-bind="stateMap.out"></span></div>
                            <p class="order-act-txt" >待分拣</p>
                        </a>
                        <a class="cell" ui-sref="pages/order/list({state:'pay'})">
                            <div class="icon icon-order-pay"><span class="order-num" ng-if="stateMap.pay>0" ng-bind="stateMap.pay"></span> </div>
                            <p class="order-act-txt">待付款</p>
                        </a>
                        <a class="cell" ui-sref="pages/order/list({state:'get'})">
                            <div class="icon icon-order-deliver"><span class="order-num" ng-if="stateMap.get>0" ng-bind="stateMap.get"></span></div>

                            <p class="order-act-txt">待自提</p>
                        </a>
                        <a class="cell" ui-sref="pages/order/list({state:'comment'})">
                            <div class="icon icon-order-evaluate"><span class="order-num" ng-if="stateMap.comment>0" ng-bind="stateMap.comment"></span></div>
                            <p class="order-act-txt">待评价</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="main-entry weui_cells weui_cells_access">

                <a ui-sref="pages/order/appointmentList" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-membership-card"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        我的预约
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>

                <a ui-sref="pages/personal/card" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-membership-card"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        我的会员卡
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a ui-sref="pages/personal/coupon" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-coupon"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        我的优惠券
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a ui-sref="pages/groupBuy/ownGroup" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-tuangou"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        我的团购
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a ui-sref="pages/account/balance" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-balance"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        资金明细
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a ui-sref="pages/account/recharge" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-recharge"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        账户充值
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                  <a ui-sref="pages/account/integral" class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon" style="background:url(../../public/img/jf.png) ;background-size:100%;"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                   积分兑换			
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <!--<a class="weui_cell" href="http://ycyz.h5-legend.com/h5/a4748bcc-c346-5554-ea5c-892ee7d9d77b.html?channelid=9af74f68b9522314">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<i class="icon icon-contact"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--联系我们-->
                    <!--</div>-->
                    <!--<div class="weui_cell_ft"></div>-->
                <!--</a>-->
                <a class="weui_cell" href="http://ycyz.h5-legend.com/h5/8f26a81b-4540-6e73-2682-a5fdab5eb785.html">
                    <div class="weui_cell_hd">
                        <i class="icon icon-about"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                            关于我们
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-safety"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary" ui-sref="pages/user/SetPassword({'LOGIN_ID':phone})">
                        账户安全
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <a class="weui_cell">
                    <div class="weui_cell_hd">
                        <i class="icon icon-about"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary" ui-sref="pages/personal/advice">
                        意见建议
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
                <!--<a class="weui_cell" ng-click="cancelLogin()">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<i class="icon icon-more"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--注销-->
                    <!--</div>-->
                    <!--<div class="weui_cell_ft"></div>-->
                <!--</a>-->
            </div>
            <div class="weui_btn_area">
                <button class="weui_btn" type="button" ng-click="cancelLogin()" style="background-color: #fff;color: #000;font-size: 17px">退出登录</button>
                <p>客服电话：<a href="tel:400-000-9185">400-000-9185</a></p>
            </div>

        </div>
    </main>

    <nav class="nav-fixed-bottom" role="navigation">
        <ul class="nav-list flexbox">
            <li class="cell selected">
                <a href="#">
                    <i class="icon icon-home"></i>
                    <p class="nav-txt">首页</p>
                </a>
            </li>
            <li class="cell">
                <a href="#">
                    <i class="icon icon-cart"></i>
                    <p class="nav-txt">购物车</p>
                </a>
            </li>
            <li class="cell">
                <a href="#">
                    <i class="icon icon-product-class"></i>
                    <p class="nav-txt">分类</p>
                </a>
            </li>
            <li class="cell">
                <a href="#">
                    <i class="icon icon-personal"></i>
                    <p class="nav-txt">我的</p>
                </a>
            </li>
        </ul>
    </nav>
</div>


<!--
<div>
    <span ng-click="getSession()">getSession</span>
</div>
-->

