<div class="page-content">
    <div class="table-content">
        <div class="table-operbar">
            <div class="table-toolbar text-right">
                <button show-modal id="#add" class="btn btn-default sbold green"><i
                    class="fa fa-plus"></i> 新增预约商品
                </button>
            </div>


            <div class="multi-menu multi-menu-bordered" ng-cloak>

                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width: 120px" class="text-center"> 描述</th>
                            <th style="width: 120px" class="text-center"> 商品</th>
                            <th style="width: 120px" class="text-center"> 商品上架状态</th>
                            <th style="width: 80px" class="text-center"> 预约价</th>
                            <th style="width: 120px" class="text-center"> 预付款</th>
                            <th style="width: 40px" class="text-center"> 库存</th>
                            <th style="width: 40px" class="text-center"> 已出库存</th>
                            <th style="width: 120px" class="text-center"> 修改时间</th>
                            <th style="width: 40px" class="text-center"> 额定库存</th>
                            <th style="width: 80px" class="text-center"> 状态</th>
                            <th style="width: 120px" class="text-center">地区</th>
                            <th style="width: 120px" class="text-center"> 备注</th>
                            <th style="width: 180px" class="text-center"> 操作</th>
                        </tr>
                        </thead>

                        <tbody ng-cloak class="text-center" style="vertical-align: middle">
                        <tr ng-repeat=" value in appointmentList">
                            <td class="text-center"
                                ng-bind="value['APPOINTMENT_PRODUCT.NAME']"></td>

                            <td class="text-center"
                                ng-bind="prdMap[value['APPOINTMENT_PRODUCT.SKU_ID']]['SHOP_PRODUCT.PRD_NAME']">
                            </td>
                            <td class="text-center">
                                <span
                                    ng-if="prdMap[value['APPOINTMENT_PRODUCT.SKU_ID']]['SHOP_PRODUCT_SKU.IS_SALE']==1">正在销售</span>
                                <span
                                    ng-if="prdMap[value['APPOINTMENT_PRODUCT.SKU_ID']]['SHOP_PRODUCT_SKU.IS_SALE']==-1">下架停售</span>
                            </td>
                            <td class="text-center"
                                ng-bind="value['APPOINTMENT_PRODUCT.PRICE']"></td>
                            <td class="text-center">
                                <span ng-if="value['APPOINTMENT_PRODUCT.NEED_PAY']==1">需要</span>
                                <span ng-if="value['APPOINTMENT_PRODUCT.NEED_PAY']==-1">不需要</span>
                            </td>
                            <td class="text-center"
                                ng-bind="value['APPOINTMENT_PRODUCT.STOCK']"></td>
                            <td class="text-center"
                                ng-bind="value['APPOINTMENT_PRODUCT.SALE_STOCK']"></td>
                            <td class="text-center"
                                >{{value['APPOINTMENT_PRODUCT.LAST_MODIFY_TIME']}}</td>
                            <td class="text-center"
                                >{{value['APPOINTMENT_PRODUCT.LAST_RECORD']}}</td>
                            <td class="text-center">
                                <span ng-if="value['APPOINTMENT_PRODUCT.STATE']==-1">停用</span>
                                <span ng-if="value['APPOINTMENT_PRODUCT.STATE']==1">启用</span>
                            </td>
                            <td class="text-center" ng-bind="value['APPOINTMENT_PRODUCT.CITY']==1?'南京':'常州'"></td>
                            <td class="text-center"
                                ng-bind="value['APPOINTMENT_PRODUCT.REMARK']"></td>
                            <td class="text-center">
                                <a show-modal id="#modify"
                                   ng-click="modifyAppointmentClick(value)">修改</a>
                                <a ng-if="value['APPOINTMENT_PRODUCT.STATE']==1"
                                   ng-click="modifyAppointmentState(value,-1)">停用</a>
                                <a ng-if="value['APPOINTMENT_PRODUCT.STATE']==-1"
                                   ng-click="modifyAppointmentState(value,1)">启用</a>
                                <a ng-click="delAppointment(value)">删除</a>
                                <a ng-click="showUrl(prdMap[value['APPOINTMENT_PRODUCT.SKU_ID']]['SHOP_PRODUCT.PRD_ID'])">预约链接</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--BEGIN 新增单位-->
    <div class="modal fade text-left" id="modify" tabindex="-1" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">修改预约商品</h4>
                </div>
                <div class="modal-body form-body text-right">

                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 商品:
                            </label>

                            <div class="col-md-8">
                                 <span class="text-center col-md-12">
                                    <span
                                        ng-bind="prdMap[modify['APPOINTMENT_PRODUCT.SKU_ID']]['SHOP_PRODUCT.PRD_NAME']+'     (不可修改)'"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预约描述:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="modify['APPOINTMENT_PRODUCT.NAME']"
                                       placeholder=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预约价:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       money=""
                                       ng-model="modify['APPOINTMENT_PRODUCT.PRICE']"
                                       placeholder=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预付款:
                            </label>

                            <div class="col-md-8">
                                <select ng-model="modify['APPOINTMENT_PRODUCT.NEED_PAY']"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="1">需要</option>
                                    <option class="nya-bs-option" value="-1">不需要</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 control-label">
                              <span class="required" style="color: red"> * </span> 地区:
                          </label>

                          <div class="col-md-8">
		                          	<select ng-model="modify['APPOINTMENT_PRODUCT.CITY']"
		                                     class="nya-bs-select form-control">
		                                     
		                                     <option class="nya-bs-option"
			                                value="1">
			                                南京
			                        </option>
			                        
			                        <option class="nya-bs-option"
			                                value="2">
			                                常州
			                        </option>
		                                 
		                                 </select>
		                          </div>
		                </div>
                        
                        
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 库存数量:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       string-to-number
                                       ng-model="modify['APPOINTMENT_PRODUCT.STOCK']"
                                       placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 每人限购:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       string-to-number
                                       ng-model="modify['APPOINTMENT_PRODUCT.NUM_LIMIT']"
                                       placeholder="0代表不限购">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间类型:
                            </label>

                            <div class="col-md-8">
                                <select ng-model="modify['APPOINTMENT_PRODUCT.TIME_TYPE']"
                                        ng-change="modify['APPOINTMENT_PRODUCT.START_TIME']=modify['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK'?'1':''"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="WEEK">按周</option>
                                    <option class="nya-bs-option" value="DAY">按天</option>
                                    <option class="nya-bs-option" value="WEEK_COMB">周自定义</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" ng-show="modify['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(周):
                            </label>
                            <div class="col-md-8">
                                <select ng-model="modify['APPOINTMENT_PRODUCT.START_TIME']"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="0">全部</option>
                                    <option class="nya-bs-option" value="1">周一</option>
                                    <option class="nya-bs-option" value="2">周二</option>
                                    <option class="nya-bs-option" value="3">周三</option>
                                    <option class="nya-bs-option" value="4">周四</option>
                                    <option class="nya-bs-option" value="5">周五</option>
                                    <option class="nya-bs-option" value="6">周六</option>
                                    <option class="nya-bs-option" value="7">周日</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="modify['APPOINTMENT_PRODUCT.TIME_TYPE']=='DAY'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(天):
                            </label>
                            <div class="col-md-8">
                                <input id="startDay" type="text"  ng-model="modify['APPOINTMENT_PRODUCT.START_TIME']" class="form-control inputWidth"  placeholder="">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="modify['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK_COMB'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(自定义):
                            </label>
                            <div class="col-md-8">
                                   <select ng-model="modify['APPOINTMENT_PRODUCT.START_TIME']"
                                       class="multiselect">
									<option class="nya-bs-option" value="1">周一</option>
                                    <option class="nya-bs-option" value="2">周二</option>
                                    <option class="nya-bs-option" value="3">周三</option>
                                    <option class="nya-bs-option" value="4">周四</option>
                                    <option class="nya-bs-option" value="5">周五</option>
                                    <option class="nya-bs-option" value="6">周六</option>
                                    <option class="nya-bs-option" value="7">周日</option>
								  </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 可提货天数:
                            </label>

                            <div class="col-md-8">
                                <input type="number" string-to-number class="form-control"
                                       ng-model="modify['APPOINTMENT_PRODUCT.STILL_DAY']"
                                       placeholder="1"
                                       ng-disabled="modify['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK_COMB'"
                                       >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 下单间隔:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control" string-to-number
                                       ng-model="modify['APPOINTMENT_PRODUCT.END_DAY']"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(时:分):
                            </label>

                            <div class="col-md-3">
                                <input type="text" class="form-control time"
                                       ng-model="modify['APPOINTMENT_PRODUCT.TIME_START']"
                                       ng-init="modify['APPOINTMENT_PRODUCT.TIME_START']='08:00'"
                                       placeholder="">
                            </div>
                             <label class="col-md-1 control-label">
                                  <span>到</span>  
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control time"
                                       ng-model="modify['APPOINTMENT_PRODUCT.TIME_END']"
                                       ng-init="modify['APPOINTMENT_PRODUCT.TIME_END']='19:00'"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 备注:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="modify['APPOINTMENT_PRODUCT.REMARK']"
                                       placeholder=""></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="modifyAppointment()" class="btn green">确定
                    </button>
                    <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--END 新增单位-->

    <!--BEGIN 修改单位-->
    <div class="modal fade text-left" id="add" tabindex="-1"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">新增预约商品</h4>
                </div>
                <div class="modal-body form-body text-right">

                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 商品:
                            </label>

                            <div class="col-md-8">
                                <span class="text-center col-md-12" show-modal
                                      id="#productItemSwitchModal">
                                    <span ng-if="currPrd==undefined">选择商品</span>
                                    <span ng-if="currPrd!=undefined"
                                          ng-bind="currPrd['SHOP_PRODUCT_SKU.PRD_INFO']['SHOP_PRODUCT.PRD_NAME'] + '    (点击修改)'"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预约商品描述:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.NAME']"
                                       ng-init="add['APPOINTMENT_PRODUCT.NAME']=''"
                                       placeholder=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预约价:
                            </label>

                            <div class="col-md-8">
                                <input type="text" money class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.PRICE']"
                                       ng-init="add['APPOINTMENT_PRODUCT.PRICE']=''"
                                       placeholder=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 预付款:
                            </label>

                            <div class="col-md-8">
                                <select ng-model="add['APPOINTMENT_PRODUCT.NEED_PAY']"
                                        ng-init="add['APPOINTMENT_PRODUCT.NEED_PAY']='-1'"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="1">需要</option>
                                    <option class="nya-bs-option" value="-1">不需要</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 control-label">
                              <span class="required" style="color: red"> * </span> 地区:
                          </label>

                          <div class="col-md-8">
		                          	<select ng-model="add['APPOINTMENT_PRODUCT.CITY']"
		                          			  ng-init="add['APPOINTMENT_PRODUCT.CITY']='1'"
		                                     class="nya-bs-select form-control">
		                                     
		                                     <option class="nya-bs-option"
			                                value="1">
			                                南京
			                        </option>
			                        
			                        <option class="nya-bs-option"
			                                value="2">
			                                常州
			                        </option>
		                                 
		                                 </select>
		                          </div>
		                </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 库存数量:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.STOCK']"
                                       ng-init="add['APPOINTMENT_PRODUCT.STOCK']=1"
                                       placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 每人限购:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.NUM_LIMIT']"
                                       ng-init="add['APPOINTMENT_PRODUCT.NUM_LIMIT']=0"
                                       placeholder="0代表不限购">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间类型:
                            </label>

                            <div class="col-md-8">
                                <select ng-model="add['APPOINTMENT_PRODUCT.TIME_TYPE']"
                                        ng-init="add['APPOINTMENT_PRODUCT.TIME_TYPE']='WEEK'"
                                        ng-change="add['APPOINTMENT_PRODUCT.START_TIME']==add['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK'?'1':''"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="WEEK">按周</option>
                                    <option class="nya-bs-option" value="DAY">按天</option>
                                    <option class="nya-bs-option" value="WEEK_COMB">周自定义</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" ng-show="add['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(周):
                            </label>
                            <div class="col-md-8">
                                <select ng-model="add['APPOINTMENT_PRODUCT.START_TIME']"
                                        ng-init="add['APPOINTMENT_PRODUCT.START_TIME']='3'"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="1">周一</option>
                                    <option class="nya-bs-option" value="2">周二</option>
                                    <option class="nya-bs-option" value="3">周三</option>
                                    <option class="nya-bs-option" value="4">周四</option>
                                    <option class="nya-bs-option" value="5">周五</option>
                                    <option class="nya-bs-option" value="6">周六</option>
                                    <option class="nya-bs-option" value="7">周日</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" ng-show="add['APPOINTMENT_PRODUCT.TIME_TYPE']=='DAY'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(天):
                            </label>
                            <div class="col-md-8">
                                <input id="startDay1" type="text" ng-model="add['APPOINTMENT_PRODUCT.START_TIME']" class="form-control inputWidth"  placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row" ng-show="add['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK_COMB'">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(自定义):
                            </label>
                            <div class="col-md-8">
                                   <select ng-model="add['APPOINTMENT_PRODUCT.START_TIME']"
                                       class="multiselect">
									<option class="nya-bs-option" value="1">周一</option>
                                    <option class="nya-bs-option" value="2">周二</option>
                                    <option class="nya-bs-option" value="3">周三</option>
                                    <option class="nya-bs-option" value="4">周四</option>
                                    <option class="nya-bs-option" value="5">周五</option>
                                    <option class="nya-bs-option" value="6">周六</option>
                                    <option class="nya-bs-option" value="7">周日</option>
								  </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 可提货天数:
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.STILL_DAY']"
                                       ng-init="add['APPOINTMENT_PRODUCT.STILL_DAY']=1"
                                       ng-disabled="add['APPOINTMENT_PRODUCT.TIME_TYPE']=='WEEK_COMB'"
                                       placeholder="1" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 下单间隔(小时):
                            </label>

                            <div class="col-md-8">
                                <input type="number" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.END_DAY']"
                                       ng-init="add['APPOINTMENT_PRODUCT.END_DAY']=1"
                                       placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 提货时间(时:分):
                            </label>

                            <div class="col-md-3">
                                <input type="text" class="form-control time"
                                       ng-model="add['APPOINTMENT_PRODUCT.TIME_START']"
                                       ng-init="add['APPOINTMENT_PRODUCT.TIME_START']='08:00'"
                                       placeholder="">
                            </div>
                             <label class="col-md-1 control-label">
                                  <span>到</span>  
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control time"
                                       ng-model="add['APPOINTMENT_PRODUCT.TIME_END']"
                                       ng-init="add['APPOINTMENT_PRODUCT.TIME_END']='19:00'"
                                       placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 备注:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="add['APPOINTMENT_PRODUCT.REMARK']"
                                       ng-init="add['APPOINTMENT_PRODUCT.REMARK']=''"
                                       placeholder=""></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="addAppointment()">确定
                    </button>
                    <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <product-item-switch-modal callback="prdSwitch(data)"></product-item-switch-modal>

</div>
<!-- END CONTENT -->