@charset "UTF-8";
/*
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Microsoft Yahei";
}
ul{
	list-style-type: none;
}*/
/* line 12, ../../sass/public/style.scss */
a, a:link, a:visited,
a:hover, a:focus, a:active {
  text-decoration: none; }

/*p{
	margin-bottom: 0;
}
table{
	border: 1px solid #ddd;
}*/
/* line 22, ../../sass/public/style.scss */
.bg-grey {
  background-color: #eee; }

/*.modal-header{
	padding: 15px 20px 15px 30px;
	background-color: #F0F0F0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}*/
/*.modal-body{
	padding:40px 30px 20px 30px;
}
.show-msg{
	font-size: 16px;
}*/
/*.close{
	font-size: 38px;
	font-weight: 500px;
	line-height: 0.4;
}*/
/*琛ㄦ牸*/
/*.table{
	margin-bottom: 0;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	border-top: 1px solid #eaeaed;
}
.table>tbody>tr>td{
	font-size: 15px;
}
.table>tbody>tr>td,
.table>thead>tr>th{
	padding-top: 16px;
	text-align: right;
}
.table>thead>tr>th:first-child,
.table>tbody>tr>td:first-child{
	text-align: left;
}
.table>thead>tr>th{
	border-bottom: 0;
	vertical-align: middle;
	padding-top: 10px;
}
*/
/*鍥炬爣*/
/* line 73, ../../sass/public/style.scss */
.dot {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #359efd;
  margin-bottom: 3px; }

/* line 81, ../../sass/public/style.scss */
.caret {
  color: #d6d6d6;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

/*button*/
/*.btn{
	border-radius: 0;
	font-size: 14px;
	outline: none;
}*/
/*.btn-reg,
.btn-reg:link,.btn-reg:visited,.btn-reg:focus,.btn-reg:active{
	background-color: #1393ff;
	color: #fff;
}
.btn-reg:hover{
	color: #fff;
	background-color: #2e95f2;
}
.btn-defult,
.btn-defult:link,.btn-defult:visited,.btn-defult:focus,.btn-defult:active{
	background-color: #fff;
	color: #666;
	border:1px solid #e6e6e6;
}
.btn-defult:hover{
	color: #666;
	background-color: #fbfbfb;
}*/
/*icon*/
/*icon-nav*/
/* line 116, ../../sass/public/style.scss */
.icon-home {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -16px 0;
  margin-right: 9px;
  vertical-align: bottom; }

/* line 124, ../../sass/public/style.scss */
.icon-ring {
  width: 16px;
  height: 19px;
  display: inline-block;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat 0 0;
  margin-right: 18px;
  margin-top: 10px;
  vertical-align: top; }

/*top-nav-user*/
/* line 134, ../../sass/public/style.scss */
.icon-operate {
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 15px; }

/* line 140, ../../sass/public/style.scss */
.icon-operate-personal {
  width: 15px;
  height: 15px;
  background: url(/AndSell/pc/public/css/img/icon-user.png) no-repeat -47px 0; }

/* line 145, ../../sass/public/style.scss */
.icon-operate-prefer {
  width: 18px;
  height: 17px;
  background: url(/AndSell/pc/public/css/img/icon-user.png) no-repeat 0 0; }

/* line 150, ../../sass/public/style.scss */
.icon-operate-app {
  width: 15px;
  height: 14px;
  background: url(/AndSell/pc/public/css/img/icon-user.png) no-repeat -62px 0; }

/* line 155, ../../sass/public/style.scss */
.icon-operate-reset {
  width: 13px;
  height: 15px;
  background: url(/AndSell/pc/public/css/img/icon-user.png) no-repeat -34px 0; }

/* line 160, ../../sass/public/style.scss */
.icon-operate-quit {
  width: 16px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon-user.png) no-repeat -18px 0; }

/* line 165, ../../sass/public/style.scss */
.icon-operate-star {
  width: 17px;
  height: 17px;
  background: url(/AndSell/pc/public/css/img/icon-operate.png) no-repeat -14px 0; }

/* line 170, ../../sass/public/style.scss */
.icon-operate-detail {
  width: 16px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon-operate.png) no-repeat -31px 0; }

/* line 175, ../../sass/public/style.scss */
.icon-operate-note {
  width: 14px;
  height: 17px;
  background: url(/AndSell/pc/public/css/img/icon-operate.png) no-repeat 0 0; }

/* line 180, ../../sass/public/style.scss */
.icon-operate-checked {
  width: 16px;
  height: 11px;
  background: url(/AndSell/pc/public/css/img/icon-operate.png) no-repeat -63px -5px; }

/* line 185, ../../sass/public/style.scss */
.icon-operate-delete {
  width: 16px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon-operate.png) no-repeat -47px 0; }

/* line 190, ../../sass/public/style.scss */
.online {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: #1393ff;
  position: absolute;
  top: 24px;
  left: 14px; }

/*icon-sidebar*/
/* line 201, ../../sass/public/style.scss */
.icon {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 10px; }

/* line 207, ../../sass/public/style.scss */
.icon-order {
  width: 13px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat 0 -19px; }

/* line 212, ../../sass/public/style.scss */
.icon-product {
  width: 15px;
  height: 15px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -50px -16px; }

/* line 217, ../../sass/public/style.scss */
.icon-stock {
  width: 15px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -13px -18px; }

/* line 222, ../../sass/public/style.scss */
.icon-client {
  width: 16px;
  height: 17px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -34px 0; }

/* line 227, ../../sass/public/style.scss */
.icon-analyse {
  width: 16px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -50px 0; }

/* line 232, ../../sass/public/style.scss */
.icon-setting {
  width: 17px;
  height: 16px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat 0 -35px; }

/* line 237, ../../sass/public/style.scss */
.icon-del {
  display: inline-block;
  float: left;
  width: 26px;
  height: 26px;
  background: url(/AndSell/pc/public/css/img/icon-del.png);
  margin-right: 8px; }

/*top-nav*/
/* line 246, ../../sass/public/style.scss */
.nav-wrap {
  width: 100%;
  height: 72px;
  border-top: 5px solid #1393ff;
  border-bottom: 1px solid #dddcdc;
  background-color: #fff; }

/* line 253, ../../sass/public/style.scss */
.nav-content {
  width: 1228px;
  height: 67px;
  margin: 0 auto; }

/* line 258, ../../sass/public/style.scss */
.nav-head {
  float: left;
  width: 228px;
  padding-left: 30px; }

/* line 263, ../../sass/public/style.scss */
.nav-head h4 {
  margin-top: 23px;
  vertical-align: middle; }

/* line 267, ../../sass/public/style.scss */
.nav-main {
  float: left; }

/* line 270, ../../sass/public/style.scss */
.nav-main li {
  float: left;
  width: 97px;
  line-height: 67px;
  margin: 0 20px;
  font-size: 16px;
  text-align: center; }

/* line 278, ../../sass/public/style.scss */
.nav-main li a {
  display: block;
  height: 67px;
  color: #636363; }

/* line 283, ../../sass/public/style.scss */
.nav-main .active,
.nav-main li a:hover {
  border-bottom: 3px solid #1393ff; }

/* line 287, ../../sass/public/style.scss */
.nav-main .addNav {
  position: relative;
  margin-top: 26px;
  height: 19px;
  width: 19px;
  background-color: #d6d6d6;
  border-radius: 10px;
  color: #000;
  cursor: pointer; }

/* line 297, ../../sass/public/style.scss */
.nav-main .addNav:hover {
  background-color: #1393ff; }

/* line 300, ../../sass/public/style.scss */
.user {
  float: right;
  padding-top: 15px;
  position: relative;
  vertical-align: top; }

/* line 306, ../../sass/public/style.scss */
.user .caret {
  vertical-align: top;
  margin-top: 17px; }

/* line 310, ../../sass/public/style.scss */
.user-head img {
  width: 38px;
  height: 38px; }

/* line 314, ../../sass/public/style.scss */
.user-dropdown {
  cursor: pointer;
  display: inline-block; }

/* line 318, ../../sass/public/style.scss */
.user .dropdown-menu {
  padding: 0;
  left: -67px;
  top: 70px; }

/*.dropdown-menu{
	min-width: 163px;
	padding: 0;
	top: 70px;
	left: -72px;
}*/
/* line 329, ../../sass/public/style.scss */
.dropdown-menu li {
  height: 43px;
  line-height: 43px;
  padding-left: 58px;
  font-size: 14px;
  color: #5d5d5d;
  cursor: pointer;
  position: relative; }

/* line 338, ../../sass/public/style.scss */
.dropdown-menu li:hover {
  background-color: #f4f4f4; }

/* line 341, ../../sass/public/style.scss */
.user-operate {
  position: relative; }

/* line 344, ../../sass/public/style.scss */
.user-operate .dropdown-menu {
  top: -2px;
  left: -165px; }

/* line 348, ../../sass/public/style.scss */
.user-operate .arrow-right, .arrow-right:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

/* line 356, ../../sass/public/style.scss */
.user-operate .arrow-right {
  right: -12px;
  top: 20px;
  margin-bottom: -11px;
  border-width: 11px;
  border-right-width: 0;
  border-left-color: #ccc; }

/* line 364, ../../sass/public/style.scss */
.user-operate .arrow-right:after {
  right: 2px;
  top: -10px;
  margin-bottom: -10px;
  content: "";
  border-width: 10px;
  border-right-width: 0;
  border-left-color: #fff; }

/*icon-sidebar*/
/*-------------------------*/
/*icon*/
/* line 379, ../../sass/public/style.scss */
.icon-require {
  display: inline-block;
  position: relative;
  height: 21px;
  width: 21px;
  margin-left: 10px;
  background: url(/AndSell/pc/public/css/img/icon-require.png) no-repeat 0 0;
  cursor: pointer; }

/* line 388, ../../sass/public/style.scss */
.icon-require:hover {
  background: url(/AndSell/pc/public/css/img/icon-require.png) no-repeat -21px 0; }

/* line 391, ../../sass/public/style.scss */
.icon-check {
  display: inline-block;
  background: url(/AndSell/pc/public/css/img/check.png);
  width: 15px;
  height: 11px;
  float: left;
  margin: 5px 0 0 -42px;
  opacity: 0; }

/* line 400, ../../sass/public/style.scss */
.icon-search {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 10px 0 0 10px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -17px -35px;
  vertical-align: middle; }

/* line 409, ../../sass/public/style.scss */
.icon-addNav {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: url(/AndSell/pc/public/css/img/icon.png) no-repeat -28px -19px;
  position: absolute;
  top: 1px;
  left: 1.9px; }

/* line 421, ../../sass/public/style.scss */
.icon-modal-order {
  display: inline-block;
  width: 14px;
  height: 21px;
  background: url(/AndSell/pc/public/css/img/icon-modal-order.png) no-repeat;
  margin-right: 10px;
  vertical-align: bottom; }

/*popover*/
/* line 432, ../../sass/public/style.scss */
.pop {
  position: absolute;
  top: 49px;
  right: -45px;
  width: 214px;
  padding: 18px 15px;
  font-size: 16px;
  color: #bbb;
  background-color: #fff;
  z-index: 1000;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none; }

/* line 447, ../../sass/public/style.scss */
.pop > .pop-arrow,
.pop > .pop-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

/* line 456, ../../sass/public/style.scss */
.pop > .pop-arrow {
  top: -11px;
  left: 70%;
  margin-left: -11px;
  border-width: 11px;
  border-top-width: 0;
  border-bottom-color: #eee; }

/* line 464, ../../sass/public/style.scss */
.pop > .pop-arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-width: 10px;
  border-top-width: 0;
  border-bottom-color: #fff; }

/* line 472, ../../sass/public/style.scss */
.pop .pop-content {
  line-height: 1.5; }

/*nav*/
/*wrap*/
/* line 479, ../../sass/public/style.scss */
.effectiveArea {
  padding: 0;
  width: 1200px;
  margin: 35px auto 0;
  /*background-color: #f6f6f6;*/
  }


/*sidebar*/
/* line 488, ../../sass/public/style.scss */
.effectiveArea .sidebar {
  margin-top: 25px;
  float: left;
  width: 223px;
  padding-top: 29px;
  background-color: #fff;
}

/* line 494, ../../sass/public/style.scss */
.effectiveArea .sidebar ul {
  margin-bottom: 34px; }

/* line 497, ../../sass/public/style.scss */
.effectiveArea .sidebar li {
  height: 36px;
  line-height: 36px;
  padding-left: 55px;
  font-size: 14px;
  color: #4a4a4a;
  cursor: pointer; }

/* line 505, ../../sass/public/style.scss */
.effectiveArea .sidebar li:hover {
  background-color: #f9f9f9; }
.effectiveArea .sidebar .selected {
  color: #f36e19; }

/* line 508, ../../sass/public/style.scss */
.effectiveArea .sidebar .active,
.effectiveArea .sidebar .active:hover {
  background-color: #1393ff;
  color: #fff; }

/* line 513, ../../sass/public/style.scss */
.effectiveArea .sidebar .sidebar-title {
  font-size: 18px;
  color: #bbb;
  position: relative;
  padding-left: 55px;
  height: 36px;
  line-height: 36px; }

/* line 522, ../../sass/public/style.scss */
.row-wrap {
  float: right;
  width: 1003px;
  margin-top: 25px;
}

/*title*/
/* line 528, ../../sass/public/style.scss */
.row-header {
  height: 70px;
  line-height: 70px;
  padding-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid #e0e0e0; }

/* line 535, ../../sass/public/style.scss */
.toolbar {
  padding: 20px 40px 0;
  overflow: hidden; }

/* line 539, ../../sass/public/style.scss */
.save-btns {
  padding-top: 10px;
  text-align: center; }

/*.row-wrap .modal-sm{
	width: 485px;
}
.row-wrap .modal-lg{
	width: 1100px;
}*/
/*.row-wrap .modal-head{
	padding:20px 20px 30px 35px;
	font-size: 18px;
	color: #4a4a4a;
}*/
/*.row-wrap .modal-header{
	font-size: 18px;
}*/
/*.row-wrap .modal-inner{
	width: 920px;
	margin:0 auto;
	padding: 30px 0;
}*/
/*.row-wrap .modal-inner .table-wrap{
	margin-bottom: 40px;
}*/
/*.row-wrap .modal-inner .modal-table-head{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border:1px solid #ddd;
	border-left: 4px solid #1393ff;
	border-bottom: none;
	padding:0 12px 0;
}
.row-wrap .modal-inner .table td{
	text-align: left;
	padding-left: 22px;
}
.row-wrap .modal-inner .table .td-title{
	display: inline-block;
	width: 56px;
	font-size: 14px;
	color: #9c9c9c;
	margin-right: 16px;
}
.row-wrap .modal-inner .table .th-title{
	font-size: 14px;
	color: #9c9c9c;
}*/
/* line 589, ../../sass/public/style.scss */
.row-wrap .row-input {
  float: left;
  width: 210px;
  height: 34px;
  border: 1px solid #d0d1d4;
  padding-left: 10px;
  overflow: hidden; }

/* line 597, ../../sass/public/style.scss */
.row-wrap .row-input input {
  height: 33px;
  width: 164px;
  border: none;
  border-right: 1px solid #d0d1d4;
  outline: none; }

/* line 604, ../../sass/public/style.scss */
.toolbar .btn-search {
  float: right;
  width: 34px;
  height: 34px;
  cursor: pointer; }

/* line 610, ../../sass/public/style.scss */
.toolbar .addTerm {
  border: 1px solid #1393ff;
  width: 117px;
  height: 33px;
  float: right;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

/* line 618, ../../sass/public/style.scss */
.toolbar .addTerm .text {
  float: left;
  width: 89px;
  background-color: #1393ff;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer; }

/* line 630, ../../sass/public/style.scss */
.toolbar .addTerm .text:hover {
  background-color: #168bee; }

/* line 633, ../../sass/public/style.scss */
.operate {
  float: right;
  height: 31px;
  padding: 9px 0 0 11px;
  width: 26px;
  cursor: pointer; }

/* line 640, ../../sass/public/style.scss */
.toolbar .addTerm .operate:hover {
  background-color: #fbfbfb; }

/* line 643, ../../sass/public/style.scss */
.row-content {
  padding: 20px 40px 0; }

/*.row-content .table-wrap{
	border: 1px solid #e0e0e0;
}*/
/*.row-content .table-head{
	height: 37px;
	font-size: 14px;
	background-color: #f5f6f9;
	color: #4a4a4a;
	border-bottom: 1px solid #eaeaed;
}
.row-content .table-head .order-sort{
	display: inline-block;
	line-height: 37px;
	padding-left: 10px;
	margin-right: 30px;
}
.row-content .table-head .time-pick{
	display: inline-block;
	line-height: 37px;
}
.row-content tr{
	height: 53px;
	position: relative;
}*/
/*.row-content .table .operate{
	padding: 3px 0 0 14px;
}*/
/*.row-content .table .user-opreate{
	position: relative;
}*/
/* line 676, ../../sass/public/style.scss */
tbody > tr:hover .icon-check {
  opacity: 1; }

/*.table-hover > tbody > tr:hover .operate{
	display: block;
}*/
/*form*/
/*.row-content .required{
	color: #1393ff;
	vertical-align: middle;
	margin-right: 5px;
}*/
/*.row-content .form-group{
	position: relative;
}*/
/*.row-content label{
	width: 98px;
	text-align: right;
	font-size: 16px;
	font-weight: 400;
	color: #767677;
	margin-right: 22px;
}*/
/*.row-content input{
	width: 458px;
	height: 40px;
	font-size: 16px;
	color: #767677;
	padding-left: 10px;
	border:0;
	border-bottom: 1px solid #eaeaed;
	outline: none;
}*/
/*.row-content input[disabled],
.row-content select[disabled]
{
	    background-color: #fbfafa;
}
.row-content .r-tips{
	font-size: 13px;
	color: #cacaca;
	padding-left: 10px;
}
.row-content .b-tips{
	position: absolute;
	top: 45px;
	left: 120px;
	font-size: 13px;
	color: #767677;
}*/
/*.row-content .dropdown{
	display: inline-block;
	width: 136px;
	height: 37px;
	padding:0 16px;
	margin-right: 28px;
	font-size: 15px;
	color: #b2b1b1;
	border:0;
	border-bottom: 1px solid #eaeaed;
	outline: none;
	cursor: pointer;
}
.row-content .dropdown-disabled{
	background-color: #fbfafa;
	pointer-events:none;
}
.row-content .dropdown .dropdown-menu{
	min-width: 120px;
	padding:0;
	border-top: 0;
}
.row-content .dropdown .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	color: #b2b1b1;
	cursor: pointer;
}
.row-content .dropdown .dropdown-menu li:hover{
	background-color: #f4f4f4;
}*/
/*.row-content .dropdown .caret{
	float: right;
	margin-top: 8px;
	border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}*/
/*.row-content .form-group{
	margin-bottom: 38px;
}*/
/*.row-content option:hover{
	background-color: #f4f4f4;
}*/
/*.row-content .icon-require:hover .pop{
	display: block;
}*/
/*.row-content .btn-upload-wrap{
	position: absolute;
	left: 483px;
}*/
/* line 780, ../../sass/public/style.scss */
.page_control {
  float: right;
  color: #9b9b9b;
  font-size: 15px;
  padding: 16px 40px; }

/* line 785, ../../sass/public/style.scss */
.page_control * {
  vertical-align: top;
  line-height: 32px;
  box-sizing: border-box; }

/* line 789, ../../sass/public/style.scss */
.page_control div {
  display: inline-block; }

/* line 791, ../../sass/public/style.scss */
.page_control .total_count {
  margin-right: 17px; }

/* line 793, ../../sass/public/style.scss */
.page_control .count_control select, .page_control .count_control .select {
  width: 67px;
  height: 32px;
  border: none;
  padding-left: 10px;
  background-color: transparent;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(/AndSell/pc/public/css/img/trangle.png);
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: 12px 6px; }

/* line 807, ../../sass/public/style.scss */
.page_control .count_control .select {
  cursor: pointer;
  border: 1px solid #eaeaed;
  position: relative; }

/* line 811, ../../sass/public/style.scss */
.page_control .count_control .select .select_show {
  font-size: 13px;
  color: #434343;
  height: 30px;
  padding: 0;
  margin: 0; }

/* line 817, ../../sass/public/style.scss */
.page_control .count_control .select.active ul {
  display: block; }

/* line 819, ../../sass/public/style.scss */
.page_control .count_control .select ul {
  width: 100%;
  height: auto;
  display: none;
  margin: 0;
  transition: all .3s ease;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 100%;
  padding: 0;
  z-index: 999;
  border: 1px solid #f4f3f3;
  list-style-type: none; }

/* line 833, ../../sass/public/style.scss */
.page_control .count_control .select ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #9b9b9b;
  font-size: 14px;
  padding-left: 10px; }

/* line 841, ../../sass/public/style.scss */
.page_control .count_control .select ul li:hover {
  background-color: #f4f3f3; }

/* line 843, ../../sass/public/style.scss */
.page_control .single_page .left_btn, .page_control .single_page .right_btn {
  display: inline-block;
  width: 32px;
  height: 30px;
  background-color: white;
  background-image: url(/AndSell/pc/public/css/img/deep-triangle.png);
  background-size: 12px 6px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #f4f3f3;
  transform: rotate(90deg);
  transition: all .3s ease;
  cursor: pointer; }

/* line 856, ../../sass/public/style.scss */
.page_control .single_page .left_btn:hover, .page_control .single_page .right_btn:hover {
  background-color: #f4f3f3; }

/* line 858, ../../sass/public/style.scss */
.page_control .single_page .right_btn {
  transform: rotate(270deg); }

/* line 860, ../../sass/public/style.scss */
.page_control .single_page .count {
  color: #434343;
  font-size: 13px; }

/* line 863, ../../sass/public/style.scss */
.page_control .jump_page input {
  border: none;
  height: 32px;
  border: 1px solid #f4f3f3; }

/* line 867, ../../sass/public/style.scss */
.page_control .jump_page input[type=text] {
  width: 60px; }

/* line 869, ../../sass/public/style.scss */
.page_control .jump_page input.jump {
  width: 60px;
  text-align: center;
  background-color: white;
  transition: all .3s ease;
  color: #9b9b9b;
  font-size: 15px;
  vertical-align: top;
  line-height: 16px;
  cursor: pointer; }

/* line 879, ../../sass/public/style.scss */
.page_control .jump_page input.jump:hover {
  background-color: #f4f3f3; }
