<div class="page-content">


    <div class="col-md-12">
        <div class="page-operation-wrap">
            <div class="row">
                <div class="col-md-2">
                    <select ng-model="filter['BANNER.POSITION']"
                            ng-init="filter['BANNER.POSITION']=''"
                            ng-options="item['BANNER_POSITION.ID'] as item['BANNER_POSITION.NAME'] for item in positionList "
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="">
                            <!--ng-options="store.id as store.name for store in storeList"-->
                            所属位置
                        </option>
                    </select>
                </div> <!-- select-center  -->
                <div class="col-md-offset-3 col-md-4">
                    <!--<label class="control-label">排序：</label>-->
                    <!--<select class="nya-bs-select">-->
                        <!--<option class="nya-bs-option" value="null">-->
                            <!--位置-->
                        <!--</option>-->
                        <!--<option class="nya-bs-option" value="2">-->
                            <!--名称-->
                        <!--</option>-->
                    <!--</select>-->
                </div>
                <div class="col-md-3 text-right">
                    <button show-modal id="#addBanner" class="btn btn-default sbold green">
                        <i class="fa fa-plus"></i>新增横幅
                    </button>
                </div>
            </div>

        </div>

        <div class="table-scrollable">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-md-1">横幅名称</th>
                    <th class="col-md-1">横幅描述</th>
                    <th class="col-md-2">横幅位置</th>
                    <th class="col-md-1">排序</th>
                    <th class="col-md-1 text-center"> 操作</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="(key,item) in bannerList">
                    <td>
                        <span ng-bind="item['BANNER.NAME']"></span>
                        <span ng-show="item['BANNER.STATE']==-1" style="color: red">(已停用)</span>
                    </td><!--横幅名称-->
                    <td ng-bind="item['BANNER.INTRO']"></td> <!--规则描述-->
                    <td ng-bind="positionMap[item['BANNER.POSITION_ID']]"></td> <!--横幅位置-->
                    <td class="text-center">
                        <a ng-show="key!=0" ng-click="changeOrderNumUp(item,key)">↑</a>
                        &nbsp;
                        <a ng-if="bannerList[key+1]!=undefined" ng-click="changeOrderNumDown(item,key)">↓</a>
                    </td> <!--横幅位置-->
                    <td class="text-center">
                        <!--<a show-modal id="#couponDetail" class="btn sbold green" ng-click="detailClick(item)">明细</a>-->
                        <a show-modal id="#modBanner" ng-click="modifyClick(item)">修改</a>
                        <a show-modal ng-click="delBanner(item)">删除</a>
                        <a show-modal ng-if="item['BANNER.STATE']==1" ng-click="stopBanner(item)">停用</a>
                        <a show-modal ng-if="item['BANNER.STATE']==-1" ng-click="stopBanner(item)">启用</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div page-bar
         filter-obj="filter"
         url="/banner/banner/queryAll"
         callback="bindData(response)">
    </div>
</div>

<!--BEGIN 新增横幅-->
<div class="modal fade text-left" id="addBanner" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">添加横幅</h4>
            </div>
            <div class="modal-body form-body text-right">

                <form class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span>横幅名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['BANNER.NAME']"
                                   ng-init="add['BANNER.NAME']=''"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            横幅描述
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['BANNER.INTRO']"
                                   ng-init="add['BANNER.INTRO']=''"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            横幅位置
                        </label>

                        <div class="col-md-8">
                            <select ng-model="add['BANNER.POSITION_ID']"
                                    ng-init="add['BANNER.POSITION_ID']=''"
                                    class="nya-bs-select form-control"
                                    ng-options="item['BANNER_POSITION.ID'] as item['BANNER_POSITION.NAME'] for item in positionList ">
                                <option class="nya-bs-option" value="">选择横幅位置</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            商品标签
                        </label>

                        <div class="col-md-8">
                            <select ng-model="add['BANNER.TAG_ID']"
                                    ng-init="add['BANNER.TAG_ID']=''"
                                    class="nya-bs-select form-control"
                                    ng-options="item['SHOP_TAG.TAG_ID'] as item['SHOP_TAG.TAG'] for item in tagList ">
                                <option class="nya-bs-option" value="">选择商品标签</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            图片
                        </label>

                        <div class="col-md-8">
                            <label>

                                <input class="hidden" type="file"
                                       id="image" name='image'
                                       onchange="angular.element(this).scope().uploadImage(this)"
                                >
                                <img ng-src="{{FILE_SERVER_DOMAIN+uploadImageFiles}}?x-oss-process=image/resize,m_fill,h_100,w_300"
                                     class="img-responsive" style="height:100%;width: 400px" alt="添加横幅图片">
                            </label>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            链接
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['BANNER.URL']"
                                   ng-init="add['BANNER.URL']=''"
                                   placeholder="请输入超链接的URL">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            开始时间
                        </label>

                        <div class="col-md-8">
                            <!-- <input type="text" class="form-control"
                                    ng-model="add['BANNER.BEGIN_DATETIME']"
                                    ng-init="add['BANNER.BEGIN_DATETIME']=''"
                                    placeholder="">-->
                            <input type="datetime-local" class="form-control" id="startTime"/>
                            <!--<input type="time"  class="col-md-4"  id="startTime"/>-->
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            结束时间
                        </label>

                        <div class="col-md-8">

                            <input type="datetime-local" class="form-control" id="endTime"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addBannerInfo()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 新增横幅-->
<!--BEGIN 修改横幅-->
<div class="modal fade text-left" id="modBanner" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">修改横幅信息</h4>
            </div>
            <div class="modal-body form-body text-right">

                <form class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span>横幅名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="mod['BANNER.NAME']">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            横幅描述
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="mod['BANNER.INTRO']">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            横幅位置
                        </label>

                        <div class="col-md-8">
                            <select ng-model="mod['BANNER.POSITION_ID']"
                                    class="nya-bs-select form-control"
                                    ng-options="item['BANNER_POSITION.ID'] as item['BANNER_POSITION.NAME'] for item in positionList ">
                                <option class="nya-bs-option" value="">选择横幅位置</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            商品标签
                        </label>

                        <div class="col-md-8">
                            <select ng-model="mod['BANNER.TAG_ID']"
                                    class="nya-bs-select form-control"
                                    ng-options="item['SHOP_TAG.TAG_ID'] as item['SHOP_TAG.TAG'] for item in tagList ">
                                <option class="nya-bs-option" value="">选择商品标签</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            图片
                        </label>

                        <div class="col-md-8">
                            <!--<input type="text" class="form-control"
                                   ng-model="mod['BANNER.PICTURE']">-->
                            <label>

                                <input class="hidden" type="file"
                                       id="image2" name='image'
                                       onchange="angular.element(this).scope().uploadImage(this)"
                                >
                                <img ng-src="{{FILE_SERVER_DOMAIN+uploadImageFiles}}?x-oss-process=image/resize,m_fill,h_100,w_300"
                                     class="img-responsive" style="height:100%;width: 400px" alt="修改横幅图片">
                            </label>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            链接
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="mod['BANNER.URL']">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            开始时间
                        </label>

                        <div class="col-md-8">
                            <input type="datetime-local" value="{{modifyTime(mod['BANNER.BEGIN_DATETIME'])}}"
                                   class="form-control" id="mStartTime"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            结束时间
                        </label>

                        <div class="col-md-8">
                            <input type="datetime-local" value="{{modifyTime(mod['BANNER.END_DATETIME'])}}"
                                   class="form-control" id="mEndTime"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="modBannerInfo()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 修改横幅-->


<!--BEGIN 优惠规则详情-->

</div>
<!--END 优惠规则详情-->