<div class="user sign-up">
    <div class="user-wrap">
        <div class="logo-wrap">
        <img class="logo" src="../../public/img/login_logo.png">
    </div>
        <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel"
                       placeholder="请输入手机号" ng-model="memberInfo['MEMBER.LOGIN_ID']" ng-blur="ckeckPhone()">
            </div>
        </div>
        <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="验证码" ng-model="memberInfo['MEMBER.CHECKCODE']">
                    <a class="vcode-btn btn-gray" href="javascript:;" ng-click="sendSms()">发送验证码</a>
                </div>
            </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="password" name="password"
                       placeholder="新密码密码" ng-model="memberInfo['MEMBER.PWD']" ng-blur="checkPwd()">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="password" name="password"
                       placeholder="确认密码" ng-model="memberInfo['MEMBER.password']" ng-blur="checkPassword()">
            </div>
        </div>
    </div>
        <div class="login-other">
            <a class="btn-link" ui-sref="pages/user/register">
                注册新账号
            </a>
            <a class="btn-link pull-right" ui-sref="pages/user/accountLogin">
                返回登录
            </a>
        </div>
        <div class="weui_btn_area">
        <button class="weui_btn my-btn-default" type="submit" ng-click = updateInfo()>确认</button>
    </div>
    </div>
</div>

