<div class="user sign-up">
    <div class="user-wrap">
    <div class="logo-wrap">
        <img class="logo" src="../../public/img/login_logo.png">
    </div>

    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd">
                <input class="weui_input" type="tel" placeholder="手机号" ng-init="memberInfo['MEMBER.LOGIN_ID'] =''" ng-model="memberInfo['MEMBER.LOGIN_ID']" ng-blur="ckeckPhone()" ng-change="showColor()">
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="验证码" ng-model="memberInfo['MEMBER.CHECKCODE']">
                <a class="vcode-btn btn-gray" href="javascript:;" ng-click="sendSms()">发送验证码</a>
                <div class="vcode-time" style="width: auto; height: 30px; background-color: rgb(247,247,247); line-height: 30px; color: rgb(192,192,192); position: absolute; top: 7px; right: 0px; padding-left: 10px; padding-right: 10px; display: none">
                    <span type="text" ng-bind="time"></span>s后重新发送
                </div>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="password" name="password"
                       placeholder="密码" ng-model="memberInfo['MEMBER.LOGIN_PWD']" ng-blur="checkPwd()">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="password" name="password"
                       placeholder="确认密码" ng-model="memberInfo['MEMBER.password']" ng-blur="checkPassword()">
            </div>
        </div>
    </div>
    <div class="check-wrap">
        <label class="remember">
            <my-check item="agree"></my-check>
            <!--同意注册协议-->

        </label>
        <a class="btn-link pull-right" ui-sref="pages/user/accountLogin">
            已有账号，直接登录
        </a>
    </div>
    <div class="weui_btn_area">
        <button class="weui_btn my-btn-default" type="submit" ng-click="reg()">注册</button>
    </div>
</div>
</div>




