<div class="page_control">
    <span class="total_count">共计：<span class="count" ng-bind="totalCount"></span>条</span>
    <div class="count_control">
        每页显示
        <div class="select" ng-init="selectPageSize = 10;">
            <p class="select_show" ng-bind="selectPageSize">10</p>
            <ul>
                <li class="show_limit">100</li>
                <li class="show_limit">50</li>
                <li class="show_limit">20</li>
                <li class="show_limit">10</li>
            </ul>
        </div>
    </div>
    <div class="count_control bu-mr-10">条</div>
    <div class="single_page">
        <span class="left_btn" ng-click="prevPage()"></span>
        <span class="count">{{currentPage}}/{{totalPage}}</span>
        <span class="right_btn bu-mr-10" ng-click="nextPage()"></span>
    </div>
    <div class="jump_page">
        <span class="count_control">到第</span>
        <input type="text" ng-model="currentPageMirror" class="text-center">
        <span class="count_control">页</span>
        <input type="submit" class="jump" ng-click="changePage()"  value="确认">
    </div>
</div>