<div class="container">
    <div class="productList">
        <div class="effectiveArea">
            <div class="rangeTab">
                <ul>
                    <li class="menu">默认</li>
                    <li class="menu">时间</li>
                    <li class="menu">销量</li>
                    <li class="menu">价格</li>
                    <li class="menu">评论</li>
                </ul>
            </div>
            <div class="products">
                <div class="eachPro" ng-repeat="item in prdList">
                    <div class="eachPro1">
                        <div class="proPic">
                            <img class="img eachPic"
                                 ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}?x-oss-process=image/resize,m_fill,h_220,w_220"
                            />
                        </div>
                        <div class="proInfo">
                            <span class="detail">{{item['SHOP_PRODUCT.PRD_NAME']}}</span>
                        </div>
                        <div class="proInfo">
                            <span class="detail">{{item['SHOP_PRODUCT.SKULIST'][0]['SHOP_PRODUCT_SKU.SKU_CONTENT_INFO']}}</span>
                        </div>
                        <div class="much">
                            <span class="detail money" ng-if="item['SHOP_PRODUCT.MINSKUPRICE']!=undefined"
                                  ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥'"></span>
                            <span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>
                        </div>
                        <div class="but show" ng-if="item['SHOP_PRODUCT.HAS_STOCK']!=0" ng-click="addToCart(item['SHOP_PRODUCT.SKULIST'][0])">
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div page-bar
         filter-obj="filter"
         url="/shop/product/queryAllForAgent"
         callback="bindData(response)">
    </div>

</div>

</div>
