/* line 2, ../sass/productList.scss */
body {
  font-family: 'Microsoft YaHei'; }

/* line 6, ../sass/productList.scss */
.container{
  background-color: #fff; }
.container .productList {
  background-color: #fff; }
/* line 9, ../sass/productList.scss */
.container .productList .effectiveArea {
  width: 1201px!important;
  }
.container .productList .effectiveArea .rangeTab {
  width: 1200px!important;
  height: 45px;
  background-color: #F9F9F7;
  padding-left: 0px; }
/* line 15, ../sass/productList.scss */
.container .productList .effectiveArea .rangeTab li {
  display: inline-block;
  font-size: 14px;
  color: #4b4b4b;
  cursor: pointer;
  line-height: 44px;
  /* margin-right: 38px; */
  margin-left: 40px; }
/* line 24, ../sass/productList.scss */
.container .productList .effectiveArea .products {
  width: 1202px;
  /* border: 1px solid #c1c1c1; */
  overflow: hidden;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  margin-top: 25px;
  margin-bottom: 35px; }
/* line 32, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro {
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 237px;
  height: 280px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  position: relative; }
/* line 42, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .eachPro1 {
  transition: all .3s ease; }
/* line 45, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .proPic {
  margin-left: 40px;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 30px; }
.container .productList .effectiveArea .products .eachPro .proPic .eachPic {
  width:100%;
  height:100%;
}
/* line 54, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .proInfo {
  line-height: 1.3; }
/* line 56, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .proInfo .detail {
  font-size: 14px;
  color: #4b4b4b; }
/* line 61, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .much {
  margin-bottom: 10px;
  margin-top: 5px; }
/* line 65, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .but {
  width: 157px;
  height: 30px;
  background-color: #f36f1a;
  margin-left: 35px;
  /* margin-top: 18px; */
  text-align: center;
  color: white;
  /* line-height: 33px; */ }
/* line 74, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .but .buy {
  font-size: 14px;
  line-height: 2.2; }
/* line 78, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .but .img {
  width: 22px;
  height: 20px;
  position: relative;
  left: -14px;
  top: 3px; }
/* line 85, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .show {
  opacity: 0; }
/* line 88, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro .money {
  color: #ff0000 !important; }
/* line 92, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro:hover {
  box-shadow: 0 0 14px #d6d4d4;
  border-right: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4; }
/* line 97, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro:hover .eachPro1 {
  transform: translateY(-20px); }
/* line 99, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro:hover .eachPro1 .proPic {
  transition: all .1s ease-in-out;
  transform: scale(0.9, 0.9);
  margin-bottom: 10px; }
/* line 104, ../sass/productList.scss */
.container .productList .effectiveArea .products .eachPro:hover .eachPro1 .show {
  opacity: 1; }
