<div class="page-content">
    <form action="" class="form-horizontal">
        <div class="form-title">
            订单设置
        </div>

        <div class="col-sm-12">
            <div class="col-sm-2">
                订单模式：
            </div>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="NORMAL" ng-model="ORDER_MODE"> 普通单
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="YYD" ng-model="ORDER_MODE"> 预订单
                </label>
            </div>
        </div>

        <div class="form-title">
            库存设置
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2">
                库存阈值：
            </div>
            <label class="radio-inline">
                <input type="radio" value="55" ng-model="INVENTORY_THRESHOLD"> 55%
            </label>
            <label class="radio-inline">
                <input type="radio" value="65" ng-model="INVENTORY_THRESHOLD"> 65%
            </label>
            <label class="radio-inline">
                <input type="radio" value="75" ng-model="INVENTORY_THRESHOLD"> 75%
            </label>
            <label class="radio-inline">
                <input type="radio" value="85" ng-model="INVENTORY_THRESHOLD"> 85%
            </label>
            <label class="radio-inline">
                <input type="radio" value="95" ng-model="INVENTORY_THRESHOLD"> 95%
            </label>
        </div>
        <div class="form-title">
            支付设置
        </div>
        <div class="col-sm-12">
            <div>
                微信APP_ID：
                <input type="text" ng-model="WX_APP_ID">
            </div>
            <div>
                微信WX_APP_SECRET：
                <input type="text" ng-model="WX_APP_SECRET">
            </div>
            <div>
                微信MCHID：
                <input type="text" ng-model="WX_MCHID">
            </div>
            <div>
                微信KEY：
                <input type="text" ng-model="WX_KEY">
            </div>
        </div>
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="">-->
        <!--设置重量单位为：<input type="text" style="display: inline-block;width:50px ">-->
        <!--</label>-->
        <!--</div>-->
    </form>
</div>
<!-- END CONTENT -->
