<div class="page-content" >
    <form class="form-horizontal" style="padding-top:25px;" >
        <div class="form-group">
            <label  class="col-sm-1 control-label">名称：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="salesInfo['SALES.NAME']">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-1 control-label">描述：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="salesInfo['SALES.INTRO']">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10" style="padding-left:35px">
                <div class=" pull-left">
                    <label class="checkbox">
                        <input id="meiman" type="checkbox" ng-model="salesInfo['SALES.CONDITION_TYPE']">每满
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="memberId == 1" >
            <label  class="col-sm-1 control-label">规则：</label>
                <div class="manjian-ruler col-sm-8" >
                <!-- 满减 -->
                <div class="manjian radio">
                    <label>
                        <input type="radio" name="promation"   value="1" checked>
                        满减
                    </label>
                    <div class="content">
                        <div class="detailBox">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM1']">，立减￥
                                         <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT1']">
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM2']" >，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT2']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM3']" >，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT3']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM4']" >，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT4']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM5']" >，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT5']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                订单金额满￥<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM6']" >，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT6']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>

                <!-- 满折 -->
                <div class="manzhe radio">
                    <label>
                        <input type="radio" name="promation"  value="2" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满折
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM1']">，
                                        打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT1']">折
                            </div>
                        </div>
                        <div class="detailBox hidden">
                             <div class="detail">
                                 订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM2']">，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT2']">折<a class="itemDel">删除</a>
                             </div>
                         </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM3']">，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT3']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM4']">，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT4']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM5']">，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT5']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM6']">，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT6']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>


                <!-- 满赠（商品） -->
                <div class="manzeng-product radio">
                    <label>
                        <input type="radio" name="promation"  value="3" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满赠（商品）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM1']" >，
                                获赠品<span> <a show-modal  id="#productItemSwitchModal" > （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM1']" ng-blur="saveCurrentInfo(1)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM2']">，
                                获赠品<span> <a show-modal   id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM2']" ng-blur="saveCurrentInfo(2)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM3']">，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM3']" ng-blur="saveCurrentInfo(3)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM4']">，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM4']" ng-blur="saveCurrentInfo(4)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input  type="text" ng-model="salesInfo['SALES.CONDITION_NUM5']">，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM5']" ng-blur="saveCurrentInfo(5)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM6']">，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM6']" ng-blur="saveCurrentInfo(6)">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>


                <!-- 满赠（优惠券） -->
                <div class="manzeng-ticket radio">
                    <label>
                        <input type="radio" name="promation"  value="4" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满赠（优惠券）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                订单金额满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>
            </div>
                <div class="meimanjian-ruler col-sm-8 hidden">

                <!-- 每满减 -->
                <div class="manjian radio">
                    <label>
                        <input type="radio" name="mpromation"  value="option1" checked >
                        每满减
                    </label>
                    <div class="content">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，立减￥<input type="text" name="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 每满折 -->
                <div class="manzhe radio">
                    <label>
                        <input type="radio" name="mpromation"  value="option2">
                        每满折
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，打<input type="text" name="">折
                            </div>
                        </div>

                    </div>
                </div>


                <!-- 每满赠（商品） -->
                <div class="manzeng-product radio">
                    <label>
                        <input type="radio" name="mpromation"  value="option3">
                        每满赠（商品）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，获赠品<span><a href="#">（选择赠送商品）</a></span><input type="text" name="">件
                            </div>
                        </div>
                    </div>
                </div>



                <div class="manzeng-ticket radio">
                    <label>
                        <input type="radio" name="mpromation"  value="option4">
                        每满赠（优惠券）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="memberId == 2" >
            <div class="col-sm-1">规则：</div>
            <div class="manjian-ruler col-sm-8" >

                <!-- 满减 -->
                <div class="manjian radio">
                    <label>
                        <input type="radio" name="promation1"  value="1" ng-model="salesInfo['SALES.SALE_TYPE']" checked>
                        满减
                    </label>
                    <div class="content">
                        <div class="detailBox">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM1']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT1']">
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM2']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT2']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM3']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT3']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM4']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT4']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM5']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT5']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detai ">
                                购买数量满<input class="" type="text"  ng-model="salesInfo['SALES.CONDITION_NUM6']" >件，立减￥
                                <input type="text" name=""  ng-model="salesInfo['SALES.SALE_CONTENT6']"><a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>

                <!-- 满折 -->
                <div class="manzhe radio">
                    <label>
                        <input type="radio" name="promation1"  value="2" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满折
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM1']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT1']">折
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM2']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT2']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM3']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT3']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM4']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT4']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM5']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT5']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM6']">件，
                                打<input type="text" name="" ng-model="salesInfo['SALES.SALE_CONTENT6']">折<a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>


                <!-- 满赠（商品） -->
                <div class="manzeng-product radio">
                    <label>
                        <input type="radio" name="promation1"  value="3" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满赠（商品）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM1']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM1']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM2']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM2']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM3']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM3']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM4']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM4']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM5']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM5']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text" ng-model="salesInfo['SALES.CONDITION_NUM6']">件，
                                获赠品<span> <a show-modal id="#productItemSwitchModal"> （选择赠送商品） </a></span>
                                <input type="text" name="" ng-model="salesInfo['SALES.PRONUM6']">件
                                <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>


                <!-- 满赠（优惠券） -->
                <div class="manzeng-ticket radio">
                    <label>
                        <input type="radio" name="promation1"  value="4" ng-model="salesInfo['SALES.SALE_TYPE']">
                        满赠（优惠券）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <div class="detailBox hidden">
                            <div class="detail">
                                购买数量满<input class="" type="text">件，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                                <a class="itemDel">删除</a>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-default addItem" href="javascript:;"><i class="fa fa-plus"></i>添加区间</button>
                    </div>
                </div>
            </div>
            <div class="meimanjian-ruler col-sm-8 hidden">

                <!-- 满减 -->
                <div class="manjian radio">
                    <label>
                        <input type="radio" name="mpromation1"  value="option1"  checked>
                        每满减
                    </label>
                    <div class="content">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，立减￥<input type="text" name="">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 满折 -->
                <div class="manzhe radio">
                    <label>
                        <input type="radio" name="mpromation1"  value="option2">
                        每满折
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，打<input type="text" name="">折
                            </div>
                        </div>

                    </div>
                </div>


                <!-- 满赠（商品） -->
                <div class="manzeng-product radio">
                    <label>
                        <input type="radio" name="mpromation1"  value="option3">
                        每满赠（商品）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">
                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，获赠品<span><a href="#">（选择赠送商品）</a></span><input type="text" name="">件
                            </div>
                        </div>

                    </div>
                </div>



                <div class="manzeng-ticket radio">
                    <label>
                        <input type="radio" name="mpromation1" value="option4">
                        每满赠（优惠券）
                    </label>
                    <div class="content hidden">
                        <div class="detailBox">

                            <div class="detail">
                                订单金额每满￥<input class="" type="text">，获赠优惠券<span><a href="#">（选择赠送优惠券）</a></span><input type="text" name="">张。
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
