<div class="page-content couponList">
    <div class="table-operbar">
        <div class="table-toolbar">
            <div class="row">
                <div class="form-inline form-group">

                    <select ng-model="filter['MEMBER_COUPON.COUPON_ID']"
                            ng-init="filter['MEMBER_COUPON.COUPON_ID']=''"
                            class="nya-bs-select form-control pull-left">
                        <option class="nya-bs-option" value="">选择优惠券名称</option>
                        <option ng-repeat="item in couponData" ng-bind="item['COUPON.NAME']"
                                value="{{item['COUPON.ID']}}"></option>

                    </select>

                    <button show-modal id="#addCoupon" class="btn btn-default sbold green pull-right">
                        领取优惠券
                    </button>

                </div>
            </div><!-- row end -->
        </div>
    </div>

    <div class="coupon-page">

        <div class="coupon-wrap">


            <div class="coupon-list">
                <div class="coupon-content" ng-repeat="(key,item) in couponList">
                    <div class="coupon-head">
                        <div class="coupon-info">
                            <p class='couponType'>{{item['MEMBER_COUPON.COUPON_INFO']['COUPON.NAME']}}</p>
                            <p class="couponTime" ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.END_DATETIME']!=null">有效期至<span>{{item['MEMBER_COUPON.COUPON_INFO']['COUPON.END_DATETIME']|FormatAllDate}}</span></p>
                            <div class="couponValue">
                                <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.TYPE']==1">
                                    <span>{{(item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.FACE_VALUE']/100).toFixed(2)}}</span>
                                    <span class='couponType'>元</span>
                                </span>
                                <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.TYPE']==2">
                                    <span>{{(item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.FACE_VALUE']/10).toFixed(1)}}</span>
                                    <span class='couponType'>折<span/>
                                 </span></span>
                            </div>
                            <!--  <div class="coupon-limit">最多折扣<span>12元</span></div>-->
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="coupon-contain">
                        <div class="coupon-desc">
                            <p class="limit-time">
                                <span>限定时间(每周</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[0]==1">一</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[1]==2">二</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[2]==3">三</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[3]==4">四</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[4]==5">五</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[5]==6">六</span>
                                <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[6]==7">日</span>
                                <span>)</span>
                            </p>
                            <p class="limit-item">

                                <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==1">限定商品使用
                                  <a data-toggle="modal" data-target="#detail" class="btn sbold green" ng-click="detailClick(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])">
                                    查看详情
                                  </a>
                                </span>
                                <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==2">限定商品类别使用
                                 <a data-toggle="modal" data-target="#detail" class="btn sbold green" ng-click="detailClick(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])">
                                    查看详情
                                  </a></span>
                                <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==3">限定商品标签使用
                                  <a data-toggle="modal" data-target="#detail" class="btn sbold green" ng-click="detailClick(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])">
                                    查看详情
                                  </a>
                                </span>
                            </p>
                            <p class="coupon-detail">
                                {{item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.INTRO']}}</p>
                            <!--<div class="coupon-footer text-right">
                                限量300张，每人限领1张
                            </div>-->
                            <!--停用/过期-->
                            <div class="coupon-state"></div>
                            <div class="coupon-footer text-right">
                                <!--<div class="buttons">
                                    <a show-modal id="#modCoupon" ng-click="modCouponClick(item['MEMBER_COUPON.COUPON_INFO'])" class="note"
                                       ng-if="mouseIsEnter[key]&&item['MEMBER_COUPON.COUPON_INFO']['COUPON.IsEnd']==-1"></a>
                                    <a ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.STOP']==1&&item['MEMBER_COUPON.COUPON_INFO']['COUPON.IsEnd']==-1&&mouseIsEnter[key]"
                                       class="stop" ng-click="stopCoupon(item['MEMBER_COUPON.COUPON_INFO'])"></a>
                                    <a ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.STOP']==-1&&item['MEMBER_COUPON.COUPON_INFO']['COUPON.IsEnd']==-1&&mouseIsEnter[key]"
                                       class="start" ng-click="stopCoupon(item['MEMBER_COUPON.COUPON_INFO'])"></a>&lt;!&ndash;启用&ndash;&gt;
                                    <a class="del" ng-click="delCoupon(item['MEMBER_COUPON.COUPON_INFO'])"></a>
                                </div>&lt;!&ndash; 图标 &ndash;&gt;-->
                                <span>{{item['MEMBER_COUPON.MEMBER_LOGIN_ID']}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div page-bar
         filter-obj="filter"
         url="/member/coupon/queryAll"
         callback="bindData(response)">
    </div>
    <!--<class-switch-modal callback="classSwitch(data)"></class-switch-modal>
    <tag-switch-modal callback="tagSwitch(data)"></tag-switch-modal>
    <product-switch-modal callback="prdSwitch(data)"></product-switch-modal>-->

    <div class="modal fade" id="addCoupon">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">领取优惠券</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 客户:
                            </label>

                            <div class="col-md-8 text-left form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="memberId" placeholder="请输入会员登录名称">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="queryMemberById(memberId)">查询
                                </button>
                                <span class="help-block"
                                      ng-show="editForm.name.$error.required && !editForm.name.$pristine">
                                    请先输入会员ID
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 姓名:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>{{memberDetail['MEMBER.USER_NAME']}}</h5>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 手机:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>{{memberDetail['MEMBER.MOBILE']}}</h5>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 优惠券名称:
                            </label>

                            <div class="col-md-8">
                               <select  class="nya-bs-select form-control"
                                        ng-model="coupon"
                                        ng-options="item as item['COUPON.NAME'] for item in couponData" >
                                   <option class="nya-bs-option" value="">选择优惠券</option>
                               </select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-outline" ng-click="addMemberCoupon()">确定
                    </button>
                    <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div> <!-- modal-content-->
        </div>
    </div>
    <div class="modal fade text-left" id="detail" tabindex="-1" aria-hidden="true"
         style="display: none;z-index: 1049">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">限定使用详情</h4>
                </div>

                <div class="modal-body form-body text-left">
                    <div ng-repeat="item in detailArray">
                        <span>{{item}}</span>
                    </div>
                    <!--<span>{{detail}}</span>-->


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn green  btn-outline" data-dismiss="modal">确定
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
