<div class="row-wrap row-wrap1">
    <div class="row-content">
        <div class="toolbar toolbar1">
            <!-- 搜索框 -->
            <div class="row-input">
                <input type="text" ng-model="searchInfo" placeholder="标题/商品/供应商"
                       ng-keyup="myKeyup($event)">
                <div class="btn-search">
                    <i class="icon-search" ng-click="search()"></i>
                </div>
            </div>

        </div>
        <div class="row-header1 font">订单评价</div>
        <div class="proEvals">
            <div class="eachEval">
                <div class="parent">
                    <div class="pic">
                        <img class="img" src="../../public/css/img/product.png" alt="">
                    </div>
                    <div class="info">
                        <span>展卉 智利蓝莓 新鲜进口125g*2盒</span>
                        <span class="price">￥28.00&nbsp;&nbsp;x1</span>
                    </div>
                    <div class="size">
                        【规格:125g*2盒】
                    </div>
                    <div class="size">P201610131232</div>
                </div>
                <div class="statisfied">
                    <span class="">商品满意度</span>
                </div>
                <div class="txt">
                    <textarea class="area"></textarea>
                </div>
            </div>
            <div class="eachEval">
                <div class="parent">
                    <div class="pic"></div>
                    <div class="info">
                        <span>展卉 智利蓝莓 新鲜进口125g*2盒</span>
                        <span class="price">￥28.00&nbsp;&nbsp;x1</span>
                    </div>
                    <div class="size">
                        【规格:125g*2盒】
                    </div>
                    <div class="size">P201610131232</div>
                </div>
                <div class="statisfied">
                    <span class="">商品满意度</span>
                </div>
                <div class="txt">
                    <textarea class="area"></textarea>
                </div>
            </div>
        </div>
        <div class="publish">
            <div class="checkPos">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="showCheck"></span>
                </label>
            </div>
            <label class="niming">匿名评价</label>
            <div class="eval">发表评价</div>
        </div>
    </div>
</div>
