<!DOCTYPE html>
<html lang="en"  ng-app="AndSell.H5.Main" ng-controller="H5.MainController" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title ng-bind="title"></title>


  <link rel="stylesheet" href="/AndSell/h5/public/libs/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/AndSell/h5/public/libs/weui/dist/css/jquery-weui.min.css">-->
  <link rel="stylesheet" href="/AndSell/h5/public/libs/weui/dist/lib/weui.css">
  <link rel="stylesheet" href="/AndSell/h5/public/css/style.css">
  <link rel="stylesheet" href="/AndSell/h5/public/libs/swiper/swiper.min.css">
  <link rel="stylesheet" href="/AndSell/h5/public/libs/weui/weui-modal.css">

</head>
<body class="home-index">

<div><!-- BEGIN 内容 -->

  <div class="row-content">
    <div ui-view="" class="ng-scope"></div>
  </div>

</div> <!--END 内容-->

<!-- BEGIN footer-nav -->
<nav class="nav-fixed-bottom" ng-if="navShow" role="navigation" ng-init="currentPage='sy'">
  <ul class="nav-list flexbox">
    <li class="cell" ng-class="{true:'selected'}[currentPage=='sy']">
      <a ui-sref="home" ng-click="currentPage='sy'">
        <i class="icon icon-home"></i>
        <p class="nav-txt">首页</p>
      </a>
    </li>
    <li class="cell"  ng-class="{true:'selected'}[currentPage=='cart']">
      <a ui-sref="cart"  ng-click="currentPage='cart'">
        <i class="icon icon-cart"></i>
        <p class="nav-txt">购物车</p>
      </a>
    </li>
    <li class="cell"  ng-class="{true:'selected'}[currentPage=='fl']">
      <a ui-sref="prd-List" ng-click="currentPage='fl'">
        <i class="icon icon-product-class"></i>
        <p class="nav-txt">分类</p>
      </a>
    </li>
    <li class="cell" ng-class="{true:'selected'}[currentPage=='wd']">
      <a ui-sref="personal" ng-click="currentPage='wd'">
        <i class="icon icon-personal"></i>
        <p class="nav-txt">我的</p>
      </a>
    </li>
  </ul>
</nav>
<!-- END footer-nav -->
</body>

<!--############JS引用区############-->
<script src="/AndSell/h5/public/libs/angular/angular.min.js"></script>
<script src="/AndSell/h5/public/libs/angular/angular-sanitize.js"></script>
<script src="/AndSell/h5/public/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/AndSell/h5/public/libs/angular-resource/angular-resource.min.js"></script>
<script src="/AndSell/h5/public/libs/jquery/dist/jquery.min.js"></script>
<script src="/AndSell/h5/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/AndSell/h5/public/libs/weui.js"></script>
<script src="/AndSell/h5/public/libs/weui/dist/lib/jquery-2.1.4.js"></script>
<script src="/AndSell/h5/public/libs/weui/dist/js/jquery-weui.min.js"></script>
<script src="/AndSell/h5/public/libs/weui/dist/js/city-picker.min.js"></script>
<script src="/AndSell/h5/public/libs/banner/jquery.hammer.js"></script>
<script src="/AndSell/h5/public/libs/banner/transition.js"></script>
<script src="/AndSell/h5/public/libs/banner/angular-animate.js"></script>
<script src="/AndSell/h5/public/libs/banner/ui-bootstrap-2.2.0.min.js"></script>
<script src="/AndSell/h5/public/libs/banner/ui-bootstrap.js"></script>
<script src="/AndSell/h5/public/libs/banner/hammer.js"></script>
<script src="/AndSell/h5/public/libs/cookie.js"></script>
<script src="/AndSell/h5/public/libs/swiper/swiper.jquery.min.js"></script>

<!--importantJs -->
<script src="/AndSell/h5/public/application.js"></script>

<!--############通用方法区############-->
<script src="/AndSell/h5/public/commonJs.js"> </script>


<!--############ router ############-->
<script src="router.js"> </script>


<!--############ service ############-->
<script src="../product/product-services.js"></script>
<script src="../order/order-services.js"></script>
<script src="../personal/personal-services.js"></script>
<script src="../shop/shop-services.js"></script>
<script src="../coupon/coupon-services.js"></script>
<script src="../user/user-services.js"></script>



<!--############ controller ############-->
<script src="controller.js"> </script>
<script src="../home/controller.js"> </script>
<script src="../product/detail/controller.js"> </script>
<script src="../cart/controller.js"> </script>
<script src="../order/add/controller.js"> </script>
<script src="../payment/check_out_controller.js"> </script>
<script src="../payment/check_out_success_controller.js"> </script>
<script src="../order/detail/controller.js"> </script>
<script src="../product/list/controller.js"> </script>
<script src="../order/list/controller.js"> </script>
<script src="../personal/controller.js"> </script>
<script src="../personal/card/controller.js"> </script>
<script src="../shop/controller.js"> </script>
<script src="../order/addAddress/controller.js"> </script>
<script src="../product/tagPrdList/controller.js"> </script>
<script src="../coupon/list/controller.js"> </script>
<script src="../user/register/controller.js"> </script>
<script src="../user/accountLogin/controller.js"> </script>

</html>


