<div class="bg-grey">
	<!-- 余额部分 -->
	<div class="balance-wrap">
		<p class="title">余额账户(元)</p>
		<p class="count">{{ckeckedList[0]['FINANCE_LIST.BALANCE'] | currency : '￥'}}</p>
	</div>
	<div class="main-entry weui_cells weui_cells_access">
		<a class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				充值
			</div>
			<div class="weui_cell_ft"></div>
		</a>
	</div>

	<!-- 收支明细 -->
	<div class="balance-detail">
		<div class="dropdown">
			<a type="button" data-toggle="dropdown">
				收支明细
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li >收支明细</li>
				<li ng-click="chooseType('decrease')">支出</li>
				<li ng-click="chooseType('increase')">收入</li>
			</ul>
		</div>
		<div class="balance-table" ng-repeat="item in ckeckedList" ng-if="ckeckedList.length > 0">
			<div class="balance-term">
				<a class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>{{item['FINANCE_LIST.EVENT']}}</p>
						<p>余额：{{item['FINANCE_LIST.BALANCE'] | currency : '￥'}}</p>
					</div>
					<div class="weui_cell_ft">
						<p class="balance-time">{{item['FINANCE_LIST.ADD_DATETIME']}}</p>
						<p class="balance-count">{{item['FINANCE_LIST.CHANGE_VALUE']  | currency : '￥'}}</p>
					</div>
				</a>
			</div>
		</div>
		<div class="balance-table" ng-if="ckeckedList.length == 0">暂无消费记录</div>
	</div>
</div>