<!--<div class="container">-->
    <div class="loginPanel">
        <div class="middle">
            <div class="pic">

            </div>
            <div class="infoPanel">
                <div class="infoNav">

                    <a class="infoLogin font  selected ">
                        帐号登录
                    </a>
                    <a class="infoCertific font" ui-sref="pages/login/accountLogin">
                        验证码登录
                    </a>
                </div>
                <div class="mid">
                    <div class="account">
                        <span class="word">帐号</span>
                        <input type="text" ng-model="loginInfo['LOGIN_ID']" class="txt" />

                    </div>
                    <div class="account pwd">
                        <span class="word">密码</span>
                        <input type="password" ng-model="loginInfo['PWD']" class="txt" />

                    </div>
                </div>
                <div class="pos">
                    <a class="regist" ui-sref="pages/login/register">注册</a>
                    <a class="forget" href="">忘记密码?</a>
                </div>
                <div class="but" ng-click="userLogin()">
                    登录
                </div>
            </div>

        </div>
    </div>
<!--</div>-->
