/* line 1, ../sass/login.scss */
.loginPanel {
  width: 100%;
  background-color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%; }
/* line 7, ../sass/login.scss */
.loginPanel .middle {
  width: 710px;
  height: 300px;
  margin: 0 auto; }
/* line 11, ../sass/login.scss */
.loginPanel .middle .pic {
  width: 320px;
  height: 290px;
  background-image: url(/AndSell/pc/public/css/img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center;
  float: left;
  margin-right: 60px; }
/* line 21, ../sass/login.scss */
.loginPanel .middle .infoPanel {
  width: 320px;
  height: 300px;
  float: left;
  /* overflow: hidden; */
  border: 1px solid #c1c1c1;
  background-color: white; }
/* line 28, ../sass/login.scss */
.loginPanel .middle .infoPanel .infoNav {
  overflow: hidden;
  border-bottom: 1px solid #c1c1c1;
  height: 39px; }
/* line 32, ../sass/login.scss */
.loginPanel .middle .infoPanel .infoNav .font {
  font-size: 14px;
  color: #484848;
  float: left;
  padding: 11px;
  margin-left: 53px;
  cursor: pointer; }
/* line 40, ../sass/login.scss */
.loginPanel .middle .infoPanel .infoNav .selected {
  border-top: 3px solid #f36f1a; }
/* line 44, ../sass/login.scss */
.loginPanel .middle .infoPanel .mid {
  margin-top: 35px;
  margin-left: 25px; }
/* line 47, ../sass/login.scss */
.loginPanel .middle .infoPanel .mid .account {
  border: 1px solid #c1c1c1;
  width: 270px;
  height: 50px; }
/* line 51, ../sass/login.scss */
.loginPanel .middle .infoPanel .mid .account .txt {
  font-size: 15px;
  padding: 2px;
  border: none;
  outline: none;
  height: 48px;
  width:195px;
}
/* line 58, ../sass/login.scss */
.loginPanel .middle .infoPanel .mid .account .word {
  font-size: 14px;
  color: #484848;
  margin-left: 12px; }
/* line 64, ../sass/login.scss */
.loginPanel .middle .infoPanel .mid .pwd {
  border-top: none; }
/* line 68, ../sass/login.scss */
.loginPanel .middle .infoPanel .pos {
  width: 270px;
  margin-left: 25px;
  margin-top: 18px;
  font-size: 14px;
  color: #989898; }
/* line 74, ../sass/login.scss */
.loginPanel .middle .infoPanel .pos .regist {
  cursor: pointer;
  color: #b2b2b2;
  font-size: 13px;}
/* line 78, ../sass/login.scss */
.loginPanel .middle .infoPanel .pos .forget {
  float: right;
  cursor: pointer;
  color: #b2b2b2;
  font-size: 13px;}
/* line 83, ../sass/login.scss */
.loginPanel .middle .infoPanel .but {
  width: 270px;
  height: 40px;
  background-color: #f36f1a;
  margin-left: 25px;
  margin-top: 18px;
  text-align: center;
  color: white;
  line-height: 41px;
  cursor: pointer; }
/* line 95, ../sass/login.scss */
.loginPanel .middle .show {
  display: none; }
