.nav-list {
    @include border(top);

    list-style: none;

    margin: 0;
    padding: 4px 0;

    text-align: center;

    background-color: #fff;

    .icon {
        width: 30px;
        height: 30px;
    }

    .nav-txt {
        font-size: $fontSizeXSmall;

        color: $colorGrey;
    }

    > .selected {
        .nav-txt {
            color: $colorDefault;
        }
    }
}

.nav-fixed-bottom,
.nav-fixed-top {
    position:fixed;
    right:0;
    left:0;
    z-index:1030
}
.nav-fixed-bottom {
    bottom: 0;
}
.nav-fixed-top {
    top: 0;
}
