/*
 * Color
*/
$colorBase: #444;
$colorDefault: #F36F1C;
$colorGrey: #a4a4a4;
$colorGreyLight: #F4F4F4;
$colorGreen: #29ae5f;
$colorBlue: #15589F;


/* Font */
$fontSize: 14px;
$fontSizeSmall: 12px;
$fontSizeXSmall: 10px;
$fontSizeLarge: 18px;

$color-hairline: #D9D9D9;

/* Border */
$borderColor: #D9D9D9;

/* Btn */
$btnLinkColor: #a4a4a4;
