<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- DO控制器 -->
    <servlet>
        <servlet-name>bubu</servlet-name>
        <servlet-class>com.pabula.api.BuBuGetwayController</servlet-class>
        <init-param>
            <!--此项目的根package-->
            <param-name>packages</param-name>
            <param-value>com</param-value>
        </init-param>

        <init-param>
            <!--此项目的根package-->
            <param-name>context</param-name>
            <param-value>/bubu</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>bubu</servlet-name>

        <!--url访问的前缀-->
        <url-pattern>/bubu/*</url-pattern>
    </servlet-mapping>


    <!--Hessian-->
    <servlet>
        <!-- 配置 HessianServlet，Servlet的名字随便配置，例如这里配置成ServiceServlet-->
        <servlet-name>APIServlet</servlet-name>
        <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>

        <init-param>
            <param-name>service-class</param-name><!-- 远程服务实现类 -->
            <param-value>com.pabula.api.call.rpc.hessian.HessianAPICall</param-value>
        </init-param>
        <!--<init-param>-->
        <!--<param-name>home-api</param-name>&lt;!&ndash; 远程服务接口 &ndash;&gt;-->
        <!--<param-value>com.pabula.api.rpc.APICall</param-value>-->
        <!--</init-param>-->

    </servlet>
    <!-- 映射 HessianServlet的访问URL地址-->
    <servlet-mapping>
        <servlet-name>APIServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <!--Hessian-->

    <!--Hessian-->
    <servlet>
        <!-- 配置 HessianServlet，Servlet的名字随便配置，例如这里配置成ServiceServlet-->
        <servlet-name>wxCallBack</servlet-name>
        <servlet-class>com.weixin.WXPayResultCallBackServlet</servlet-class>
    </servlet>
    <!-- 映射 HessianServlet的访问URL地址-->
    <servlet-mapping>
        <servlet-name>wxCallBack</servlet-name>
        <url-pattern>/wxCallBack</url-pattern>
    </servlet-mapping>
    <!--Hessian-->

    <!--Hessian-->
    <servlet>
        <!-- 配置 HessianServlet，Servlet的名字随便配置，例如这里配置成ServiceServlet-->
        <servlet-name>alipay</servlet-name>
        <servlet-class>com.alipay.web.command.ALIPayResultInvokeServlet</servlet-class>
    </servlet>
    <!-- 映射 HessianServlet的访问URL地址-->
    <servlet-mapping>
        <servlet-name>alipay</servlet-name>
        <url-pattern>/alipay</url-pattern>
    </servlet-mapping>
    <!--Hessian-->

    <servlet>
        <servlet-name>aliyun</servlet-name>
        <servlet-class>com.bolanggu.bbl.aliyun.connectALiYun</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>aliyun</servlet-name>
        <url-pattern>/aliYun</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>output</servlet-name>
        <servlet-class>com.bolanggu.bbl.output.outputQuery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>output</servlet-name>
        <url-pattern>/outputQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delivery</servlet-name>
        <servlet-class>com.bolanggu.bbl.delivery.queryDelivery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delivery</servlet-name>
        <url-pattern>/queryLogistics</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>importValueCard</servlet-name>
        <servlet-class>com.bolanggu.bbl.input.input</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>importValueCard</servlet-name>
        <url-pattern>/importValueCard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleFileupload</servlet-name>
        <servlet-class>com.bolanggu.bbl.input.SimpleFileupload</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleFileupload</servlet-name>
        <url-pattern>/SimpleFileupload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateOrderPay</servlet-name>
        <servlet-class>com.task.servlet.UpdateOrderPayServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateOrderPay</servlet-name>
        <url-pattern>/updateOrderPay34433232</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>shopOrder</servlet-name>
        <servlet-class>com.task.servlet.ShopOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>shopOrder</servlet-name>
        <url-pattern>/shopOrder</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>vipcardBackMoney</servlet-name>
        <servlet-class>com.task.servlet.VipCardBackMoneyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>vipcardBackMoney</servlet-name>
        <url-pattern>/vipcardBackMoney</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>queryOrder</servlet-name>
        <servlet-class>com.bolanggu.bbl.orderAnalysis.orderQuery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>queryOrder</servlet-name>
        <url-pattern>/queryOrder</url-pattern>
    </servlet-mapping>
    



</web-app>