<div class="page-content">
    <div class="col-sm-12">
        <form class="form-horizontal" novalidate="novalidate">
            <div class="form-group">
            <span class="icon-required">*</span>
                <label class="control-label col-sm-1 right form-input-title">
                       
                    储值卡号    
                </label>
                <div class="col-sm-4">
                 
                          <input class="form-control"
                               ng-model="value['CARD_FROM']"
                               name="number" type="text"
                               placeholder="请输入激活的开始卡号">
                   
                   
                </div>
                <div class="col-sm-4">
                 
                          <input class="form-control"
                               ng-model="value['CARD_TO']"
                               name="number" type="text"
                               placeholder="请输入激活的结束卡号">
                   
                   
                </div>
            </div>
            
            
            
            <div class="form-group" style="margin-top: 30px;">
            	<span class="icon-required" style="color:#000000"></span>
                <label class="control-label col-sm-1 right form-input-title"></label>
            	    <div class="col-sm-4 text-center">
            	    	     <div class="btn-group " role="group" aria-label="...">
							  <button type="button" class="btn btn-default " style="border-radius: 19px;" ng-click="commitForm()">确认绑定</button>
            	   	</div> 
             
            </div>
           
        </form>
         
    </div>
</div>