<div class="page-content">
    <!-- BEGIN 促销项列表 -->
    <div class="promotion-list">
        <!--BENGIN 商品促销 -->
        <div class="promotion-contain">
            <div class="promotion-wrap">
                <div class="promotion-head">
                    <div class="head-title">
                        <div class="main-title">买{{salesPlan[0]['SALES_PLAN.NAME']}}</h4>，送小米音响</div>
                        <div class="time-range">2016/9/1 上午12：20：00 至 2016/9/30 上午12：00：00</div>
                    </div><!-- 标题 -->
                    <div class="buttons">
                        <a show-modal id="#detailClick" ng-click="detailClick(item)" class="note"></a>
                        <a show-modal id="#delSales" ng-click="delSales(item)" class="stop"></a>
                        <a href="#" class="del"></a>
                    </div><!-- 图标 -->
                    <div class="marks"><img src="../components/images/index_03.png"></div><!-- 分类标记 -->
                </div> <!-- END head -->

                <div class="promotion-content">
                    <button class="addItem btn"  data-toggle="modal" id="#productItemSwitchModal" show-modal>添加商品</button>
                    <product-item-switch-modal callback="prdItemSwitch(data)"></product-item-switch-modal>
                    <span class="buy-text">买</span>
                    <div class="buy-content">
                        <div class="buy-list">
                            <div class="product-item">
                                <img class="pull-left" src="../components/images/index_18.png">
                                <p class="itemName">小米手机5s</p>
                                <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                            </div>
                            <div class="product-item">
                                <img class="pull-left" src="../components/images/index_18.png">
                                <p class="itemName">小米手机5s</p>
                                <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                            </div>
                            <div class="product-item">
                                <img class="pull-left" src="../components/images/index_18.png">
                                <p class="itemName">小米手机5s</p>
                                <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                            </div>
                        </div>
                        <div class="product-total">>>共<span class="itemNum">33</span>件商品参与</div>
                    </div>
                </div><!-- promotion content -->

                <div class="promotion-footer">
                    <div class="man-text">满<span>5</span>个</div>
                    <div class="man-content">
                        <div class="product-item">
                            <img class="pull-left" src="../components/images/index_18.png">
                            <p class="itemName">小米手机5s</p>
                            <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                        </div>
                    </div>
                    <div class="zeng-text">赠 <span>x1</span></div>
                </div><!-- promotion footer -->
            </div><!-- promotion-wrap -->
        </div>
        <!-- END 商品促销 -->

        <!--BENGIN 商品类促销 -->
        <div class="promotion-contain">
            <div class="promotion-wrap">
                <div class="promotion-head">
                    <div class="head-title">
                        <div class="main-title">买数码产品，送小米音响</div>
                        <div class="time-range">2016/9/1 上午12：20：00 至 2016/9/30 上午12：00：00</div>
                    </div><!-- 标题 -->
                    <div class="buttons">
                        <a href="#" class="note"></a>
                        <a href="#" class="stop"></a>
                        <a href="#" class="del"></a>
                    </div><!-- 图标 -->
                    <div class="marks"><img src="../components/images/index_01.png"></div><!-- 分类标记 -->
                </div> <!-- END promotion-head -->
                <div class="promotion-content">
                    <!--                 <button class="addItem btn" >添加商品</button> -->
                    <span class="buy-text">买</span>
                    <div class="buy-content">
                        <div class="buy-list">
                            <div class="product-item">
                                电脑>笔记本
                            </div>
                            <div class="product-item">
                                数码>手机>配件
                            </div>
                        </div>
                        <div class="product-total">>>共<span class="itemNum">3</span>件商品参与</div>
                    </div>
                </div> <!-- promotion-content -->
                <div class="promotion-footer">
                    <div class="man-text">满<span>5</span>个</div>
                    <div class="man-content">
                        <div class="product-item">
                            <img class="pull-left" src="../components/images/index_18.png">
                            <p class="itemName">小米手机5s</p>
                            <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                        </div>
                    </div>
                    <div class="zeng-text">赠 <span>x1</span></div>
                </div><!-- promotion footer -->
            </div>
        </div>
        <!-- END 商品类促销 -->

        <!--BENGIN 满减折扣 -->
        <div class="promotion-contain">
            <div class="promotion-wrap">
                <div class="promotion-head">
                    <div class="head-title">
                        <div class="main-title">满100打九折</div>
                        <div class="time-range">2016/9/1 上午12：20：00 至 2016/9/30 上午12：00：00</div>
                    </div><!-- 标题 -->
                    <div class="buttons">
                        <a href="#" class="note"></a>
                        <a href="#" class="stop"></a>
                        <a href="#" class="del"></a>
                    </div><!-- 图标 -->
                    <div class="marks"><img src="../components/images/index_01.png"></div><!-- 分类标记 -->
                </div> <!-- END promotion-head -->
                <div class="promotion-content">
                    <div class="coupon-list text-center">
                        <ul class="list-unstyled">
                            <li>
                                <img class="pull-left" src="../components/images/index_21.png">
                                <div class="coupon-detail">
                                    <p>满￥<span>200.00</span></p>
                                    <p>减￥<span>20.00</span></p>
                                </div>
                            </li>
                            <li>
                                <img class="pull-left" src="../components/images/index_23.png">
                                <div class="coupon-detail">
                                    <p>满￥<span>200.00</span></p>
                                    <p>减￥<span>20.00</span></p>
                                </div>
                            </li>
                            <li>
                                <img class="pull-left" src="../components/images/index_25.png">
                                <div class="coupon-detail">
                                    <p>满￥<span>200.00</span></p>
                                    <p>减￥<span>20.00</span></p>
                                </div>
                            </li>
                            <li>
                                <img class="pull-left" src="../components/images/index_25.png">
                                <div class="coupon-detail">
                                    <p>满￥<span>200.00</span></p>
                                    <p>减￥<span>20.00</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 满减折扣 -->

        <!--BENGIN 添加类促销 -->
        <div class="promotion-contain">
            <div class="promotion-wrap">
                <div class="promotion-head">
                    <div class="head-title">
                        <div class="main-title">买数码产品，送小米音响</div>
                        <div class="time-range">2016/9/1 上午12：20：00 至 2016/9/30 上午12：00：00</div>
                    </div><!-- 标题 -->
                    <div class="buttons">
                        <a href="#" class="note"></a>
                        <a href="#" class="stop"></a>
                        <a href="#" class="del"></a>
                    </div><!-- 图标 -->
                    <div class="marks"><img src="../components/images/index_03.png"></div><!-- 分类标记 -->
                </div> <!-- END head -->

                <div class="promotion-content">
                    <button class="addItem btn" >添加商品</button>
                    <span class="buy-text">买</span>
                    <div class="buy-content">
                        <div class="buy-list">
                            <div class="form-group form-inline">
                                <input type="text" name="" placeholder="512特卖专题活动">
                                <button class="btn btn-default">促销</button>
                            </div>
                        </div>

                    </div>
                </div><!-- promotion content -->

                <div class="promotion-footer">
                    <div class="man-text">满<span>5</span>个</div>
                    <div class="man-content">
                        <div class="product-item">
                            <img class="pull-left" src="../components/images/index_18.png">
                            <p class="itemName">小米手机5s</p>
                            <p class="itemDesc">【版本：标准版，颜色：淡蓝色】</p>
                        </div>
                    </div>
                    <div class="zeng-text">赠 <span>x1</span></div>
                </div><!-- promotion footer -->
            </div>
        </div>
        <!-- END 添加类促销 -->

    </div>
    <!-- END 促销列表项 -->

    <div class="modal fade text-left" id="detailClick" tabindex="-1" aria-hidden="true"
         style="display: none;z-index: 1049">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">修改促销计划</h4>
                </div>
                <div class="modal-body form-body text-right">

                    <form class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span>促销方案名称
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="mod['COUPON.NAME']">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                促销方案描述
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="mod['COUPON.CODE']"
                                ></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                商品类别
                            </label>

                            <div class="col-md-8">
                                <select ng-model="modRuleId"
                                        ng-init="modRuleId=''"
                                        class="nya-bs-select form-control"
                                        ng-options="item['COUPON_RULE.ID'] as item['COUPON_RULE.NAME'] for item in ruleList">
                                    <option class="nya-bs-option" value="">选择优惠券规则</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">限定使用对象</span>
                            </label>

                            <div class="col-md-4">
                                <select ng-model="mod['COUPON.TARGET_OBJ_TYPE']"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value='-1'>不限定</option>
                                    <option class="nya-bs-option" value='1'>商品</option>
                                    <option class="nya-bs-option" value='2'>商品类别</option>
                                    <option class="nya-bs-option" value='3'>商品标签</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!--   <input type="text" class="form-control"
                                          ng-model="mod['COUPON.NAME']"
                                          ng-init="mod['COUPON.NAME']=''"
                                          placeholder="">-->
                                <a data-toggle="modal" ng-if="mod['COUPON.TARGET_OBJ_TYPE']==1"
                                   data-target="#productSwitchModal">请选择商品</a>
                                <a data-toggle="modal" ng-if="mod['COUPON.TARGET_OBJ_TYPE']==2"
                                   data-target="#classSwitchModal">请选择商品类别</a>
                                <a data-toggle="modal" ng-if="mod['COUPON.TARGET_OBJ_TYPE']==3"
                                   data-target="#tagSwitchModal">请选择商品标签</a>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">发行总量</span>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="mod['COUPON.NUM_LIMIT']"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">使用期限</span>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="mod['COUPON.USE_TIME_LIMIT']">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">使用周期</span>
                            </label>

                            <div class="col-md-8">
                                <select class="form-control"
                                        ng-model="mod['COUPON.USE_TIME_CYCLE']"
                                        ng-options="item.id as item.name for item in weekData">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">方案开始时间</span>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-init="mod['COUPON.BEGIN_DATETIME']=mod['COUPON.BEGIN_DATETIME']|FormatAllDate"
                                       ng-model="mod['COUPON.BEGIN_DATETIME']">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required">方案结束时间</span>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="mod['COUPON.END_DATETIME']"
                                >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="modCoupon()" class="btn green">确定
                    </button>
                    <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>