.promotion-list{
    width: 815px;
    margin: 0 auto;
    padding-top: 30px;
}
.promotion-contain{
    border:1px solid rgb(192,192,192);
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 200px;
}
.promotion-wrap{
    width: 735px;
    margin: 0 auto;
    position: relative;
}
.promotion-head{
    height: 100px;
    border-bottom: 1px solid rgb(229,231,233);
}
.promotion-head .head-title{
    width: 625px;
    margin: 0 auto;
    padding-top: 18px;
}
.promotion-head .head-title .main-title{
    font-size: 26px;
}
.promotion-head .head-title .time-range{
    font-size: 14px;
    color: rgb(161,161,161);
}
.promotion-head .marks{
    position: absolute;
    left: 0;
    top: -3px;
}
.promotion-head .buttons{
    position: absolute;
    right: 0;
    top:18px;
    width: auto;
    height: 23px;

}
.promotion-head .buttons a{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.promotion-head .buttons .note{
    background: url(../../../../components/images/index_06.png) no-repeat left center;
}
.promotion-head .buttons .stop{
    background: url(../../../../components/images/index_11.png) no-repeat left center;
}
.promotion-head .buttons .del{
    background: url(../../../../components/images/index_08.png) no-repeat left center;
}
.promotion-head .buttons a.note:hover{
    background: url(../../../../components/images/icon_03.png) no-repeat left center;
}
.promotion-head .buttons a.stop:hover{
    background: url(../../../../components/images/icon_08.png) no-repeat left center;
}
.promotion-head .buttons a.del:hover{
    background: url(../../../../components/images/icon_05.png) no-repeat left center;
}
.promotion-content{
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(229,231,233);
}
.promotion-content .addItem,.promotion-wrap .pro-start{
    position: absolute;
    right:0;
    background-color: rgb(17,136,255);
    color: #fff;
}
.promotion-content .addItem{
    top: 20px;
}
.promotion-wrap .pro-start{
    bottom: 28px;
}
.promotion-wrap .buy-list{
    padding-top: 13px;
}
.promotion-content .buy-text{
    font-size: 20px;
    position: absolute;
    left: 95px;
    top: 30px;
}
.promotion-content .buy-content,.promotion-footer{
    padding-top: 16px;
    width: 472px;
    margin: 0 auto;
    overflow: hidden;
}
.promotion-content .buy-content input{
    height: 34px;
}
.promotion-content .buy-content .tag{
    display: inline-block;
    padding:10px 8px;
    border:1px solid #000;
}
.promotion-wrap .product-item img{
    margin-right: 10px;
}
.promotion-wrap .product-item .itemName{
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 5px;
}
.promotion-wrap .product-item .itemDesc{
    font-size: 14px;
    color: rgb(127,127,127);
}
.promotion-content .buy-content .product-total{
    margin-top: 10px;
}
.promotion-content .buy-content .product-total span{
    color: rgb(244,37,37);
}
.promotion-footer .man-text{
    font-size: 23px;
}
.promotion-footer{
    position: relative;
    padding-bottom: 20px;
}
.promotion-footer .man-text span{
    padding: 0 9px 0;
}
.promotion-footer .zeng-text{
    position: absolute;
    left: 0;
    top: 60px;
    font-size: 16px;
}
.promotion-footer .man-content{
    width: 340px;
    margin: 0 auto;
}
.promotion-footer .zeng-text span{
    margin-left: 14px;
    font-size: 18px;
    color: rgb(127,127,127);
}
.promotion-content .coupon-list{
    width: 694px;
    margin: 0 auto;
    margin-top: 8px;
    overflow: hidden;
}
.promotion-content .coupon-list li{
    float: left;
    margin: 30px 21px 0;
}

 .coupon-list img{
    margin-right: 36px;
}
 .coupon-detail{
    text-align: left;
    width: 188px;
    height: 74px;
    padding-top: 12px;
    background-color: rgb(241,247,353);
}
.coupon-detail span{
    color: rgb(127,127,127);
}
.coupons .product-item img{
    padding-right:36px;
}
.coupons{
    float: left;
    margin-right: 48px;
}
