<div class="page-content">

    <div class="table-operbar">
        <div class="table-toolbar">
            <ul class="orderNav  nav-justified list-unstyled ">
                <li class="first active"><a href="#">所有订单</a></li>
                <li><a href="#">待付款</a></li>
                <li><a href="#">代发货</a></li>
                <li><a href="#">待收货(<span>2</span>)</a></li>
                <li><a href="#">待评价(<span>9</span>)</a></li>
                </li>
            </ul>



            <!-- 所有订单 -->

            <div class="form-group form-inline ">
                <input type="text" class="form-control" placeholder="输入商品名称/订单号">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                <a class="collapsed" data-toggle="collapse"  href="#term" style="padding-left: 10px;">更多筛选条件<span class="caret"></span></a>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default">打印订单</button>
                    <button type="button" class="btn btn-default">+新增订货单</button>
                </div>
            </div>
            <!-- 筛选框 -->
            <div id="term" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="orderType" class="col-md-5">订单类型</label>
                                    <div class="col-md-7">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option value="">待付款</option>
                                            <option value="">待发货</option>
                                            <option value="">待收货</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="orderComment" class="col-md-5">评价状态</label>
                                    <div class="col-md-7">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option value="">已评价</option>
                                            <option value="">待评价</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group form-inline">
                                    <label for="orderTime" class="col-md-3 text-right">成交时间</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" placeholder="起始时间"> --
                                        <input type="text" class="form-control" placeholder="结束时间">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="orderState" class="col-md-3 text-right">交易状态</label>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option value="">已支付</option>
                                            <option value="">待支付</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-md-5">卖家昵称</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-group" id="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="service" class="col-md-5">售后服务</label>
                                    <div class="col-md-7">
                                        <select class="form-control">
                                            <option value="">全部</option>
                                            <option value="">退货</option>
                                            <option value="">换货</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- row -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-outline class">确定</button>
                    </div> <!-- buttons row -->
                </div>
            </div>
            <!-- content -->
            <div class="orders">
                <div class="orderItem unfinished">
                    <div class="imformation orderUnpayed">
                        <div class="unpayed">等待付款</div>
                        <div class="row">
                            <div class="details col-md-8">
                                <span class="time">2016年10月10日 10:36 |</span><span class="name"> 魏奇 |</span><span class="orderNum"> 订单号：118387464637848 |</span><span class="payWay">在线支付</span>
                            </div>
                            <div class="sum col-md-4 text-right">
                                <p >订单金额：<span>199.00元</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productList pull-left">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="productInfo ">
                                        <img class="pull-left" src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" style="width: 80px;height: 80px;">
                                        <p class="itemName">智能收音机</p>
                                        <p class="itemPrice">199元x<span class="itemNum">1</span></p>
                                        <p class="itemColor">颜色分类:淡蓝色</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="productInfo ">
                                        <img class="pull-left" src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" style="width: 80px;height: 80px;">
                                        <p class="itemName">空气净化机</p>
                                        <p class="itemPrice">2199元x<span class="itemNum">1</span></p>
                                        <p class="itemColor">颜色分类:白色</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons pull-right">
                            <button class="btn btn-block pay">立即支付</button>
                            <button class="btn btn-block">订单详情</button>
                        </div>
                    </div>
                </div>

                <div class="orderItem">
                    <div class="imformation">
                        <div class="payed">已收货</div>
                        <div class="row">
                            <div class="details col-md-8">
                                <span class="time">2016年10月10日 10:36 |</span><span class="name"> 魏奇 |</span><span class="orderNum"> 订单号：118387464637848 |</span><span class="payWay">在线支付</span>
                            </div>
                            <div class="sum col-md-4 text-right">
                                <p >订单金额：<span>199.00元</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productList pull-left">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="productInfo ">
                                        <img class="pull-left" src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" style="width: 80px;height: 80px;">
                                        <p class="itemName">智能收音机</p>
                                        <p class="itemPrice">199元x<span class="itemNum">1</span></p>
                                        <p class="itemColor">颜色分类:淡蓝色</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="productInfo ">
                                        <img class="pull-left" src="https://farm4.staticflickr.com/3894/15008518202_b016d7d289_b.jpg" style="width: 80px;height: 80px;">
                                        <p class="itemName">空气净化机</p>
                                        <p class="itemPrice">2199元x<span class="itemNum">1</span></p>
                                        <p class="itemColor">颜色分类:白色</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons pull-right">
                            <button class="btn btn-block btn-info">订单详情</button>
                            <button class="btn btn-block">申请售后</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


    <div page-bar
         filter-obj="filter"
         url="/shop/product/queryAll"
         callback="bindData(response)">
    </div>


    <!-MODAL-->
    <!--<div class="modal fade" id="cardType">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal"-->
    <!--aria-hidden="true"></button>-->
    <!--<h4 class="modal-title">会员卡信息</h4>-->
    <!--</div>-->
    <!--<div class="modal-body form-body text-right">-->
    <!--<form class="form-horizontal">-->
    <!--<div class="form-group row">-->
    <!--<label class="col-md-3 control-label">-->
    <!--名称-->
    <!--</label>-->

    <!--<div class="col-md-8">-->
    <!--<input type="text" class="form-control" placeholder=""-->
    <!--ng-model="add['MEMBER_CARD_TYPE.NAME']"-->
    <!--ng-init="add['MEMBER_CARD_TYPE.NAME']=''">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
    <!--<label class="col-md-3 control-label">-->
    <!--描述-->
    <!--</label>-->

    <!--<div class="col-md-8">-->
    <!--<input type="text" class="form-control" placeholder=""-->
    <!--ng-model="add['MEMBER_CARD_TYPE.INTRO']"-->
    <!--ng-init="add['MEMBER_CARD_TYPE.INTRO']=''">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
    <!--<label class="col-md-3 control-label">-->
    <!--背景色-->
    <!--</label>-->

    <!--<div class="col-md-8">-->
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<input type="text" class="form-control" placeholder=""-->
    <!--ng-model="add['MEMBER_CARD_TYPE.BG_COLOR']"-->
    <!--ng-init="add['MEMBER_CARD_TYPE.BG_COLOR']=''">-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
    <!--<div class="center-block">-->
    <!--<div class="color" style="background-color: #31C552" ng-click="selectCardColor('#31C552')"></div>-->
    <!--<div class="color" style="background-color: #199B93" ng-click="selectCardColor('#199B93')"></div>-->
    <!--<div class="color" style="background-color: #EF5B5B" ng-click="selectCardColor('#EF5B5B')"></div>-->
    <!--<div class="color" style="background-color: #A90807" ng-click="selectCardColor('#A90807')"></div>-->
    <!--<div class="color" style="background-color: #3679E1" ng-click="selectCardColor('#3679E1')"></div>-->
    <!--</div>-->
    <!--<div class="center-block">-->
    <!--<div class="color" style="background-color: #8C56B2" ng-click="selectCardColor('#8C56B2')"></div>-->
    <!--<div class="color" style="background-color: #E19318" ng-click="selectCardColor('#E19318')"></div>-->
    <!--<div class="color" style="background-color: #CCCA12" ng-click="selectCardColor('#CCCA12')"></div>-->
    <!--<div class="color" style="background-color: #C7C7C7" ng-click="selectCardColor('#C7C7C7')"></div>-->
    <!--<div class="color" style="background-color: #303133" ng-click="selectCardColor('#303133')"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
    <!--<label class="col-md-3 control-label">-->
    <!--发卡渠道-->
    <!--</label>-->

    <!--<div class="col-md-8">-->
    <!--<select class="form-control" ng-model="add['MEMBER_CARD_TYPE.CARD_SOURCE_ID']"-->
    <!--ng-init="add['MEMBER_CARD_TYPE.CARD_SOURCE_ID']='-1'"-->
    <!--ng-options="item['member_card_source.ID'] as item['member_card_source.NAME'] for item in cardSourceList">-->
    <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
    <!--<label class="col-md-3 control-label">-->
    <!--起始卡号-->
    <!--</label>-->

    <!--<div class="col-md-8">-->
    <!--<input type="text" class="form-control" placeholder=""-->
    <!--ng-model="add['MEMBER_CARD_TYPE.BEGIN_CARD_ID']"-->
    <!--ng-init="add['MEMBER_CARD_TYPE.BEGIN_CARD_ID']=''">-->
    <!--</div>-->
    <!--</div>-->

    <!--</form>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-info btn-outline" ng-click="addCardType()">确定-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消-->
    <!--</button>-->
    <!--</div>-->
    <!--</div> &lt;!&ndash; modal-content&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--渠道-->
    <!--   <div class="modal fade" id="channel">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal"
                               aria-hidden="true"></button>
                       <h4 class="modal-title">渠道信息</h4>
                   </div>
                   <div class="modal-body form-body text-right">
                       <div class="form-horizontal">
                           <div class="form-group row">
                               <label class="col-md-3 control-label">
                                   名称
                               </label>

                               <div class="col-md-8">
                                   <input type="text" class="form-control" placeholder="">
                               </div>
                           </div>

                           <div class="form-group row">
                               <label class="col-md-3 control-label">
                                   描述
                               </label>

                               <div class="col-md-8">
                                   <input type="text" class="form-control" placeholder="">
                               </div>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-info btn-outline" ng-click="modifyProductClass()">确定
                               </button>
                               <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                               </button>
                           </div>
                       </div>
                   </div> &lt;!&ndash; modal-content&ndash;&gt;
               </div>
           </div>
       </div>-->
</div>
</div>