.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    color: rgb(220,84,36);
    border-bottom: 2px solid rgb(220,84,36);
}
.nav-tabs>li>a>span{
    color: rgb(220,84,36);
}
.productInfo{
    position: relative;
    height: 100px;
}
.productInfo .itemColor{
    position: absolute;
    bottom: -10px;
}
.pay,.pay:hover,.pay:focus{
    background-color: rgb(252,80,8);
    color: #fff;
}
.orderItem{
    border:1px solid rgb(220,84,36);
}
.imformation{
    background-color: rgb(254,249,245);
    padding:30px 30px 25px;
}
.unpayed{
    color: rgb(252,80,8);
    font-size: 20px;
    margin-bottom: 10px;
}
.product{
    padding: 20px 25px 15px 15px;
}
.itemColor{
    color: rgb(169,167,171);
    font-size: 12px;
}