.page-content{
    font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.orderNav{
    margin-bottom: 20px;

}
.orderNav li{
    width: 96px;
    text-align: center;
    border-left: 1px solid #e0e0e0;

}
.orderNav li a{
    width: 9
    padding: 0;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;

}
.orderNav li.first{
    border-left: 0;
}

.orderNav>li.active>a,
.orderNav>li.active>a:focus,
.orderNav>li.active>a:hover{
    color: rgb(220,84,36);

}
.orderNav>li>a>span{
    color: rgb(220,84,36);
}
.orderItem{
    margin-bottom: 20px;
    border:1px solid rgb(169,167,171);
}
.unfinished{
    border: 1px solid rgb(220,84,36);
}
.product{
    overflow: hidden;
    padding:20px 30px 10px;
}
.productList{
    width: 80%;
}
.productList li{
    height: 80px;
    margin-bottom: 20px;
}

.productInfo img{
    margin-right: 20px;
}
.productInfo p{
    line-height: 1.6;
}

.pay,.pay:hover,.pay:focus{
    background-color: rgb(252,80,8);
    color: #fff;
}
.imformation{
    padding:25px 30px 10px 30px;
    border-bottom: 1px solid rgb(169,167,171);
}
.orderUnpayed{
    background-color: rgb(254,249,245);
    border-bottom: 1px solid rgb(253,216,192);
}
.unpayed{
    color: rgb(252,80,8);
    font-size: 18px;
}
.payed{
    color: rgb(169,167,171);
    font-size: 18px;
}
.details{
    padding-top: 15px;
    font-weight: 400;
    color: rgb(164,162,161);
}
.sum{
    color: rgb(164,162,161);
}
.sum span{
    font-size: 30px;
    color: rgb(51,51,51);
}

.itemColor{
    color: rgb(169,167,171);
    font-size: 12px;
}
.buttons button{
    margin-bottom: 10px;
}