<!DOCTYPE html>
<html lang="zh-CN" ng-app="sortedList">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    
    <title>sortedList</title>
    <!-- build:css style.css -->
    <link href="../../components/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../components/libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../components/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../components/nav/nav.css" rel="stylesheet">
    <link href="../../components/footer/footer.css" rel="stylesheet">
    <link href="sortedList.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div ui-view="nav"></div>
    
    <div class="container" ng-controller="SortListController">
        <div class="row row-content">
            <div class="col-sm-12">
            	<table class="table table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="item in sortedList">
                        <td>{{item.name}}</td>
                        <td>
                            <a ng-click="up(item)" ng-show="item.index !== 0">
                                <i class="fa fa-arrow-up"></i>
                                上移
                            </a>
                            <a ng-click="down(item)" ng-show="item.index !== sortedList.length - 1">
                                <i class="fa fa-arrow-down"></i>
                                下移
                            </a>
                        </td>
                    </tr>
                </tbody>   
                </table>
            </div>     
        </div>
    </div>

    <div ui-view="footer"></div>
     
    <!-- build:js sortedList.js -->
    <script src="../../components/libs/angular/angular.min.js"></script>
    <script src="../../components/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../components/libs/angular-resource/angular-resource.min.js"></script>
    <!-- script jquery.js before bootstrap.js -->
    <script src="../../components/libs/jquery/dist/jquery.min.js"></script>
    <script src="../../components/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="sortedList.js"></script>
    <script src="sortedList-controllers.js"></script>
    <script src="sortedList-services.js"></script>
    <!-- endbuild -->

</body>
</html>