<div class="container-fluid" ng-init="initLoad()">
    <!--时间选择导航-->
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-1 fixWidthByOneInput">
                <input id="startDay" type="text" ng-model="groupRange['DAY']" ng-init="groupRange['DAY']=YESTERDAY"
                       class="form-control inputWidth" placeholder="">
            </div>
            <button class="btn green" type="button" ng-click="getGroupByRange()">查询</button>
            <button class="btn alignRight" type="button" onclick="outPutMethod('guestTable')">导出</button>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="table-content">
    <div class="table-toolbar">
        <table class="table table-bordered table-hover table-striped" id="guestTable">
            <thead>
            <tr>
                <th class="col-sm-1 text-center">门店ID</th>
                <th class="col-sm-1 text-center">门店</th>
                <th class="col-sm-1 text-center">7:00-9:00</th>
                <th class="col-sm-1 text-center">9:00-11:00</th>
                <th class="col-sm-1 text-center">11:00-13:00</th>
                <th class="col-sm-1 text-center">13:00-15:00</th>
                <th class="col-sm-1 text-center">15:00-17:00</th>
                <th class="col-sm-1 text-center">17:00-20:00</th>
                <th class="col-sm-1 text-center">其他</th>

            </tr>
            </thead>
            <tbody>
            <tr align="center" ng-repeat="VALUE in GUEST_SOURCE">
                <td><span ng-bind="VALUE['SHOP_ID']"></span></td>
                <td><span ng-bind="VALUE['SHOP_NAME']"></span></td>
                <td><span ng-if="VALUE['GUEST_7_9'] != 0"><span ng-bind="VALUE['GUEST_7_9'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_9_11'] != 0"><span ng-bind="VALUE['GUEST_9_11'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_11_13'] != 0"><span ng-bind="VALUE['GUEST_11_13'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_13_15'] != 0"><span ng-bind="VALUE['GUEST_13_15'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_15_17'] != 0"><span ng-bind="VALUE['GUEST_15_17'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_17_20'] != 0"><span ng-bind="VALUE['GUEST_17_20'] | number"></span></span>
                </td>
                <td><span ng-if="VALUE['GUEST_OTHER'] != 0"><span ng-bind="VALUE['GUEST_OTHER'] | number"></span></span>
                </td>
            </tr>
            </tbody>
            <tr align="center">
                <td colspan="2">总计</td>
                <td><span ng-bind="SUM_GUEST_7_9 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_9_11 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_11_13 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_13_15 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_15_17 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_17_20 | number"></span></td>
                <td><span ng-bind="SUM_GUEST_OTHER | number"></span></td>
            </tr>
        </table>
    </div>
</div>
</div>
