<div class="table-operbar row">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-12 text-right">
                 <button show-modal id="#addStore" class="btn btn-default sbold green">
                     <i class="fa fa-plus"></i> 新增仓库</button>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>

                    <!--<th class="col-md-2"> 发卡渠道编码</th>-->
                    <!--<th class="col-md-3"> 商品</th>-->
                    <!--<th class="col-md-2"> 单位</th>-->
                    <!--<th class="col-md-2"> 仓库</th>-->
                    <th class="col-md-1"> 仓库名称</th>
                    <th class="col-md-2 text-center"> 仓库编码</th>
                    <!--<th class="col-md-2"> 最后变更</th>-->
                    <th class="col-md-1 text-center"> 操作</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="item in storeList">

                    <!--&lt;!&ndash;<td ng-bind="item['MEMBER_CARD_SOURCE.CARD']"></td>&ndash;&gt;-->
                    <td ></span><span ng-bind="item['STORE.NAME']"></span><span ng-if="item['STORE.IS_DEF']==1">(默认仓库)</td>
                    <td ng-bind="item['STORE.CODE']" class="text-center"></td>
                    <td class="text-center">
                        <div>
                            <a type="button" show-modal id="#modifyStore"
                               ng-click="modifyStoreClick(item)">修改</a>
                            <a type="button" ng-click="deleteStore(item)" ng-if="item['STORE.IS_DEF']==-1">
                                删除
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div page-bar
     filter-obj="filter"
     url="/store/store/queryAll"
     callback="bindData(response)">
</div>

<!--BEGIN 新增仓库-->
<div class="modal fade text-left" id="addStore" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">添加仓库</h4>
            </div>
            <div class="modal-body form-body text-right">

                <form class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span> 仓库名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['STORE.NAME']"
                                   ng-init="add['STORE.NAME']=''"
                                   placeholder=""></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span> 仓库编码
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['STORE.CODE']"
                                   ng-init="add['STORE.CODE']=''"
                                   placeholder=""></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            默认仓库
                        </label>

                        <div class="col-md-8 ">
                            <input type="checkbox" class="checkbox"
                                   ng-model="IS_DEF"
                                   ng-checked="IS_DEF"
                                   ng-init="IS_DEF=false"
                                   placeholder=""></div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addStore()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 新增发卡渠道-->

<!--BEGIN 修改仓库信息-->
<div class="modal fade text-left" id="modifyStore" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">修改仓库信息</h4>
            </div>

            <div class="modal-body form-body text-right">

                <form class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span> 仓库名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="modify['STORE.NAME']"
                            ></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            仓库编码
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="modify['STORE.CODE']"
                                   disabled></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            默认仓库
                        </label>

                        <div class="col-md-8 ">
                            <input type="checkbox" class="checkbox"
                                   ng-model="modifyIsDef"
                                   ng-checked="modify['STORE.IS_DEF']==1"
                            >
                        </div>


                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="modifyStore()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 修改发卡渠道-->