<div class="container-fluid" ng-init="initLoad()">
    <!--时间选择导航-->
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-8 fixWidth">
              
                  <input id="start_hour" type="text" class="form-control inputWidth"  readonly="readonly" placeholder="起始时间"
                         name="from" ng-model="filter['DATETIME_ADD_FROM']" data-date-format="yyyy-mm-dd">
                  <span>-</span>
                  <input id="end_hour" type="text" class="form-control inputWidth"  readonly="readonly" placeholder="截止时间"
                         name="to" ng-model="filter['DATETIME_ADD_TO']"
                         data-date-format="yyyy-mm-dd">
                  <input  type="text" class="form-control inputWidth" placeholder="商品名称" ng-model="filter['PRD_NAME']">
                  <input type="text" class="form-control inputWidth" placeholder="订单号" ng-model="filter['ORDER_NUM']">        
                  <input type="text" class="form-control inputWidth" placeholder="电话号码" ng-model="filter['REC_PHONE']">        
               </div>
               <div class="col-md-2">
               		 <select id="shop" class="selectpicker show-tick form-control" data-live-search="true" ng-model="filter['SHOP_ID']">
               		 	<option value='null' selected="true">全部门店</option>
               		 </select>
               </div>       
            <button class="btn " type="button" ng-click="getProdutOrderList()">查询</button>
            <button class="btn alignRight" type="button" id="ouputBtn" ng-click="outPutQuery()">导出</button>
            <div class="clear"></div>
       
    </div>
    <div class="col-md-12">
	    <div class="col-md-8 fixWidth">
	               <!--<input id="get_hour" type="text" class="form-control inputWidth"  readonly="readonly" placeholder="提货时间"
	                         name="from" ng-model="filter['DATETIME_GET_FROM']" data-date-format="yyyy-mm-dd">
	                   <span>-</span>
	                  <input id="start_hour" type="text" class="form-control inputWidth"  readonly="readonly" placeholder="起始时间"
                         name="from" ng-model="filter['GET_PRD_DATETIME']" data-date-format="yyyy-mm-dd">
	                  <input id="end_hour" type="text" class="form-control inputWidth"  readonly="readonly" placeholder="截止时间"
	                         name="to" ng-model="filter['DATETIME_GET_TO']"
	                         data-date-format="yyyy-mm-dd"> -->
	                   
	                 <select id="state" ng-model="filter['STATE_OUT']"
                                ng-init="filter['STATE_OUT']='null'"
                                >
                            <option class="nya-bs-option" value="null">
                               全部状态
                            </option>
                            <option class="nya-bs-option" value="-1">
                                未提货
                            </option>
                            <option class="nya-bs-option" value="1">
                                已提货
                            </option>
                        </select> 
	               		 <label> :提货状态</label>   
	   </div>
	   <button class="btn " type="button" ng-click="getYesterdayProdutOrderList()">昨日未提货订单</button>
	   
    </div>
</div>
 
<div class="table-content">
    <div class="table-toolbar">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr >
                <th class="text-center" ng-bind="name" ng-repeat='name in TITLE' ></th>      
            </tr>        
            </thead>
            <tbody>
            <tr ng-repeat="VALUE in OLDLIST" align="center">
            	<td style="vertical-align: middle;"><span ng-bind="VALUE['SHOP_NAME']"></span></td>
            	<td style="vertical-align: middle;"><span ng-bind="VALUE['ORDER_NUM']"></span></td>
            	<td align="center">
           			<span ng-bind="VALUE['TRUE_NAME']"></span>
           		</td>
           		<td align="center">
           			<span ng-bind="VALUE['REC_PHONE']"></span>
           		</td>
           		<td align="center">
           			<span ng-bind="VALUE['PRD']"></span>
           		</td>
           		<td align="center">
           			<span ng-bind="VALUE['SKU']"></span>
           		</td>
           		<td align="center">
           			<span ng-bind="VALUE['PRD_NAME']"></span>/
           			<span ng-bind="VALUE['SKU_1_VALUE']"></span>
           		</td>
           		<td ng-bind="VALUE['COUNT']" align="center"></td>
           		<td align="center">
           			<span ng-bind="VALUE['PAY_TYPE']"></span>:
           			<span ng-bind="VALUE['PRICE_SUM']"></span>
           		</td>
           		<td ng-bind="VALUE['DATETIME_ADD'] | FormatAllDate" align="center"></td>
           		<td ng-bind="VALUE['GET_PRD_DATETIME']" align="center"></td>
           		<td ng-bind="VALUE['STATE_OUT']" align="center"></td>
           		
            </tr>
            <tr align="center" ng-if="OLDLIST.length>0">
               <td colspan=9 style="vertical-align: middle;">合计</td>
               <td ng-bind="all" align="center">
           		
           		</td>
            	
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
