<div ng-init="initData()">
  <!-- BEGIN 搜索 -->
  <div class="search-wrap weui_cells">
    <a href="#"><img src="../../public/img/head.png" style="height: auto;width: 100%;"></a>
    <div class="search-content">
      <span class="shopName" ui-sref="shopList" ng-bind="shopInfo['SHOP.SHOP_NAME']"> ></span>
      <div class="searchHolder pull-right">
        <i class="icon-search" ng-click="searchPrd()"></i>
        <input type="text" ng-model="prdKeyword" placeholder="输入商品名">
      </div>
    </div>
  </div>
  <!-- END 搜索 -->

  <div id="carousel-generic">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>

  <!-- BEGIN 导航 -->
  <div class="home-nav flexbox text-center">
    <div class="col cell" ui-sref="prd-List">
      <a><img src="../../public/img/nav1.jpg"></a>
      <p>全部菜品</p>
    </div>
    <div class="col cell" ui-sref="prd-List({classId:1103})">
      <a ><img src="../../public/img/nav2.jpg"></a>
      <p>爆款菜品</p>
    </div>
    <div class="col cell" ui-sref="prd-List({classId:1104})">
      <a ><img src="../../public/img/nav3.jpg"></a>
      <p>新品上市</p>
    </div>
    <div class="col cell" ui-sref="order-List">
      <a><img src="../../public/img/nav4.png"></a>
      <p>我的订单</p>
    </div>
  </div>
  <!-- END 导航 -->

  <!-- 限时抢购 -->
  <div class="limit">
    <a href="#"><img src="../../public/img/pic-1.png" style="height: auto;width: 100%;"></a>
    <span class="time"></span>
  </div>

  <!-- 团购 -->
  <div class="group">
    <a href="#"><img src="../../public/img/pic-2.png" style="height: auto;width: 100%;"></a>
  </div>

  <!-- 活动专区 -->
  <div class="product-wrap">
    <div class="headTitle">活动专区</div>
    <div class="product-content">
      <a href="#"><img src="../../public/img/special.png" style="height: auto;width: 100%;"></a>
    </div>

    <!-- BEGIN 今日推荐 -->
    <div class="product-special" style="font-size: 0;">
      <div class="weui_cells weui_cells_access special-head">
        <a class="weui_cell" href="#">
          <div class="weui_cell_bd weui_cell_primary text-center">
            <p>今日推荐</p>
          </div>
          <div class="weui_cell_ft"></div>
        </a>
      </div>

      <div class="special-content">
        <ul class="list-unstyled">
          <li class="first">
            <a href="#"><img src="../../public/img/special-1.png" class="weui_cells"></a>
            <div class="thumbnail-list list-unstyled flexbox">
              <div class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/special-2.png"></a>
                <div class="desc">
                  <p><a href="#">活开海胆120(赠芥末酱)</a></p>
                  <span class="price">￥159.00</span>
                </div>
              </div>
              <div class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/special-3.png"></a>
                <div class="desc">
                  <p><a href="#">鸿樸蒲烧鳗鱼270g</a></p>
                  <span class="price">￥68.80</span>
                </div>
              </div>
              <div class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/special-4.png"></a>
                <div class="desc">
                  <p><a href="#">倍有滋鸡翅中500g</a></p>
                  <span class="price">￥29.80</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#"><img src="../../public/img/pic-5.png"></a>
          </li>
          <li>
            <a href="#"><img src="../../public/img/pic-6.png"></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- END 今日推荐 -->

    <!-- BEGIN 分类 -->
    <div class="product-list">
      <div class="item">
        <div class="item-title">
          <span class="baked">烘焙食品</span>
        </div>
        <ul class="list-unstyled">
          <li>
            <a href="#"><img src="../../public/img/pic-7.png" class="weui_cells"></a>
            <ul class="thumbnail-list list-unstyled flexbox">
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/pic-9.png"></a>
                <div class="desc">
                  <p><a href="#">圃美多 香辣炒年糕</a></p>
                  <span class="price">￥28.00</span>
                </div>
              </li>
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/pic-10.png"></a>
                <div class="desc">
                  <p><a href="#">避风塘 干炒牛河</a></p>
                  <span class="price">￥14.80</span>
                </div>
              </li>
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/pic-11.png"></a>
                <div class="desc">
                  <p><a href="#">经典意大利提拉米苏蛋糕 6寸</a></p>
                  <span class="price">￥88.80</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="item">
        <div class="item-title">
          <span class="meat">冷冻肉品</span>
        </div>
        <ul class="list-unstyled">
          <li>
            <a href="#"><img src="../../public/img/pic-13.png" class="weui_cells"></a>
            <ul class="thumbnail-list list-unstyled flexbox">
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/index_05.png"></a>
                <div class="desc">
                  <p><a href="#">圃美多 香辣炒年糕</a></p>
                  <span class="price">￥28.00</span>
                </div>
              </li>
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/index_08.png"></a>
                <div class="desc">
                  <p><a href="#">避风塘 干炒牛河</a></p>
                  <span class="price">￥14.80</span>
                </div>
              </li>
              <li class="cell">
                <a href="#"><img class="thumbnail" src="../../public/img/index_11.png"></a>
                <div class="desc">
                  <p><a href="#">经典意大利提拉米苏蛋糕 6寸</a></p>
                  <span class="price">￥88.80</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>