<div ng-init="initData()">
  <!-- BEGIN 搜索 -->
  <div class="search-wrap weui_cells">
      <div id="carousel-generic">
          <carousel interval="myInterval">
              <slide ng-repeat="item in homeList" active="item.active">
                  <a ng-href="{{item['BANNER.URL']}}" ng-if="item['is_show']==true">
                      <img
                              ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
                              style="height: 240px;width: 100%;">
                  </a>
              </slide>
          </carousel>
      </div>



    <div class="search-content">
      <span class="shopName" ui-sref="pages/shop" ng-bind="shopInfo['SHOP.SHOP_NAME']"></span>
      <div class="searchHolder pull-right">
        <i class="icon-search" ng-click="searchPrd()"></i>
        <input type="text" ng-model="prdKeyword" placeholder="输入商品名">
      </div>
    </div>
  </div>
  <!-- END 搜索 -->

  <!-- BEGIN 导航 -->
  <div class="home-nav flexbox text-center">
    <div class="col cell" ui-sref="pages/product/list">
      <a><img src="../../public/img/nav1.jpg"></a>
      <p>全部菜品</p>
    </div>
    <div class="col cell" ui-sref="pages/product/tagPrdList({tagId:1024})">
      <a><img src="../../public/img/nav2.jpg"></a>
      <p>爆款菜品</p>
    </div>
    <div class="col cell" ui-sref="pages/product/tagPrdList({tagId:1023})">
      <a><img src="../../public/img/nav3.jpg"></a>
      <p>新品上市</p>
    </div>
    <div class="col cell" ui-sref="pages/order/list">
      <a><img src="../../public/img/nav4.png"></a>
      <p>我的订单</p>
    </div>
  </div>
  <!-- END 导航 -->

  <!-- 限时抢购 -->
  <div class="limit" ng-repeat="item in limitList" ng-if="item['is_show']==true" >
    <a ng-href="{{item['BANNER.URL']}}"><img ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
         style="height: 162px;width: 100%;" ></a>
    <div class="limit-desc">
      <div class="desc-text">
        <!--<p class="title">阳澄湖大闸蟹蟹券</p>
        <p class="text">来自马来西亚的顶级美味</p>
        <p class="price">现价<span class="cur-price">￥35.80</span> <del class="pre-price">￥58.80</del></p>-->

        <a class="btn btn-buy">立即抢购</a>
          <span class="limit-time">
              <span style="display:inline-block;width: 10px;height: 10px"></span>
              <span>{{item.hour}}</span>:
              <span>{{item.minute}}</span>:
              <span>{{item.second}}</span>
          </span>
      </div>
    </div>
  </div>

  <!-- 团购 -->
  <div class="group" ng-repeat="item in groupList" ng-if="item['is_show']==true" >
    <a ng-href="{{item['BANNER.URL']}}"><img ng-if="item['is_show']==true" ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
         style="height: 162px;width: 100%;" ng-href="{{item['BANNER.URL']}}"></a>
    <div class="group-desc">
      <div class="desc-text">
        <!--<p class="title">阳澄湖大闸蟹蟹券</p>-->
        <!--<p class="text">来自马来西亚的顶级美味</p>-->
        <!--<p class="price">现价<span class="cur-price">￥35.80</span>-->
          <!--<del class="pre-price">￥58.80</del>-->
        <!--</p>-->
        <a class="btn btn-buy">立即抢购</a>
      </div>
    </div>
  </div>

  <!-- 活动专区 -->
  <div class="product-wrap">
    <div class="headTitle" ng-if="activityList.length>0">活动专区</div>
    <div class="product-content" ng-repeat="item in activityList">
      <a ng-if="item['is_show']==true" ng-href="{{item['BANNER.URL']}}"><img
          ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
          style="height: auto;width: 100%;"></a>
    </div>

    <!-- BEGIN 今日推荐 -->
    <div class="product-special" style="font-size: 0;">
      <div class="weui_cells weui_cells_access special-head">
        <a class="weui_cell" href="#">
          <div class="weui_cell_bd weui_cell_primary text-center">
            <p>今日推荐</p>
          </div>
          <div class="weui_cell_ft"></div>
        </a>
      </div>

      <div class="special-content">
        <ul class="list-unstyled">
          <li class="first">
            <a ng-repeat="item in recommendList" ng-href="{{item['BANNER.URL']}}" ng-if="item['is_show']==true"><img
                ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"
                class="weui_cells"></a>
            <div class="thumbnail-list list-unstyled flexbox">


          <div class="cell" ng-repeat=" item in tagProductList['1035']" ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
            <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
            <div class="desc">
              <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
              <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
            </div>
          </div>


            </div>
          </li>
          <li>
            <a ng-repeat="item in recommNineList" ng-href="{{item['BANNER.URL']}}" ng-if="item['is_show']==true"><img
                ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}"></a>
          </li>
          <!-- <li>
             <a href="#"><img src="../../public/img/pic-6.png"></a>
           </li>-->
        </ul>
      </div>
    </div>

    <!-- END 今日推荐 -->

    <!-- BEGIN 分类 -->
    <div class="product-list">
      <div class="item" ng-repeat="itemList in BannerList">
        <div class="item-title">
          <span class="baked">{{itemList.name}}</span>
        </div>

        <ul class="list-unstyled">
           <li ng-repeat="item in itemList.content" ng-if="item['is_show']==true">
              <a ng-href="{{item['BANNER.URL']}}"  >
              <img  ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}" class="weui_cells">
              </a>

              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3005'">
              <li class="cell" ng-repeat=" item in tagProductList['1036']"
                  ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                <div class="desc">
                  <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                  <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                </div>
              </li>
            </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3006'">
                  <li class="cell" ng-repeat=" item in tagProductList['1037']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3007'">
                  <li class="cell" ng-repeat=" item in tagProductList['3000']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3008'">
                  <li class="cell" ng-repeat=" item in tagProductList['3001']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3009'">
                  <li class="cell" ng-repeat=" item in tagProductList['3004']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3010'">
                  <li class="cell" ng-repeat=" item in tagProductList['3002']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3011'">
                  <li class="cell" ng-repeat=" item in tagProductList['3003']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3012'">
                  <li class="cell" ng-repeat=" item in tagProductList['3005']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
              <ul class="thumbnail-list list-unstyled flexbox" ng-if="itemList.id=='3013'">
                  <li class="cell" ng-repeat=" item in tagProductList['3006']"
                      ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">
                      <a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>
                      <div class="desc">
                          <p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>
                          <span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>
                      </div>
                  </li>
              </ul>
          </li>
        </ul>
      </div>

      <!--<div class="item">-->
        <!--<div class="item-title">-->
          <!--<span class="meat">冷冻肉品</span>-->
        <!--</div>-->
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a ng-href="{{item['BANNER.URL']}}" ng-repeat="item in freezingList" ng-if="item['is_show']==true"><img ng-src="{{FILE_SERVER_DOMAIN+item['BANNER.PICTURE']+'?x-oss-process=image/resize,w_750'}}" class="weui_cells"></a>-->
            <!--<ul class="thumbnail-list list-unstyled flexbox">-->
              <!--<li class="cell" ng-repeat=" item in tagProductList['1036']"-->
                  <!--ui-sref="pages/product/detail({PRD_ID:item['SHOP_PRODUCT.PRD_ID']})">-->
                <!--<a><img class="thumbnail" ng-src="{{FILE_SERVER_DOMAIN+item['SHOP_PRODUCT.CMP']}}"></a>-->
                <!--<div class="desc">-->
                  <!--<p><a ng-bind="item['SHOP_PRODUCT.PRD_NAME']"></a></p>-->
                  <!--<span class="price" ng-bind="item['SHOP_PRODUCT.MINSKUPRICE'] | currency : '￥' "></span>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>

</div>