<div class="bg-grey product-detail-page group-wrap">
    <!-- BEGIN 商品详情图片 -->
    <div class="weui_navbar" style="background-color: #fff;">
        <div class="weui_cell" style="width: 100%;">
            <div class="weui_cell_fr"></div>
            <div style="font-size: 16px;margin-left: 20px;" href="#/pages/order/list/all">
                团购
            </div>

        </div>
    </div>

    <div class="weui_cells" style="margin-bottom: 0px;">
        <div class="weui_cell">
            <div class="basic-info weui_cell_bd weui_cell_primary">
                <h4 class="name">
                    <span class="groupTilte">冬季阳光葵花籽黑南瓜冬季阳光葵花籽黑南瓜</span>

                </h4>

                <p class="money group-money" style="float: left;">
                    <!--现价-->
                    团购价
                    <span style="font-size:25px;">￥123.00</span>
                    <!--原价-->
                    <!--ng-if="sku!=undefined&&sku['isSale']"-->
                    <span  class="del-line" style="font-size: 13px;">￥399.00</span>

                </p>
                <div class="groupNum">

                    <button class="group-btn">-</button>
                    <span class="num">8</span>
                    <button class="group-btn numColor">+</button>
                </div>

            </div>

        </div>

    </div>
    <div class="time-wrap">
        <img class="pic-time"
             src="../../public/img/limit.png" alt="">
        <span>已开团，距离成团还差2人</span>
        <p class="last-time">剩余时间：23：23：00</p>
    </div>
    <!--<div class="group-tishi" style="text-align: center;">人数不够自动退款</div>-->
    <div class="person-nav">
        参团人员
    </div>
    <div class="groups">
        <div class="eachgroup" style="height: 45px;">
            <span>客户001</span>
            <span class="red">团长</span>
            <span class="word-fr">23:23:00 参团</span>

        </div>
        <div class="eachgroup" style="height: 45px;">
            <span>客户001</span>
            <span class="word-fr">23:23:00 参团</span>

        </div>
    </div>

    <div class="kaiBtn group-sign">参团：￥1999.00</div>



    <!--选择页面遮罩-->
    <div class="chose-shop" ng-if="STORE_ID==0">
        <i class="icon-shop"></i>
        <span>请先选择门店，即可在线购买！</span>
        <button class="btn btn-default btn-chose" ng-click="toShop()">立即选择</button>
    </div>

</div>