<div class="coupon-list" ng-repeat="(key,item) in useableList"  ng-click="checkItem(item)">

    <i class="icon "
       ng-class="{true:' icon-checked',false:'icon-check'}[isSelect==item['MEMBER_COUPON.COUPON_ID']]"></i>

        <div class="coupon-wrap" >
        <div class="coupon-head">
            <div class="coupon-info">
                <p class="couponType">{{item['MEMBER_COUPON.COUPON_INFO']['COUPON.NAME']}}</p>
                <p class="couponTime" ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.END_DATETIME']!=null">有效期至<span>{{item['MEMBER_COUPON.COUPON_INFO']['COUPON.END_DATETIME']|FormatAllDate}}</span></span>
                </p>
                <div class="coupon-value">
                    <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.TYPE']==1">
                                    <span>{{(item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.FACE_VALUE']/100).toFixed(2)}}</span>
                                    <span class='valueType'>元</span>
                                </span>
                    <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.TYPE']==2">
                                    <span>{{(item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.FACE_VALUE']/10).toFixed(1)}}</span>
                                    <span class='valueType'>折</span>

                    </span>
                </div>
            </div>
        </div> <!-- END coupon-head -->
        <div class="coupon-detail">
            <div class="coupon-desc">
                <p class="limit-time"><span>限定时间(每周</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[0]==1">一</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[1]==2">二</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[2]==3">三</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[3]==4">四</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[4]==5">五</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[5]==6">六</span>
                    <span ng-if="parseArray(item['MEMBER_COUPON.COUPON_INFO']['COUPON.USE_TIME_CYCLE'])[6]==7">日</span>
                    <span>)</span>
                <p class="limit-class">
                    <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==1">特定商品使用
                        ({{detailData(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])}})
                                 <!-- <a data-toggle="modal" data-target="#detail" class="btn sbold green" ng-click="detailClick(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])">
                                    查看详情
                                  </a>-->
                                </span>
                    <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==2">特定商品类别使用
                               ({{detailData(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])}})
                    </span>
                    <span ng-if="item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_TYPE']==3">特定商品标签使用
                                ({{detailData(item['MEMBER_COUPON.COUPON_INFO']['COUPON.TARGET_OBJ_INFO'])}})
                                </span>
                </p>
                <!--<p class="couponCount">每人限领{{item['MEMBER_COUPON.COUPON_INFO']['COUPON.RULE_INFO']['COUPON_RULE.EACH_MEMBER_LIMIT']}}张
                    (已领{{item['.NUM_COUPON']}}张)
                    &lt;!&ndash;<a class="pull-right" style="color:rgb(255,151,50)" ng-click="addCoupon(item)">立即领取</a>&ndash;&gt;
                </p>-->
            </div>
        </div>
       </div>

</div>

<span class="no-coupon" ng-if="useableList.length==0"  >无可用优惠券!</span>

<div class="coupon-btn" ng-if="useableList.length>0"  >
    <button class="btn btn-cancel " ng-click="returnOrder()" >
        取消
    </button>
    <button class="btn btn-confirm btn-default " ng-click="returnData()" >
            确定
        </button>
</div>


