<div class="page-content">
    <div class="col-sm-12">
        <form class="form-horizontal" novalidate="novalidate">
            <h4>基本信息</h4>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    <span class="icon-required">*</span>
                    登录帐号
                </label>
                <div class="col-sm-4">
                    <input disabled class="form-control" type="text" ng-model="userModify['USER.LOGIN_ID']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                </label>
                <a ng-click="initPWD()" class=" col-sm-1 left-align form-input-title">
                    重置密码
                </a>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    <span class="icon-required">*</span>
                    姓名
                </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="userModify['USER.REAL_NAME']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    <span class="icon-required">*</span>
                    手机号
                </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="userModify['USER.MOBILE']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">邮箱</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="userModify['USER.MAIL']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">QQ</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="userModify['USER.QQ']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">所属门店</label>
                <div class="col-sm-4">
                    <select ng-model="userModify['USER.SHOP_ID']"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="null">所属门店</option>
                        <option class="nya-bs-option"
                                ng-repeat="value in shopList"
                                ng-bind="value['SHOP.SHOP_NAME']"
                                value="{{value['SHOP.SHOP_ID']}}">
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <form class="form-horizontal" novalidate="novalidate">
            <h4>员工角色设定 <span class="icon-required">（如未设定，将无任何权限）</span></h4>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    所属角色
                </label>
                <div class="col-sm-6">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="col-sm-10">
                                    <span class="col-sm-10">角色列表</span>
                                    <a ui-sref="user/role/roleList">角色权限管理</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <td>
                                <div ng-repeat="role in roleList" class="col-sm-3"
                                     style="margin-top: 10px;margin-bottom: 10px">
                                    <input ng-model="role['USER_ROLE.CHECKED']" type="checkbox">
                                    <span ng-bind="role['USER_ROLE.ROLE_NAME']"></span>
                                </div>
                            </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <!--<form class="form-horizontal" novalidate="novalidate">-->
            <!--<h4>角色权限展示</h4>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-1 right form-input-title">-->
                    <!--所选角色权限明细-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-8">-->
                    <!--<div class="table-scrollable">-->
                        <!--<table class="table table-bordered table-hover table-striped">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th class="col-md-2"> 授权目标</th>-->
                                <!--<th class="col-md-10"> 目标详细</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="item in pFirstAuthList">-->
                                <!--<td style="text-align:center;font-size: 14px" ng-bind="item.auth_NAME"></td>-->
                                <!--<td style="text-align:left">-->
                                    <!--<div class="col-md-3" ng-repeat="value in item.childList">-->
                                        <!--<div class="md-checkbox" ng-if="value.STATE==2"-->
                                             <!--style="margin-left: 10px;margin-top: 15px;margin-bottom: 15px">-->
                                            <!--<input type="checkbox"-->
                                                   <!--id="{{value.AUTH_ID}}"-->
                                                   <!--disabled="true"-->
                                                   <!--ng-model="value.ifcheck"-->
                                                   <!--class="md-check">-->
                                            <!--<label for="{{value.AUTH_ID}}">-->
                                                <!--<span class="inc"></span>-->
                                                <!--<span class="check"></span>-->
                                                <!--<span class="box"></span>-->
                                                <!--{{value.AUTH_NAME}}-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    </div>
</div>