<div class="page-content">
    <div class="col-sm-12">
        <form class="form-horizontal" novalidate="novalidate">
            <h4>基本信息</h4>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    <span class="icon-required">*</span>
                    角色名称
                </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="roleModify['USER_ROLE.ROLE_NAME']">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">描述</label>
                <div class="col-sm-4">
                    <textarea class="form-control" type="text" ng-model="roleModify['USER_ROLE.INTRO']"></textarea>
                </div>
            </div>
        </form>
        <form class="form-horizontal" novalidate="novalidate">
            <h4>角色权限配置</h4>
            <div class="form-group">
                <label class="control-label col-sm-1 right form-input-title">
                    权限明细
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-2"> 应用分类</th>
                                <th class="col-md-10"> 授权应用</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in roleClassList">
                                <td style="text-align:center;font-size: 14px" ng-bind="item['APP_CLASS.NAME']"></td>
                                <td style="text-align:left">
                                    <div class="col-md-3" ng-repeat="value in item.childList">
                                        <div class="md-checkbox" ng-if="value['APP.STATE']==1"
                                             style="margin-left: 10px;margin-top: 15px;margin-bottom: 15px">
                                            <input type="checkbox"
                                                   id="{{value['APP.ID']}}"
                                                   ng-model="value['APP.CHECKED']"
                                                   ng-change="addAppIntoList(value,value['APP.CHECKED'])"
                                                   class="md-check">
                                            <label for="{{value['APP.ID']}}">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{value['APP.NAME']}}
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>