<div class="row-wrap row-wrap1">
        <div class="row-header1 font">修改密码</div>
        <div class="row-content">
            <form action="" class="bu-form">
                <div class="form-group">
                    <div class="pwd">手机号</div>
                    <input type="text" class="typeIn large-size" placeholder="" ng-model="memberInfo['MEMBER.LOGIN_ID']"
                           ng-init="memberInfo['MEMBER.LOGIN_ID'] =''" ng-blur="ckeckPhone()">
                </div>
                <div class="form-group">
                    <div class="pwd">验证码</div>
                    <div class="yzmPos">
                        <input type="text" class="typeIn large-size" placeholder="" ng-model="memberInfo['MEMBER.CHECKCODE']">
                        <div class="yzm" ng-click="sendSms()">获取验证码</div>
                        <div class="send">发送中...</div>
                        <div class="sended">已发送（{{time}}s）</div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="pwd">新密码</div>
                    <input type="password" class="typeIn large-size" placeholder="" ng-model="memberInfo['MEMBER.PWD']" ng-blur="checkPwd()">

                </div>
                <div class="form-group">
                    <div class="pwd">确认密码</div>
                    <input type="password" class="typeIn large-size" placeholder="" ng-model="memberInfo['MEMBER.password']" ng-blur="checkPassword()">

                </div>
            </form>
            <div class="save-btn">
                <button class="btn btn-info" style="margin-right: 10px" ng-click="updateInfo()" data-dismiss="modal">保存</button>
                <button class="btn btn-defult" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
