
/* line 22, ../sass/security.scss */
.row-wrap-modPwd {
  background-color: #fff;
  color: #4b4b4b;
  height: 633px;
  width: 960px;
}
/* line 27, ../sass/security.scss */
.row-wrap-modPwd .row-header1 {
  height: 70px;
  line-height: 70px;
  /* padding-left: 40px; */
  font-size: 20px;
  border-bottom: 1px solid #e0e0e0;
  width: 875px;
  margin-left: 40px; }
/* line 36, ../sass/security.scss */
.row-wrap-modPwd .font {
  font-size: 25px; }
/* line 41, ../sass/security.scss */
.row-wrap-modPwd .row-content .bu-form .form-group {
  margin-bottom: 20px; }
/* line 43, ../sass/security.scss */
.row-wrap-modPwd .row-content .bu-form .form-group .pwd {
  margin-right: 40px;
  width: 65px;
  float: left;
  line-height: 2.4; }
.row-wrap-modPwd .row-content .bu-form .form-group .yzmPos  {
  position: relative;
  width: 300px;
  display: inline-block;
}
.row-wrap-modPwd .row-content .bu-form .form-group .yzmPos .yzm {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: #f36f1a;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  line-height: 2.1;
  position: absolute;
  right: 8px;
  top: 5px;

  cursor: pointer;
  }
.row-wrap-modPwd .row-content .bu-form .form-group .yzmPos .send {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: #e6e6e6;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  line-height: 2.1;
  position: absolute;
  right: 8px;
  top: 5px;
}
.row-wrap-modPwd .row-content .bu-form .form-group .yzmPos .sended {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: #e6e6e6;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  line-height: 2.1;
  position: absolute;
  right: 8px;
  top: 5px;
}
/* line 49, ../sass/security.scss */
.row-wrap-modPwd .row-content .bu-form .form-group .typeIn {
  border: 1px solid #dddddd;
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}
/* line 58, ../sass/security.scss */
.row-wrap-modPwd .row-content .save-btn {
  margin-left: 104px;
  padding-top: 10px; }
/* line 61, ../sass/security.scss */
.row-wrap-modPwd .row-content .save-btn .btn {
  width: 60px;
  height: 35px;
  background-color: #f36f1a;
  border: none;
  color: white;
  line-height: 2.8; }
/* line 69, ../sass/security.scss */
.row-wrap-modPwd .row-content .save-btn .btn-defult {
  background-color: white !important;
  border: 1px solid #c1c1c1;
  color: #4b4b4b; }
