<div class="container-fluid order-add" ng-init="initData()">
    <div class="row">
        <div class="weui_cells weui_cells_access">
            <a class="order-address weui_cell" ui-sref="pages/order/addAddress({SKU_IDS:skuIds})">
                <div ng-show="!EmptyPick&&PickupPerson.type==3" class="detail weui_cell_bd weui_cell_primary">
                    <p class="">提 货 人：{{PickupPerson.man}}</p>
                    <p class="">手机号码：{{PickupPerson.phone}}</p>
                    <p class="">提货门店：{{PickupPerson.shop}}</p>
                    <p class="">提货时间：{{PickupPerson.getTime}}</p>
                </div>
                <div ng-show="!EmptyPick&&PickupPerson.type==1" class="detail weui_cell_bd weui_cell_primary">
                    <p class="">收 货 人：{{PickupPerson.man}}</p>
                    <p class="">手机号码：{{PickupPerson.phone}}</p>
                    <p class="">收货地址：{{PickupPerson.shengshi+' '+PickupPerson.address}}</p>
                    <!--<p class="">提货时间：{{PickupPerson.time}}</p>-->
                </div>
                <div ng-show="EmptyPick" class="detail weui_cell_bd weui_cell_primary">
                    请填写收货信息
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <div class="dec"></div>
        </div>

        <div class="product-list weui_cells">
            <!--<div class="product-sale-wrap weui_cell">-->
            <!--<div class="product-sale weui_cell_bd">-->
            <!--满200减20-->
            <!--</div>-->
            <!--</div>-->
            <!-- BEGIN 商品信息-->
            <div class="product-wrap weui_cell" ng-repeat="sku in skuList">
                <div class="product-img-wrap weui_cell_hd">
                    <img ng-src="{{FILE_SERVER_DOMAIN+sku['SHOP_PRODUCT.CMP']}}" class="product-img">
                </div>
                <div class="content weui_cell_bd weui_cell_primary">
                    <h5 class="product-name" ng-bind="sku['SHOP_PRODUCT.PRD_NAME']">
                    </h5>
                    <p class="product-cls" ng-bind="sku['SHOP_PRODUCT_SKU.SKU_CONTENT_INFO']">
                    </p>
                    <p class="product-cls" ng-bind="'编号：'+sku['SHOP_PRODUCT_SKU.PRD_SKU']">
                    </p>
                </div>
                <div class="ext weui_cell_ft">
                    <p class="product-money" ng-bind="sku['SHOP_PRODUCT_SKU.REAL_PRICES'] | currency :'￥'">
                    </p>
                    <p class="product-num" ng-bind="sku['SHOP_PRODUCT_SKU.SIZE']">
                    </p>
                </div>
            </div>
            <!-- END 商品信息-->
        </div>

        <!--<div class="weui_cells weui_cells_access">-->
        <!--<div class="weui_cell">-->
        <!--<div class="weui_cell_hd">备注：</div>-->
        <!--<div class="weui_cell_bd">-->
        <!--<input type="text" class="form-control" ng-model="order['SHOP_ORDER.REMARK']"-->
        <!--placeholder="欢迎填写备注...">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="weui_cells weui_cells_access">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">备注:</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input type="number" class="weui_input"
                           placeholder="请填入备注信息" ng-model="order['SHOP_ORDER.REMARK']">
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells_access">
            <div class="weui_cell" ng-click="goCoupon()">
                <div class="weui_cell_bd">
                    <span ng-if="COUPON_INFO!=''" ng-bind="coupon.COUPON_NAME"></span>
                    <span ng-if="COUPON_INFO==''">使用优惠券</span>

                </div>
                <div class="weui_cell_ft weui_cell_primary">
                    <span ng-if="COUPON_INFO!=''">已选择</span>
                    <span ng-if="COUPON_INFO==''">未使用</span>

                </div>
            </div>
        </div>

        <!--<div class="weui_cells weui_cells_access">-->
        <!--<div class="weui_cell">-->
        <!--<div class="weui_cell_bd">-->
        <!--使用积分-->
        <!--</div>-->
        <!--<div class="weui_cell_ft weui_cell_primary">-->
        <!--200积分可用-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="payment-list weui_cells" ng-init="order['SHOP_ORDER.PAY_TYPE']='ACCOUNT'">
            <div class="balance weui_cell" ng-click="order['SHOP_ORDER.PAY_TYPE']='ACCOUNT'">
                <div class="icon-wrap weui_cell_bd">
                    <i class="icon icon-balance"></i>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    会员卡支付
                </div>

                <div class="weui_cell_ft">
                    <i class="icon "
                       ng-class="{true:' icon-checked',false:'icon-check'}[order['SHOP_ORDER.PAY_TYPE']=='ACCOUNT']"></i>
                </div>
            </div>
            <div class="balance weui_cell" ng-click="order['SHOP_ORDER.PAY_TYPE']='WEIXIN'">
                <div class="icon-wrap weui_cell_bd">
                    <i class="icon icon-unipay"></i>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    微信支付
                </div>
                <div class="weui_cell_ft">
                    <i class="icon "
                       ng-class="{true:' icon-checked',false:'icon-check'}[order['SHOP_ORDER.PAY_TYPE']=='WEIXIN']"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-wrap action-bar-wrap">
        <div class="action-bar border-top">
            <div class="payment-info cell">
                <p class="all">
                    总计：<span class="money" ng-bind="order['SHOP_ORDER.PRICE_OVER'] | currency : '￥'"></span>
                </p>
                <p class="sale" ng-if="COUPON_INFO!=''">( 已优惠 {{coupon.MONEY}} 元 )</p>
            </div>
            <a class="payment-check" ng-click="commitOrder()">
                提交订单
            </a>
        </div>
    </div>
</div>