<div class="check-out-page bg-grey" ng-init="initData()">
  <header>
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <i class="icon icon-ok"></i>
      </div>
      <div class="weui_cell_bd">
        <h4 class="suc-title">
          提交订单成功
        </h4>
        <p>
          请在30分钟之内完成付款，逾期订单将关闭
        </p>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="order-info border-bottom row">
      <div class="col-xs-12">
        <p ng-bind="'下单编号：'+order['SHOP_ORDER.ORDER_NUM']">
        </p>
        <p ng-bind="'下单日期：'+order['SHOP_ORDER.DATETIME_ADD']">
        </p>
      </div>
      <div class="col-xs-12">
        <p ng-bind="'联系人：'+order['SHOP_ORDER.REC_CONTACT']">
        </p>
        <p ng-bind="'联系方式：'+order['SHOP_ORDER.REC_PHONE']">
        </p>
      </div>
      <div class="col-xs-12" ng-show="order['SHOP_ORDER.TYPE']=='3'">
        <p ng-bind="'提货时间：'+order['SHOP_ORDER.GET_PRD_DATETIME']">

        </p>
        <p ng-bind="'提货门店：'+order['SHOP_ORDER.SHOP_NAME']">
        </p>
        <p>
          提货方式：自提
        </p>
        <p ng-bind="'提货码：'+order['SHOP_ORDER.REC_CHECKCODE']">

        </p>
      </div>

      <div class="col-xs-12" ng-show="order['SHOP_ORDER.TYPE']=='1'">
        <p ng-bind="'收货地址：'+order['SHOP_ORDER.REC_ADDR']">
        </p>

        <p>
          提货方式：快递
        </p>
      </div>

      <div class="col-xs-12">
        <p ng-if="order['SHOP_ORDER.REMARK']!=undefined">
          订单备注：<span ng-bind="order['SHOP_ORDER.REMARK']"></span>
        </p>
      </div>

    </div>

    <div class="payment-info">
      <p>
        订单总额：<span ng-bind="order['SHOP_ORDER.PRICE_OVER'] | currency : '￥'"></span>
      </p>
      <p class="sale">
        已优惠：<span ng-bind="order['SHOP_ORDER.PRICE_DISCOUNT'] | currency : '￥'"></span>
      </p>
      <p>
        付款方式：<span ng-if="order['SHOP_ORDER.PAY_TYPE']=='ACCOUNT'">会员卡支付</span><span ng-if="order['SHOP_ORDER.PAY_TYPE']=='WEIXIN'">微信支付</span>
      </p>
    </div>
  </div>

  <div class="action-bar-wrap">
    <div class="action-bar border-top">
      <a class="check cell open-popup" ng-click="payNow()">立即付款
      </a>
    </div>
  </div>

  <!--&lt;!&ndash;BEGIN actionSheet&ndash;&gt;-->
  <!--<div id=" actionSheet_wrap " >-->
    <!--<div class="weui_mask_transition" id="mask"></div>-->
    <!--<div class="weui_actionsheet" id="weui_actionsheet">-->
      <!--<div class="weui_actionsheet_menu">-->
        <!--<div class="weui_cells">-->
          <!--<div class="weui_cell">-->
            <!--<div class="weui_cell_hd">提货码 : </div>-->
            <!--<div class="weui_cell_bd " style="margin-left: 15px">-->
              <!--<input type="password" ng-model="pay['SHOP_ORDER.REC_CHECKCODE']" maxlength="6" placeholder="请输入6位提货码"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="action-bar">-->
        <!--<div class="weui_actionsheet_cell cell ok add-to-cart" ng-click="payNow()">确认支付</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;END actionSheet&ndash;&gt;-->
</div>