<div class="container-fluid" ng-init="initLoad()">
    <!--标题选择-->
    <!--<div id="topTiltle" class="con">-->
        <!--<div class="btn1" ng-repeat="(key,attr) in arr"  ng-class="{'tab-focus':attr.val}" ng-click="show(key)" ng-bind="attr.name"></div>-->
    <!--</div>-->
    <ul class="compareNav  nav-justified list-unstyled" >
        <li class="compareNav first"><a href="">日榜单</a></li>
        <li><a href="">周榜单</a></li>
        <li><a href="">月榜单</a></li>
    </ul>
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-1">
                <input id="startDay" type="text" ng-model="groupRange['DAY']" ng-init="groupRange['DAY']=YESTERDAY"  class="form-control"  placeholder="">
            </div>
            <button class="btn green" type="button" ng-click="getGroupByRange()">查询</button>
            <button class="btn alignRight"  type="button" onclick="outPutMethod('shopTable')">导出</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="table-content">
        <div class="table-toolbar" ng-if="jsonObj[0]['VALUE'].length != '0'">
            <table class="table table-bordered table-hover table-striped" id="shopTable">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">营业额</th>
                    <th class="col-sm-1 text-center">差距</th>
                    <th class="col-sm-1 text-center">较上期排名</th>
                </tr>
                </thead>
                <tbody>
                    <tr align="center" ng-repeat="VALUE in jsonObj[0]['VALUE']">
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['MONEY_COUNT']/100 | currency:'￥'"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                        <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-toolbar" ng-if="jsonObj[1]['VALUE'].length != '0'">
            <table class="table table-bordered table-hover table-striped" id="shopTable1">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">销卡</th>
                    <th class="col-sm-1 text-center">差距</th>
                    <th class="col-sm-1 text-center">较上期排名</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in jsonObj[1]['VALUE']">
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['CARD_MONEY_COUNT']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-toolbar" ng-if="jsonObj[2]['VALUE'].length != '0'">
            <table class="table table-bordered table-hover table-striped" id="shopTable2">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">名次</th>
                    <th class="col-sm-1 text-center">排名</th>
                    <th class="col-sm-1 text-center">开卡</th>
                    <th class="col-sm-1 text-center">差距</th>
                    <th class="col-sm-1 text-center">较上期排名</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in jsonObj[2]['VALUE']">
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['SHOP_SORT']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_VALUE']['ADD_NUMBER']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                    <td><span ng-bind="VALUE['COMPARE_NAME']"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>