<!DOCTYPE html>
<html lang="en" ng-app="AndSell.PC.Main" ng-controller="PC.MainController">
<head>
    <meta charset="UTF-8">
    <title ng-bind="title"></title>

    <link href="/AndSell/pc/public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AndSell/pc/public/libs/bootstrap/dist/css/bootstrap-theme.min.css"
          rel="stylesheet">

    <link rel="stylesheet" href="/AndSell/pc/public/css/public/style.css">
    <link rel="stylesheet" href="/AndSell/pc/public/css/public/componentsGallery.css">
    <link rel="stylesheet" href="/AndSell/pc/public/css/public/screen.css" media="screen">
    <link rel="stylesheet" href="/AndSell/pc/public/css/public/headers.css">
    <link rel="stylesheet" href="/AndSell/pc/public/css/public/footers.css">

</head>
<body>
<header>
    <div class="userBar">
        <div class="effectiveArea">
            <div class="sloganGroup">
                <a href="" class="welcomeInfo">你好，欢迎来到云厨1站</a>
            </div>
            <div class="loginGroup">
                <a class="logoIn" ng-if="USER!=undefined" ng-bind="USER['MEMBER.USER_NAME']"></a>
                <a ui-sref="pages/login/accountLogin" class="logoIn" ng-if="USER==undefined">请登录</a>
                <a ui-sref="pages/login/register" class="signIn" ng-if="USER==undefined">免费注册</a>
                <a class="signIn" ng-click="logOut()" ng-if="USER!=undefined">退出</a>
            </div>
            <div class="seviceGroup">
                <a ui-sref="pages/personal/center" ng-if="USER!=undefined" class="personalCenter">个人中心</a>
                <a ng-if="USER!=undefined" class="clientSevice">客户服务</a>
                <a class="followUs">关注我们</a>
            </div>
        </div>
    </div>
    <div class="controlBar" ng-if="showControllerBar">
        <div class="effectiveArea">
            <div class="storeInfo" ui-sref="pages/shop">
                <p class="storeName" ng-if="shop==undefined">点击选择门店</p>
                <p class="storeName" ng-bind="shop['SHOP.SHOP_NAME']"></p>
                <p class="number"><span class="phoneNumber" ng-bind="shop['SHOP.TELEPHONE']"></span><span
                    class="openTime"
                    ng-bind="shop['SHOP.OPEN_TIME']+' — '+shop['SHOP.CLOSE_TIME']"></span></p>
                <p class="addressInfo" ng-bind="shop['SHOP.ADDR']"></p>
            </div>
            <div class="searchBar">
                <input type="text" class="search">
                <a href="" class="searchBtn">搜索</a>
            </div>
            <div class="myShoppingCart">
                <a ui-sref="pages/cart">我的购物车</a>
                <span class="messageCount" ng-bind="cartSize"></span>
            </div>
        </div>
    </div>
    <div class="menuBar" ng-if="showMenuBar">
        <div class="effectiveArea">
            <div class="categories" ng-init="menuBarPosi ='sy'">
                <ul>
                    <li><a ui-sref="pages/home" ng-class="{true:'active'}[menuBarPosi =='sy']"
                           ng-click="menuBarPosi = sy">首页</a></li>
                    <li><a ui-sref="pages/product/list"
                           ng-class="{true:'active'}[menuBarPosi =='sycp']"
                           ng-click="menuBarPosi = 'sycp';toPrdTagList('')">所有菜品</a></li>
                    <li><a ui-sref="pages/product/list"
                           ng-class="{true:'active'}[menuBarPosi =='bkcp']"
                           ng-click="menuBarPosi = 'bkcp';toPrdTagList(1024)">爆款菜品</a></li>
                    <li><a ui-sref="pages/product/list"
                           ng-class="{true:'active'}[menuBarPosi =='xpss']"
                           ng-click="menuBarPosi = 'xpss';toPrdTagList(1023)">新品上市</a></li>
                    <li><a ui-sref="pages/product/list"
                           ng-class="{true:'active'}[menuBarPosi =='slsc']"
                           ng-click="menuBarPosi = 'slsc'">时令蔬菜</a></li>
                    <li><a ui-sref="pages/order/list"
                           ng-class="{true:'active'}[menuBarPosi =='wddd']"
                           ng-click="menuBarPosi = 'wddd'">我的订单</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="goodsCategoriesBar" ng-if="showGoodsCategoriesBar">
        <div class="effectiveArea">
            <div class="categories">
                <ul>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-wine"></div>
                            <p class="categorieName">酱卤</p>
                            <div class="triangle"></div>
                            <div class="detailedList">
                                <ul class="listCategories">
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="listName">牛羊</p>
                                        <ul class="categoriesDetail">
                                            <li><a href="">澳洲牛肉</a></li>
                                            <li><a href="">冷鲜肉</a></li>
                                            <li><a href="">安格斯牛肉</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-cake"></div>
                            <p class="categorieName">熟食</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-rice-two"></div>
                            <p class="categorieName">组配菜</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-fruit"></div>
                            <p class="categorieName">水果</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-meat"></div>
                            <p class="categorieName">冷鲜肉</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-snow"></div>
                            <p class="categorieName">冻品</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-egg"></div>
                            <p class="categorieName">禽蛋</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>

                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-juice"></div>
                            <p class="categorieName">酒水饮品</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                    <li>
                        <div class="innerContainer">
                            <div class="categoriePic icon-rice-one"></div>
                            <p class="categorieName">粮油干调</p>
                            <div class="triangle"></div>
                            <div class="detailedList"></div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="productList">
        <div class="leftMenu" ng-if="showLeftMenu">
            <div class="categoriePic icon-wine ">
                <!--<img src="../../public/css/img/_cake.png" alt="">-->
            </div>
            <div class="categoriePic icon-cake"></div>
            <div class="categoriePic icon-rice-two"></div>
            <div class="categoriePic icon-fruit"></div>
            <div class="categoriePic icon-meat"></div>
            <div class="categoriePic icon-snow"></div>
            <div class="categoriePic icon-egg"></div>
            <div class="categoriePic icon-juice"></div>
            <div class="categoriePic icon-rice-one"></div>

        </div>
        <div class="effectiveArea">
            <div class="sidebar sidebar1" ng-if="showSideBar">
                <!-- 订单 -->
                <div class="sidebar-title ">
                    订单中心
                </div>
                <ul>
                    <li ui-sref="business.priceList" class="selected">我的订单
                    </li>
                    <li ui-sref="business.priceAudit" ng-class="{true:'active'}[state ==2]"
                        ng-click="getState(2)">团购订单
                    </li>
                    <li ui-sref="business.purchaseList" ng-class="{true:'active'}[state ==3]"
                        ng-click="getState(3)">我的预售
                    </li>
                    <li ui-sref="business.purchaseAudit" ng-class="{true:'active'}[state ==4]"
                        ng-click="getState(4)">评价晒单
                    </li>
                    <li ui-sref="business.payrequestList" ng-class="{true:'active'}[state ==5]"
                        ng-click="getState(5)">评价晒单记录
                    </li>
                </ul>
                <!-- 库存 -->
                <div class="sidebar-title">
                    资产中心
                </div>
                <ul>
                    <li>余额</li>
                    <li>优惠券</li>
                </ul>
                <!-- 库存 -->
                <div class="sidebar-title">
                    设置中心
                </div>
                <ul>
                    <li>个人信息</li>
                </ul>
                <!-- 库存 -->
                <div class="sidebar-title">
                    其他功能
                </div>
                <ul>
                    <li>浏览历史</li>
                </ul>
            </div>

            <!--带确定和取消的阻塞提示框 -->
            <div message-modal></div>
            <!--短时间提示后隐藏的非阻塞提示框 -->
            <div short-message-modal></div>
            <div ui-view="" class="ng-scope" style="overflow-x:hidden "></div>
        </div>

    </div>
</div>

<footer>
    <div class="qualityPledge">
        <ul>
            <li>
                <div class="showGroup quality">
                    <p class="title">正品保障</p>
                    <p class="noting">正品保障，提供发票</p>
                </div>
            </li>
            <li>
                <div class="showGroup delivery">
                    <p class="title">一分钟到店</p>
                    <p class="noting">一分钟到店，自提看货</p>
                </div>
            </li>
            <li>
                <div class="showGroup afterSale">
                    <p class="title">无忧售后</p>
                    <p class="noting">遇到问题立即退换</p>
                </div>
            </li>
            <li>
                <div class="showGroup shoppingCart">
                    <p class="title">显示消费体验</p>
                    <p class="noting">线上立体服务</p>
                </div>
            </li>
            <li>
                <div class="showGroup advisory">
                    <p class="title">全国免费咨询电话</p>
                    <p class="phoneNumber">400-000-9185</p>
                    <p class="noting">正品保障，提供发票</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="pageFooter">
        <div class="linkGroup">
            <ul>
                <li><a href="">常见问题</a></li>
                <li><a href="">服务条款</a></li>
                <li><a href="">门店中心</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">法律声明</a></li>
            </ul>
        </div>
        <div class="extraInfo">
            <p><span class="website">www.bblycyz.com</span><span>备案/许可证编号：苏ICP备15041132号</span></p>
            <p>南京云厨1站新鲜蔬菜直供</p>
        </div>
    </div>
</footer>
</body>

<!--############JS引用区############-->
<script src="/AndSell/pc/public/libs/jquery/dist/jquery.min.js"></script>
<script src="/AndSell/pc/public/libs/angular/angular.min.js"></script>
<script src="/AndSell/pc/public/libs/angular/angular-sanitize.js"></script>
<script src="/AndSell/pc/public/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/AndSell/pc/public/libs/ocLazyLoad.min.js"></script>
<script src="/AndSell/pc/public/libs/angular-resource/angular-resource.min.js"></script>
<script src="/AndSell/pc/public/libs/weui.js"></script>
<script src="/AndSell/pc/public/libs/weui/dist/lib/jquery-2.1.4.js"></script>
<script src="/AndSell/pc/public/libs/weui/dist/js/jquery-weui.min.js"></script>
<script src="/AndSell/pc/public/libs/weui/dist/js/city-picker.min.js"></script>
<script src="/AndSell/pc/public/libs/cookie.js"></script>
<script src="/AndSell/pc/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/AndSell/pc/public/libs/swiper/swiper.jquery.min.js"></script>
<!--importantJs -->
<script src="/AndSell/pc/public/application.js"></script>

<!--############通用方法区############-->
<script src="/AndSell/pc/public/commonJs.js"></script>

<!--############ router ############-->
<script src="router.js"></script>


<!--############ service ############-->
<script src="../product/product-services.js"></script>
<script src="../order/order-services.js"></script>
<script src="../personal/personal-services.js"></script>
<script src="../shop/shop-services.js"></script>
<script src="../coupon/coupon-services.js"></script>
<script src="../login/user-services.js"></script>
<script src="../account/account-services.js"></script>
<script src="../security/security-services.js"></script>


<!--############ controller ############-->
<script src="controller.js"></script>

</html>