<div id="lottery" ng-init="initData()" class="lottery">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="lottery-unit lottery-unit-0">
                <div class="rewards" ng-if="luckListAll[0]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                    <span class="price">100</span><span class="symbol">折</span>
                </div>
                <div class="rewards" ng-if="luckListAll[0]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[0]!=undefined">{{luckListAll[0]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[0]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-1">
                <div class="rewards" ng-if="luckListAll[1]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[1]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[1]!=undefined">{{luckListAll[1]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[1]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-2">
                <div class="rewards" ng-if="luckListAll[2]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[2]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[2]!=undefined">{{luckListAll[2]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[2]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
        </tr>
        <tr>
            <td class="lottery-unit lottery-unit-7">
                <div class="rewards" ng-if="luckListAll[7]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[7]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[7]!=undefined">{{luckListAll[7]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[7]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
            <td>
                <a class="startBtn"></a>
            </td>
            <td class="lottery-unit lottery-unit-3">
                <div class="rewards" ng-if="luckListAll[3]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[3]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[3]!=undefined">{{luckListAll[3]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[3]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
        </tr>
        <tr>
            <td class="lottery-unit lottery-unit-6">
                <div class="rewards" ng-if="luckListAll[6]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[6]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[6]!=undefined">{{luckListAll[6]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[6]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-5">
                <div class="rewards" ng-if="luckListAll[5]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[5]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[5]!=undefined">{{luckListAll[5]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[5]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-4">
                <div class="rewards" ng-if="luckListAll[4]!=undefined">
                    <span class="price">100</span><span class="symbol">元</span>
                </div>
                <div class="rewards" ng-if="luckListAll[4]==undefined">
                    <span class="symbol">没有奖品</span>
                </div>
                <div class="rewards-info" ng-if="luckListAll[4]!=undefined">{{luckListAll[4]['LUCKY_DRAW.INTRO']}}</div>
                <div class="rewards-info" ng-if="luckListAll[4]==undefined">没有奖品</div>
                <div class="mask"></div>
            </td>
        </tr>
    </table>
</div>