<div id="lottery">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="lottery-unit lottery-unit-0"><img src="/AndSell/h5/public/img/gift0.jpg">
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-1"><img src="/AndSell/h5/public/img/gift1.jpg">
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-2"><img src="/AndSell/h5/public/img/gift2.jpg">
                <div class="mask"></div>
            </td>
        </tr>
        <tr>
            <td class="lottery-unit lottery-unit-7"><img src="/AndSell/h5/public/img/gift7.jpg">
                <div class="mask"></div>
            </td>
            <td >
                <!--<img src="/AndSell/h5/public/img/lottery1.jpg" ng-click="start()">-->
                <a  class="startBtn"  ></a>
            </td>
            <td class="lottery-unit lottery-unit-3"><img src="/AndSell/h5/public/img/gift3.jpg">
                <div class="mask"></div>
            </td>
        </tr>
        <tr>
            <td class="lottery-unit lottery-unit-6"><img src="/AndSell/h5/public/img/gift6.jpg">
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-5"><img src="/AndSell/h5/public/img/gift5.jpg">
                <div class="mask"></div>
            </td>
            <td class="lottery-unit lottery-unit-4"><img src="/AndSell/h5/public/img/gift4.jpg">
                <div class="mask"></div>
            </td>
        </tr>
    </table>
</div>
<h1 ng-click="stop()"> 停止</h1>