
.lottery {
    width: 570px;
    /*            height: 510px;*/
    margin: 0px auto;
    border: 4px solid #ba1809;
}

.lottery table {
    width: 100%;
}
.lottery table tr {
    margin: 0;
    padding: 0;
    border: none;
}
.lottery table td {
    position: relative;
    margin: 0;
    padding: 0;
    width:33.33%;
    height: 167px;
    text-align: center;
    color: #333;
    font-size: 0;
    background-image: url(/AndSell/h5/public/img/reward_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 101%;
}

.lottery table td .rewards {
    width: 131px;
    height: 68px;
    position: absolute;
    top: 36px;
    left: 30px;
    line-height: 68px;
    text-align: center;
    overflow: hidden;
}
.lottery table td .rewards .price {
    color: red;
    font-weight: 900;
    font-size:28px;
    margin-right: 0.2em;
    vertical-align: baseline;
}
.lottery table td .rewards .symbol {
    font-size: 18px;
    color: red;
    vertical-align: baseline;
}
.lottery table td .rewards-info {
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 35px;
    color: rgba(255,255,255,0.7);
}
.lottery table td a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    background: url(/AndSell/h5/public/img/lottery1.jpg) no-repeat top center;
}

.lottery table td.active .mask {
    display: block;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(252, 211, 4, 0.5);
    display: none;
}