<div class="container-fluid" ng-init="initLoad()">
    <!--时间选择导航-->
    <div class="row timeBar">
        <div class="col-md-12">
            <div class="col-md-1 fixWidthByOneInput" >
                <input id="startDay" type="text" ng-model="groupRange['DAY']" ng-init="groupRange['DAY']=YESTERDAY"  class="form-control inputWidth"  placeholder="">
            </div>
            <button class="btn green" type="button" ng-click="getGroupByRange()">查询</button>
            <button class="btn alignRight"  type="button" onclick="outPutMethod('shopTable')">导出</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" >
            <div class="layout bgColor-blue" >
                <h2><span ng-bind="ORDER_COUNT | number"></span></h2>
                <p >订单量<i title="所选时间所有店铺的订单量">!</i></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="layout bgColor-blue2" >
                <h2><span ng-bind="MONEY_OVER/ORDER_COUNT | currency:'￥'"></span></h2>
                <p>客单价<i title="所选时间所有店铺的客单价">!</i></p>
            </div>
        </div><div class="col-md-2">
        <div class="layout bgColor-blue2" >
            <h2><span ng-bind="MONEY_DISCOUNT | currency:'￥'"></span></h2>
            <p>折让金额<i title="所选时间所有店铺的折让金额">!</i></p>
        </div>
    </div><div class="col-md-4">
        <div class="layout bgColor-red" >
            <h2><span ng-bind="MONEY_OVER | currency:'￥'"></span></h2>
            <p>销售金额<i title="所选时间所有店铺的销售金额">!</i></p>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <div class="layout bgColor-blue" >
                <h2><span ng-bind="ADD_CARD | number"></span></h2>
                <p>新开卡<i title="所选时间所有店铺的新开卡数">!</i></p>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="layout bgColor-red" >
                <h2><span ng-bind="ADD_CARD_MONEY | currency:'￥'"></span></h2>
                <p>开卡金额<i title="所选时间所有店铺的新开卡金额">!</i></p>
            </div>
        </div>
    </div>
    </div>

    <div class="table-content">
        <div class="table-toolbar">
            <table class="table table-bordered table-hover table-striped" id="shopTable">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">门店ID</th>
                    <th class="col-sm-1 text-center">门店</th>
                    <th class="col-sm-1 text-center">销售金额</th>
                    <th class="col-sm-1 text-center">新开卡</th>
                    <th class="col-sm-1 text-center">开卡金额</th>
                    <th class="col-sm-1 text-center">折让金额</th>
                    <th class="col-sm-1 text-center">订单量</th>
                    <th class="col-sm-1 text-center">客单价</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" ng-repeat="VALUE in SHOPORDERCHANGE">
                    <td><span ng-bind="VALUE['SHOP_VALUE']['SHOP_ID']"></span></td>
                    <td><span ng-bind="VALUE['SHOP_NAME']"></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['MONEY_OVER']!=0"><span ng-bind="VALUE['SHOP_VALUE']['MONEY_OVER'] | currency:'￥'"></span></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['ADD_CARD']!=0"><span ng-bind="VALUE['SHOP_VALUE']['ADD_CARD']"></span></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['ADD_CARD_MONEY']!=0"><span ng-bind="VALUE['SHOP_VALUE']['ADD_CARD_MONEY'] | currency:'￥'"></span></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['MONEY_DISCOUNT']!=0"><span ng-bind="VALUE['SHOP_VALUE']['MONEY_DISCOUNT'] | currency:'￥'"></span></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['ORDER_COUNT']!=0"><span ng-bind="VALUE['SHOP_VALUE']['ORDER_COUNT']"></span></span></td>
                    <td><span ng-if="VALUE['SHOP_VALUE']['MONEY_COUNT']!=0"><span ng-bind="VALUE['SHOP_VALUE']['MONEY_OVER']/VALUE['SHOP_VALUE']['ORDER_COUNT'] | currency:'￥'"></span></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
