<div class="row-wrap containers-collect-list" ng-init="initData()">

    <div class="showBoard">
        <div class="showTitle">
            <h1 class="title">我的收藏</h1>
            <div class="searchGroup">
                <input type="text" class="text" placeholder="搜索商品">
                <input type="text" class="button">
            </div>

        </div>
        <div class="orderListShow">
            <div class="eachPro" ng-repeat="uc in userCollections">
                <div class="eachPro1"   ng-click="toDetail(item['SHOP_PRODUCT.PRD_ID'])" >
                    <div class="proPic">
                        <img class="img eachPic" ng-src="{{uc['SHOP_PRODUCT.CMP']}}"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">

                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        {{uc['SHOP_PRODUCT.PRD_NAME']}}
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" ng-bind="uc['SHOP_PRODUCT.REAL_PRICES'] | currency : '￥'"></span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->
                    </div>
                    <div class="but show">
                        <div ng-click="toDetail(item['SHOP_PRODUCT.PRD_ID'])">

                            <span class="buy">查看商品</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div page-bar
             filter-obj="filter"
             url="/user/collection/queryByUserId"
             callback="queryData(response)">
        </div>
    </div>

</div>

