<div class="row-wrap containers-order-list" ng-init="initData()">

    <div class="showBoard">
        <div class="showTitle">
            <h1 class="title">我的收藏</h1>
            <div class="searchGroup">
                <input type="text" class="text" placeholder="搜索商品">
                <input type="text" class="button">
            </div>

        </div>
        <div class="orderListShow">
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="eachPro">
                <div class="eachPro1">
                    <div class="proPic">
                        <img class="img eachPic" src="/AndSell/pc/public/css/img/product.png"/>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        展卉 智利蓝莓 125克*2盒
                    </span>
                    </div>
                    <div class="proInfo">
                    <span class="detail">
                        新鲜进口水果 自营水果
                    </span>
                    </div>
                    <div class="much">
                        <span class="detail money" >￥12.00</span>
                        <!--<span ng-if="item['SHOP_PRODUCT.MINSKUPRICE']==undefined"> 暂无规格</span>-->

                    </div>
                    <div class="but show">
                        <div>
                            <img class="img" src="/AndSell/pc/public/css/img/buyCar.png" alt="">
                            <span class="buy">加入购物车</span>
                        </div>
                        <div ng-if="item['SHOP_PRODUCT.HAS_STOCK']==0">
                            <span class="buy">已售罄</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div page-bar
             filter-obj="filter"
             url="/shop/product/queryAllForAgent"
             callback="bindData(response)">
        </div>
    </div>

</div>

