<div class="page-content">

    <div class="table-operbar">
        <div class="table-toolbar">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#shop" data-toggle="tab">线下门店</a></li>
                <li><a href="#phone" data-toggle="tab">电话预约</a></li>
                <li><a href="#net" data-toggle="tab">网上注册</a></li>
                <li class="pull-right">
                    <button type="buttone" class="btn btn-default" data-toggle="modal" data-target="#channel">+渠道
                    </button>
                </li>
                <li class="pull-right">
                    <button type="buttone" class="btn btn-default" data-toggle="modal" data-target="#cardType">+卡种
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <!-- 线下门店 -->
                <div class="tab-pane fade in active" id="shop">
                    <div class="row"> <!-- cardList -->
                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #31C552">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#EF5B5B">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #3679E1">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #E19318">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #C7C7C7">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>
                        </div> <!-- left -->

                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #199B93">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#A90807">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #8C56B2">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #CCCA12">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color: #303133">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">线下门店发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                        </div> <!-- right -->
                    </div>
                </div>
                <!-- 电话预约 -->
                <div class="tab-pane fade" id="phone">
                    <div class="row"> <!-- cardList -->
                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #31C552">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">电话预约发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#EF5B5B">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">电话预约发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>


                        </div> <!-- left -->

                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #199B93">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">电话预约发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#A90807">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">电话预约发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>


                        </div> <!-- right -->
                    </div>

                </div>
                <!-- 网上注册 -->
                <div class="tab-pane fade" id="net">
                    <div class="row"> <!-- cardList -->
                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #31C552">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">网上注册发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#EF5B5B">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">网上注册发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="这里是描述啊描述啊描述啊描述啊">这里是描述啊描述啊描述啊描述啊
                                    </div>
                                </div>
                            </div>


                        </div> <!-- left -->

                        <div class="col-md-6">

                            <div class="card center-block" style="background-color: #199B93">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">网上注册发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>

                            <div class="card center-block" style="background-color:#A90807">
                                <div class="row cardTitle">
                                    <div class="col-md-7">起始卡号：10000</div>
                                    <div class="col-md-5 text-right">网上注册发卡</div>
                                </div>
                                <p class="balance">金卡</p>
                                <div class="row cardFooter">
                                    <div class="col-md-8">发卡数:22232</div>
                                    <div class="col-md-4 text-right cardDesc" title="">这里是描述啊描述啊描述啊描述啊</div>
                                </div>
                            </div>


                        </div> <!-- right -->
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div page-bar
         filter-obj="filter"
         url="/shop/product/queryAll"
         callback="bindData(response)">
    </div>


    <!-MODAL-->
    <div class="modal fade" id="cardType">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">会员卡信息</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                名称
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                描述
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                背景色
                            </label>

                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="center-block">
                                            <div class="color" style="background-color: #31C552"></div>
                                            <div class="color" style="background-color: #199B93"></div>
                                            <div class="color" style="background-color: #EF5B5B"></div>
                                            <div class="color" style="background-color: #A90807"></div>
                                            <div class="color" style="background-color: #3679E1"></div>
                                        </div>
                                        <div class="center-block">
                                            <div class="color" style="background-color: #8C56B2"></div>
                                            <div class="color" style="background-color: #E19318"></div>
                                            <div class="color" style="background-color: #CCCA12"></div>
                                            <div class="color" style="background-color: #C7C7C7"></div>
                                            <div class="color" style="background-color: #303133"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                发卡渠道
                            </label>

                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>线下门店</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                起始卡号
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-outline" ng-click="modifyProductClass()">确定
                    </button>
                    <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div> <!-- modal-content-->
        </div>
    </div>
    <!--渠道-->
    <div class="modal fade" id="channel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">渠道信息</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                名称
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                描述
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-outline" ng-click="modifyProductClass()">确定
                            </button>
                            <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                            </button>
                        </div>
                    </div>
                </div> <!-- modal-content-->
            </div>
        </div>
    </div>
</div>
</div>