<div class="containers" ng-init="initData()">
    <div class="row-content">
        <div class="showTitle">
            <h1 class="title">确认下单</h1>
            <div class="searchGroup">
                <input type="text" class="text" placeholder="搜索商品">
                <input type="text" class="button">
            </div>
        </div>
        <div class="infos">收货信息</div>
        <form action="" class="bu-form">
            <div class="form-group">
                <div class="pwd">收货人</div>
                <input type="text" class="typeIn large-size" placeholder="">
                <div class="pwd right">联系电话</div>
                <input type="password" class="typeIn large-size" placeholder="">
            </div>

            <div class="form-group">
                <div class="pwd">提货门店</div>
                <input type="password" class="typeIn large-size" placeholder="">
                <div class="pwd right">提货时间</div>
                <input type="password" class="typeIn large-size" placeholder="">
            </div>
            <div class="form-group">
                <div class="pwd">提货发票</div>
                <input type="password" class="typeIn large-size" placeholder="">

            </div>
        </form>
        <div class="order_info">
            <div class="infos">商品列表</div>
            <div class="order_show">
                <div class="pic_card">
                    <ul>
                        <li>
                            <div class="pos">
                                <img src="../../public/css/img/product.png" ng-click="toDetail(detail['SHOP_ORDER_INFO.PRD_ID'])">
                                <div class="goods_intro">
                                    <p class="goods_name">展卉 智利蓝莓 新鲜进口125g*2盒</p>
                                    <p class="goods_size">【规格：125g*2盒】</p>
                                </div>
                                <div class="price">
                                    <span>￥13234.00</span>
                                    <span class="price_count">x3</span>
                                    <span class="single_count">￥38.80</span>
                                </div>
                            </div>

                            <div class="pos">
                                <img src="../../public/css/img/product.png" ng-click="toDetail(detail['SHOP_ORDER_INFO.PRD_ID'])">
                                <div class="goods_intro">
                                    <p class="goods_name">展卉 智利蓝莓 新鲜进口125g*2盒</p>
                                    <p class="goods_size">【规格：125g*2盒】</p>
                                </div>
                                <div class="price">
                                    <span>￥13234.00</span>
                                    <span class="price_count">x3</span>
                                    <span class="single_count">￥38.80</span>
                                </div>
                            </div>
                            <div class="gift">
                                <ul>
                                    <li>
                                        <img src="../../public/css/img/product.png" alt="">
                                        <span class="gift_name">展卉 智利蓝莓 新鲜进口125g*2盒</span>
                                        <span class="count">x1箱</span>
                                    </li>
                                    <li>
                                        <img src="../../public/css/img/product.png" alt="">
                                        <span class="gift_name">展卉 智利蓝莓 新鲜进口125g*2盒</span>
                                        <span class="count">x1箱</span>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li>
                            <div class="pos">
                                <img src="../../public/css/img/product.png" ng-click="toDetail(detail['SHOP_ORDER_INFO.PRD_ID'])">
                                <div class="goods_intro">
                                    <p class="goods_name">展卉 智利蓝莓 新鲜进口125g*2盒</p>
                                    <p class="goods_size">【规格：125g*2盒】</p>
                                </div>
                                <div class="price">
                                    <span>￥13234.00</span>
                                    <span class="price_count">x3</span>
                                    <span class="single_count">￥38.80</span>
                                </div>
                            </div>

                            <div class="pos">
                                <img src="../../public/css/img/product.png" ng-click="toDetail(detail['SHOP_ORDER_INFO.PRD_ID'])">
                                <div class="goods_intro">
                                    <p class="goods_name">展卉 智利蓝莓 新鲜进口125g*2盒</p>
                                    <p class="goods_size">【规格：125g*2盒】</p>
                                </div>
                                <div class="price">
                                    <span>￥13234.00</span>
                                    <span class="price_count">x3</span>
                                    <span class="single_count">￥38.80</span>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="remarkInfo">
            <span class="infos">备注信息</span>
            <input class="remarkTxt" type="text" value="礼盒包装谢谢">
        </div>
        <div class="foot">
            <div class="footFirst">
                <span>共</span>
                <span class="sep">6</span>
                <span>件商品</span>
            </div>
            <div class="footSecond">
                <span>合计</span>
                <span class="youhui">（运费 ￥7.00  已优惠￥7.00）</span>
                <span class="sep1">￥258.30</span>
                <div class="buy">确认下单</div>
            </div>
        </div>
    </div>
</div>