<div class="user-wrap user" ng-init="initData()">
    <div class="logo-wrap">
        <img class="logo" src="../../public/img/login_logo.png">
    </div>
    <div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" name="phone" id="account"
                           placeholder="账号" ng-model="memberInfo['LOGIN_ID']">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="password" name="password"
                           id="password" placeholder="密码"  ng-keyup="myKeyup($event)"  ng-model="memberInfo['PWD']">
                </div>
            </div>
        </div>
        <div class="check-wrap">
            <a class="remember">
                <label class="btn-link"
                       ng-init="autoLogin.isSelected = false"
                       ng-click="autoLogin.isSelected = !autoLogin.isSelected">
                        <i class="icon icon-checked"
                           ng-show="autoLogin.isSelected"></i>
                        <i class="icon icon-check"
                           ng-show="!autoLogin.isSelected"></i>
                    七天免登录
                </label>
            </a>
            <a class="btn-link pull-right" ui-sref="pages/security/resetPwd">
                忘记密码？
            </a>
        </div>
        <div class="weui_btn_area">
            <button class="weui_btn my-btn-default" type="submit" ng-click="login()">登录</button>
        </div>
        <div class="login-other">
            <a class="btn-link" ui-sref="pages/user/register">
                免费注册
            </a>
            <a class="btn-link pull-right" href="#">
                手机验证码登录
            </a>
        </div>
    </div>
</div>

