<div class="table-operbar row">
    <div class="page-operation-wrap">
        <div class="row">
            <!-- BEGIN 导航标签 -->
            <ul class="nav nav-tabs" style="margin-bottom: 0px; margin-left: 28px;">
                <li class="active">
                    <a> 分库存 </a>
                </li>
                <li>
                    <a ui-sref="totalStockList"> 总库存 </a>
                </li>
            </ul>
            <!-- END 导航标签 -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-inline form-group">
            <div class="table-operbar row">
                <div class="form-inline form-group col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="商品编码" ng-model="pId">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default pull-right"
                                ng-click="queryStockById(pId)">查询
                        </button>
                    </div>
                    <label class="control-label">筛选：</label>
                    <select ng-model="filter['STOCK_REALTIME.STORE_ID']"
                            ng-init="filter['STOCK_REALTIME.STORE_ID']='null'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="null">
                            所有仓库
                        </option>
                        <option class="nya-bs-option" ng-repeat="store in storeList"
                                ng-bind="store.name"
                                value="{{store.id}}">
                        </option>
                    </select>
                    <select ng-model="filter['STOCK_REALTIME.ORDER']"
                            ng-init="filter['STOCK_REALTIME.ORDER']='UPDATE_DATETIME DESC'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="UPDATE_DATETIME DESC">
                            最后更新
                        </option>
                        <option class="nya-bs-option" value="LOCK_STOCK DESC">
                            锁定库存降序
                        </option>
                        <option class="nya-bs-option" value="LOCK_STOCK ASC">
                            锁定库存升序
                        </option>
                        <option class="nya-bs-option" value="STOCK DESC">
                            实时库存降序
                        </option>
                        <option class="nya-bs-option" value="STOCK ASC">
                            实时库存升序
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-scrollable">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>

                    <!--<th class="col-md-2"> 发卡渠道编码</th>-->
                    <th class="col-md-3"> 商品</th>
                    <th class="col-md-1"> 单位</th>
                    <th class="col-md-2"> 仓库</th>
                    <th class="col-md-1"> 实时库存</th>
                    <th class="col-md-1"> 带锁库存</th>
                    <th class="col-md-1.5"> 最后变更</th>
                    <th class="col-md-1 text-center"> 操作</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="item in stockList">
                    <td ng-bind="item['STOCK_REALTIME.PRD_INFO']"></td>   <!--商品ID-->
                    <td ng-bind="item['STOCK_REALTIME.UNIT']"></td> <!--规格ID-->
                    <td>{{storeMap[(item['STOCK_REALTIME.STORE_ID'])]}}</td> <!--仓库-->
                    <td ng-bind="item['STOCK_REALTIME.STOCK']"></td> <!--实时库存-->
                    <td ng-bind="item['STOCK_REALTIME.LOCK_STOCK']"></td> <!--锁定库存-->
                    <td ng-bind="item['STOCK_REALTIME.UPDATE_DATETIME']|FormatAllDate"></td> <!--最后变更-->
                    <td>明细</td>
                    <!--<td class="text-center">-->
                    <!--<div >-->
                    <!--<a type="button" show-modal id="#modifySource"-->
                    <!--ng-click="modifyCardSourceClick(item)">修改</a>-->
                    <!--<a type="button" ng-click="deleteCardSource(item['MEMBER_CARD_SOURCE.ID'])">-->
                    <!--删除-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div page-bar
         filter-obj="filter"
         url="/stock/realtime/queryAll"
         callback="bindData(response)">
    </div>
</div>