<div class="table-operbar row">
    <div class="page-operation-wrap">
        <div class="row">
            <!-- BEGIN 导航标签 -->
            <ul class="nav nav-tabs" style="margin-bottom: 0px; margin-left: 28px;">
                <li class="active">
                    <a> 分库存 </a>
                </li>
                <li>
                    <a ui-sref="totalStockList"> 总库存 </a>
                </li>


            </ul>
            <!-- END 导航标签 -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-inline form-group">
            <div class="form-group  ">
                <select ng-model="filter['FINANCE_LIST.CHANGE_TYPE']"
                        class="nya-bs-select form-control"
                        ng-options="store.id as store.name for store in storeList">
                    <option class="nya-bs-option" value="">
                        所有仓库
                    </option>

                </select>
            </div> <!-- select-center  -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="商品编码" ng-model="loginId">
                <button type="submit" class="btn btn-default" ng-click="queryFinanceByLoginId(loginId)">搜索
                </button>
            </div>

            <div class="form-group  col-md-offset-2">
                <select ng-model="filter['FINANCE_LIST.CHANGE_TYPE']"
                        ng-init="filter['FINANCE_LIST.CHANGE_TYPE']='null'"
                        class="nya-bs-select form-control">
                    <option class="nya-bs-option" value="increase">
                        最后变更
                    </option>
                    <option class="nya-bs-option" value="null">
                       锁定库存降序
                    </option>
                    <option class="nya-bs-option" value="decrease">
                        锁定库存升序
                    </option>
                    <option class="nya-bs-option" value="increase">
                        实时库存降序
                    </option>
                    <option class="nya-bs-option" value="increase">
                        实时库存升序
                    </option>
                </select>
            </div> <!-- select-center  -->

        </div>

        <div class="table-scrollable">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>

                    <!--<th class="col-md-2"> 发卡渠道编码</th>-->
                    <th class="col-md-3"> 商品</th>
                    <th class="col-md-1"> 单位</th>
                    <th class="col-md-2"> 仓库</th>
                    <th class="col-md-1"> 实时库存</th>
                    <th class="col-md-1"> 带锁库存</th>
                    <th class="col-md-1.5"> 最后变更</th>
                    <th class="col-md-1 text-center"> 操作</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="item in stockList">
                    <td ng-bind="item['STOCK_REALTIME.PID']"></td>   <!--商品ID-->
                    <td ng-bind="item['STOCK_REALTIME.SKU_ID']"></td> <!--规格ID-->
                    <td >{{storeMap[(item['STOCK_REALTIME.STORE_ID'])]}}</td> <!--仓库-->
                    <td ng-bind="item['STOCK_REALTIME.STOCK']"></td> <!--实时库存-->
                    <td ng-bind="item['STOCK_REALTIME.LOCK_STOCK']"></td> <!--锁定库存-->
                    <td ng-bind="item['STOCK_REALTIME.UPDATE_DATETIME']"></td> <!--最后变更-->
                    <td>明细</td>
                    <!--<td class="text-center">-->
                        <!--<div >-->
                            <!--<a type="button" show-modal id="#modifySource"-->
                               <!--ng-click="modifyCardSourceClick(item)">修改</a>-->
                            <!--<a type="button" ng-click="deleteCardSource(item['MEMBER_CARD_SOURCE.ID'])">-->
                                <!--删除-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--BEGIN 新增发卡渠道-->
<div class="modal fade text-left" id="addSource" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">添加发卡渠道</h4>
            </div>
            <div class="modal-body form-body text-right">

                <form class="form-horizontal">

                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span> 发卡渠道名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['MEMBER_CARD_SOURCE.NAME']"
                                   ng-init="add['MEMBER_CARD_SOURCE.NAME']=''"
                                   placeholder=""></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            发卡渠道介绍
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="add['MEMBER_CARD_SOURCE.INTRO']"
                                   ng-init="add['MEMBER_CARD_SOURCE.INTRO']=''"
                                   placeholder=""></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addCardSource()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 新增发卡渠道-->

<!--BEGIN 修改发卡渠道-->
<div class="modal fade text-left" id="modifySource" tabindex="-1" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">修改发卡渠道</h4>
            </div>

            <div class="modal-body form-body text-right">

                <form class="form-horizontal">


                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 control-label">-->
                            <!--发卡渠道编码-->
                        <!--</label>-->

                        <!--<div class="col-md-8">-->
                            <!--<input type="text" class="form-control"-->
                                   <!--ng-model="modify['MEMBER_CARD_SOURCE.CARD']"-->
                                   <!--disabled></div>-->
                    <!--</div>-->
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            <span class="required"> * </span> 发卡渠道名称
                        </label>

                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   ng-model="modify['MEMBER_CARD_SOURCE.NAME']"
                                   placeholder=""></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 control-label">
                            发卡渠道介绍
                        </label>

                        <div class="col-md-8" >
                            <input type="text" class="form-control"
                                   ng-model="modify['MEMBER_CARD_SOURCE.INTRO']"
                                   placeholder=""></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="modifyCardSource()" class="btn green">确定
                </button>
                <button type="button" class="btn green  btn-outline" data-dismiss="modal">取消
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--END 修改发卡渠道-->