<div class="page-content">

    <div class="table-operbar">
        <div class="table-toolbar">
            <div class="row">
                <div class="form-inline form-group">
                    <div class="form-group">
                        <label for="name" class="control-label">客户:</label>
                        <input type="text" class="form-control" id="name" placeholder="姓名/手机">
                    </div>
                    <div class="form-group">
                        <label for="cardNum" class="control-label">卡号:</label>
                        <input type="text" class="form-control" id="cardNum">
                    </div>
                    <label class="control-label">筛选：</label>
                    <select ng-model="filter['MEMBER_SOURCE.SOURCE_ID']"
                            ng-init="filter['MEMBER_SOURCE.SOURCE_ID']='null'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="null">
                            所有渠道
                        </option>
                        <option class="nya-bs-option"
                                ng-repeat="value in sourceList"
                                ng-bind="value['MEMBER_CARD_SOURCE.NAME']"
                                value="{{value['MEMBER_CARD_SOURCE.ID']}}">
                        </option>
                    </select>
                    <select class="form-control">
                        <option value="null">所有类型</option>
                    </select>
                    <label class="control-label">排序：</label>
                    <select ng-model="filter['MEMBER_CARD.ADD_DATETIME']"
                            ng-init="filter['MEMBER_CARD.ADD_DATETIME']='ADD_DATETIME DESC'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="ADD_DATETIME DESC">开卡时间↓</option>
                        <option class="nya-bs-option" value="ADD_DATETIME ASC">开卡时间↑</option>
                    </select>
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal"
                            data-target="#cardList">+ 开卡
                    </button>
                </div>
            </div><!-- row end -->
        </div>
    </div>

    <div class="row"> <!-- cardList -->
        <div class="col-md-6">

            <div ng-repeat="cl in cardList|filter:{}" class="card center-block" ng-style="cl['MEMBER_CARD.CARD_STYLE']">
                <div class="row cardTitle">
                    <div class="col-md-8">{{cl['MEMBER_CARD.CARD_NO'] | FormatNo}}</div>
                    <div class="col-md-4 text-right">{{cl['MEMBER_CARD.TYPE_NAME']}}</div>
                </div>
                <p class="balance"><span>余额</span>{{cl['MEMBER_CARD.BALANCE'] | currency : '￥'}}</p>
                <p ng-show="cl['MEMBER_CARD.FREEZE_BALANCE']!=0" class="froze">
                    （冻结{{cl['MEMBER_CARD.FREEZE_BALANCE'] | currency : '￥'}}）</p>
                <div class="row cardFooter">
                    <div class="col-md-3 nowrap">{{cl['MEMBER_CARD.MEMBER_LOGIN_ID']}}</div>
                    <div class="col-md-4 nowrap text-right">面值：{{cl['MEMBER_CARD.FACE_VALUE'] | currency : '￥'}}</div>
                    <div class="col-md-3 nowrap text-right">{{cl['MEMBER_CARD.ADD_DATETIME'] | FormatStrDate}}</div>
                    <div class="col-md-2 nowrap text-right">{{cl['MEMBER_CARD.SOURCE_NAME']}}</div>
                </div>
            </div>
        </div> <!-- right -->
    </div>

    <div page-bar
         filter-obj="filter"
         url="/member/membercard/queryAll"
         callback="bindData(response)">
    </div>


    <!-MODAL-->
    <div class="modal fade" id="cardList">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">会员卡信息</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 会员:
                            </label>

                            <div class="col-md-8 text-left form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入会员登录名称">
                                </div>
                                <button type="submit" class="btn btn-default">查询</button>


                                <span class="help-block"
                                      ng-show="editForm.name.$error.required && !editForm.name.$pristine">
                                    请先输入会员ID
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 姓名:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>怕不辣</h5>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 手机:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>13966667777</h5>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                发卡渠道
                            </label>

                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>线下门店</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                类型
                            </label>

                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>金卡</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                面额
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                可用余额
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                冻结金额
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-outline" ng-click="modifyProductClass()">确定
                    </button>
                    <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div> <!-- modal-content-->
        </div>
    </div>

</div>
<!-- END CONTENT -->
