<div class="page-content">

    <div class="table-operbar">
        <div class="table-toolbar">
            <div class="row">
                <div class="form-inline form-group">
                    <div class="form-group">
                        <label for="name" class="control-label">客户:</label>
                        <input type="text" class="form-control" id="name" placeholder="登陆ID/手机号"
                               ng-model="query['MEMBER_CARD.MEMBER']">
                    </div>
                    <div class="form-group">
                        <label for="cardNum" class="control-label">卡号:</label>
                        <input type="text" class="form-control" id="cardNum" ng-model="query['MEMBER_CARD.CARD_NO']">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default pull-right" ng-click="query()">查询
                        </button>
                    </div>
                    <label class="control-label">筛选：</label>
                    <select ng-model="filter['MEMBER_CARD.SOURCE_ID']"
                            ng-init="filter['MEMBER_CARD.SOURCE_ID']='null'"
                            ng-change="queryTypeBySourceId(filter['MEMBER_CARD.SOURCE_ID'])"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="null">
                            所有渠道
                        </option>
                        <option class="nya-bs-option"
                                ng-repeat="value in sourceList"
                                ng-bind="value['MEMBER_CARD_SOURCE.NAME']"
                                value="{{value['MEMBER_CARD_SOURCE.ID']}}">
                        </option>
                    </select>
                    <select ng-model="filter['MEMBER_CARD.TYPE_ID']"
                            ng-init="filter['MEMBER_CARD.TYPE_ID']='null'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="null">
                            所有类型
                        </option>
                        <option class="nya-bs-option"
                                ng-repeat="value in typeList"
                                ng-bind="value['MEMBER_CARD_TYPE.NAME']"
                                value="{{value['MEMBER_CARD_TYPE.ID']}}">
                        </option>
                    </select>
                    <label class="control-label">排序：</label>
                    <select ng-model="filter['MEMBER_CARD.ADD_DATETIME']"
                            ng-init="filter['MEMBER_CARD.ADD_DATETIME']='ADD_DATETIME DESC'"
                            class="nya-bs-select form-control">
                        <option class="nya-bs-option" value="ADD_DATETIME DESC">开卡时间↓</option>
                        <option class="nya-bs-option" value="ADD_DATETIME ASC">开卡时间↑</option>
                    </select>
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal"
                            data-target="#cardList">+ 开卡
                    </button>
                </div>
            </div><!-- row end -->
        </div>
    </div>

    <!-- cardList -->
    <div class="row">
        <div class="col-md-12">

            <div ng-repeat="cl in cardList|filter:{}" class="card center-block pull-left"
                 ng-style="cl['MEMBER_CARD.CARD_STYLE']" style="width:446px;height:228px;">
                <div class="row cardTitle">
                    <div class="col-md-8">{{cl['MEMBER_CARD.CARD_NO'] | FormatNo}}</div>
                    <div class="col-md-4 text-right">{{cl['MEMBER_CARD.TYPE_NAME']}}</div>
                </div>
                <p class="balance"><span>余额</span>{{cl['MEMBER_CARD.BALANCE'] | currency : '￥'}}</p>
                <p ng-show="cl['MEMBER_CARD.FREEZE_BALANCE']!=0" class="froze">
                    （冻结{{cl['MEMBER_CARD.FREEZE_BALANCE'] | currency : '￥'}}）</p>
                <div class="row cardFooter">
                    <div class="col-md-4 nowrap">{{cl['MEMBER_CARD.MEMBER_LOGIN_ID']}}</div>
                    <div class="col-md-4 nowrap text-right count">
                        <span ng-show="cl['MEMBER_CARD.IS_FACE_VALUE']==1">面值{{cl['MEMBER_CARD.FACE_VALUE'] | currency : '￥'}}</span>
                    </div>
                    <div class="col-md-4 text-right time nowrap">
                        {{cl['MEMBER_CARD.ADD_DATETIME'] |FormatStrDate}}
                        {{cl['MEMBER_CARD.SOURCE_NAME']}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div page-bar
         filter-obj="filter"
         url="/member/membercard/queryAll"
         callback="bindData(response)">
    </div>


    <!-MODAL-->
    <div class="modal fade" id="cardList">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">会员卡信息</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 客户:
                            </label>

                            <div class="col-md-8 text-left form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="memberId" placeholder="请输入会员登录名称">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="queryMemberById(memberId)">查询
                                </button>
                                <span class="help-block"
                                      ng-show="editForm.name.$error.required && !editForm.name.$pristine">
                                    请先输入会员ID
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 姓名:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>{{memberDetail['MEMBER.USER_NAME']}}</h5>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 手机:
                            </label>

                            <div class="col-md-8 text-left">
                                <h5>{{memberDetail['MEMBER.MOBILE']}}</h5>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                发卡渠道
                            </label>

                            <div class="col-md-8">
                                <select ng-model="cardAdd['MEMBER_CARD.SOURCE_ID']"
                                        ng-init="cardAdd['MEMBER_CARD.SOURCE_ID']='null'"
                                        ng-change="addQueryTypeBySourceId(cardAdd['MEMBER_CARD.SOURCE_ID'])"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="null">
                                        所有渠道
                                    </option>
                                    <option class="nya-bs-option"
                                            ng-repeat="value in sourceList"
                                            ng-bind="value['MEMBER_CARD_SOURCE.NAME']"
                                            value="{{value['MEMBER_CARD_SOURCE.ID']}}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                类型
                            </label>
                            <div class="col-md-8">
                                <select ng-model="cardAdd['MEMBER_CARD.TYPE_ID']"
                                        ng-init="cardAdd['MEMBER_CARD.TYPE_ID']='null'"
                                        class="nya-bs-select form-control">
                                    <option class="nya-bs-option" value="null">
                                        所有类型
                                    </option>
                                    <option class="nya-bs-option"
                                            ng-repeat="value in typeListAdd"
                                            ng-bind="value['MEMBER_CARD_TYPE.NAME']"
                                            value="{{value['MEMBER_CARD_TYPE.ID']}}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                卡号
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="cardAdd['MEMBER_CARD.CARD_NO']"
                                       placeholder="若不填写则自动生成">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox" ng-model="isFaceValue" value="option">设置面额
                            </label>
                            <div ng-show="isFaceValue" class="col-md-8">
                                <input type="text"
                                       ng-change="cardAdd['MEMBER_CARD.BALANCE']=cardAdd['MEMBER_CARD.FACE_VALUE']"
                                       class="form-control" ng-model="cardAdd['MEMBER_CARD.FACE_VALUE']"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                可用余额
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="cardAdd['MEMBER_CARD.BALANCE']"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                冻结金额
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="cardAdd['MEMBER_CARD.FREEZE_BALANCE']"
                                       placeholder="若不填写则为0">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-outline" ng-click="addCard()">确定
                    </button>
                    <button type="button" class="btn btn-default  btn-outline" data-dismiss="modal">取消
                    </button>
                </div>
            </div> <!-- modal-content-->
        </div>
    </div>

</div>
<!-- END CONTENT -->
