.personal-index {
    .header {
        padding: 17px 0 10px;

        font-size: $fontSizeSmall;
        text-align: center;

        background-color: #fff;
    }
    .personal-img {
        border-radius: 40px;
        width: 72px;
        height: 72px;
    }

    .personal-info-txt {
        margin-top: 10px;
    }

    .personal-name {
        margin: 12px 0 27px;

        font-size: $fontSizeSmall;
    }
    .order-act-wrap::before {
        height: 4px;

        background-color: $colorDefault;
    }

    .order-act-title {
        font-size: $fontSizeLarge;
    }

    .order-act {
        > .cell {
            text-align: center;
        }

        .icon {
            width: 25px;
            height: 25px;
        }
        .order-act-txt {
            font-size: $fontSizeSmall;
            color: $colorBase;
        }
    }

    .main-entry {
        .icon {
            display: block;

            margin-right: 10px;
            width: 25px;
            height: 25px
        }
    }
}
