<div class="page-content" style="margin-bottom: 50px">
    <!-- BEGIN FORM-->
    <div class="table-operbar row" ng-cloak>
        <div class="col-md-12">
            <form class="form-horizontal form-middle-width" name="addProduct"
                  novalidate>

                <h4 class="form-title">
                    基本信息
                </h4>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="icon-required">*</span>
                        商品分类
                    </label>
                    <div class="col-md-4">
                        <select ng-model="add['SHOP_PRODUCT_CLASS.CLASS_ID']"
                                class="nya-bs-select form-control">
                            <option class="nya-bs-option"
                                    ng-repeat="value in prdClssList"
                                    ng-bind="value['SHOP_PRODUCT_CLASS.CLASS_NAME']"
                                    value="{{value['SHOP_PRODUCT_CLASS.CLASS_ID']}}">
                            </option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">
                        <span class="icon-required">*</span>
                        商品单位
                    </label>
                    <div class="col-md-4">
                        <select ng-model="add['SHOP_UNIT.UNIT_ID']"
                                class="nya-bs-select form-control">
                            <option class="nya-bs-option"
                                    ng-repeat="value in prdUnitList"
                                    ng-bind="value['SHOP_UNIT.UNIT_NAME']"
                                    value="{{value['SHOP_UNIT.UNIT_ID']}}">
                            </option>
                        </select>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <span class="icon-required">*</span>
                        商品名称
                    </label>
                    <div class="col-md-10">
                        <input class="form-control"
                               ng-model="add['SHOP_PRODUCT.PRD_NAME']"
                               name="number" type="text"
                               placeholder="请输入商品名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        搜索关键字
                    </label>
                    <div class="col-md-10">
                        <tags-input ng-model="keyword"
                                    placeholder="输入一个关键字按[回车键]"
                                    min-length="1"
                                    max-length="10">
                        </tags-input>
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        是否上架
                    </label>
                    <div class="col-md-4">
                        <select ng-model="add['SHOP_PRODUCT.IS_SALE']"
                                ng-init="add['SHOP_PRODUCT.IS_SALE']='1'"
                                class="nya-bs-select form-control">
                            <option class="nya-bs-option" value="1">上架</option>
                            <option class="nya-bs-option" value="-1">下架</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">
                        排序值
                    </label>
                    <div class="col-md-4">
                        <input class="form-control"
                               ng-model="add['SHOP_PRODUCT.ORDER_NUM']"
                               type="number"
                               placeholder="数字越大排名越靠前">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">
                        商品标签
                    </label>
                    <div class="col-md-10">
                        <button class="btn"
                                ng-repeat="item in prdTagList"
                                ng-bind="item['SHOP_TAG.TAG']"
                                style="margin:10px 10px 10px 0;min-width: 100px"
                                ng-init="tag[item['SHOP_TAG.TAG_ID']]=false"
                                ng-class="{true:'btn-primary', false:'btn-default'}[tag[item['SHOP_TAG.TAG_ID']]]"
                                ng-click="selectTagButton(item['SHOP_TAG.TAG_ID'],item['SHOP_TAG.TAG'])">
                        </button>
                    </div>
                </div>

                <div class="alert alert-grey clearfix">
                    <label class="col-md-6">
                        <input ng-model="product.setSku"
                               ng-init="product.setSku=true;" ng-change="changeSettingSku()"
                               type="checkbox">
                        设置商品多规格
                    </label>
                    <div ng-show="product.setSku">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9">
                                    <span class="text-remark">可使用键盘“回车键”快速添加多个规格值</span>
                                </div>
                            </div>
                            <div class="form-group" ng-init="hasSkuAttrCount = 0;">
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control text-center"
                                           ng-init="product.skuName1 = '商品规格';"
                                           ng-model="product.skuName1"
                                           focus-select
                                           placeholder="规格1"
                                           style="padding: 0;margin: 0;">
                                </div>
                                <div class="col-md-9">
                                    <tags-input ng-model="tags1"
                                                placeholder="输入一个属性按[回车键]"
                                                min-length="1"
                                                max-length="58">
                                    </tags-input>
                                </div>
                            </div>
                            <div class="form-group" ng-show="hasSkuAttrCount>=1">
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control text-center"
                                           ng-init="product.skuName2 = '规格2';"
                                           ng-model="product.skuName2"
                                           focus-select
                                           placeholder="规格2">
                                </div>
                                <div class="col-md-9">
                                    <tags-input ng-model="tags2"
                                                placeholder="输入一个属性按[回车键]"
                                                min-length="1"
                                                max-length="58">
                                    </tags-input>
                                </div>
                                <!--删除，需要时再用-->
                                <div class="col-md-1" ng-if="hasSkuAttrCount == 1">
                                    <a class="control-remark"
                                       ng-click="subHasSkuAttrCount();">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group" ng-show="hasSkuAttrCount>=2">
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control text-center"
                                           ng-init="product.skuName3= '规格3';"
                                           ng-model="product.skuName3"
                                           focus-select
                                           value="规格3"
                                           placeholder="规格3">
                                </div>
                                <div class="col-md-9">
                                    <tags-input ng-model="tags3"
                                                placeholder="输入一个属性按[回车键]"
                                                min-length="1"
                                                max-length="58">
                                    </tags-input>
                                </div>
                                <!--删除，需要时再用-->
                                <div class="col-md-1" ng-if="hasSkuAttrCount==2">
                                    <a class="control-remark"
                                       ng-click="subHasSkuAttrCount()">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 control-label">
                            <div class="col-md-3 text-left">
                                <a ng-click="addHasSkuAttrCount();"
                                   class="font-green" ng-if="hasSkuAttrCount < 2">
                                    <i class="fa fa-plus"></i>
                                    添加规格</a>
                            </div>
                            <!--<div class="col-md-9 text-right">-->
                                <!--<a href="#inputSkuModelName" data-toggle="modal">-->
                                    <!--保存为模板-->
                                <!--</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 16px;"></th>
                                <th ng-if="!product.setSku" style="width: 70px;">规格</th>
                                <th ng-if="product.setSku" style="width: 70px;"
                                    ng-bind="product.skuName1"></th>
                                <th ng-if="hasSkuAttrCount>=1" style="width: 70px;"
                                    ng-bind="product.skuName2"></th>
                                <th ng-if="hasSkuAttrCount>=2" style="width: 70px;"
                                    ng-bind="product.skuName3"></th>
                                <th style="width: 120px;">商品编码</th>
                                <th style="width: 80px;">市场价</th>
                                <th style="width: 80px;">售价</th>
                                <th style="width: 40px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,tag) in product.tags">
                                <td ng-bind="key + 1"></td>
                                <td ng-if="!product.setSku">商品规格</td>
                                <td ng-if="product.setSku"
                                    ng-bind="tag['SHOP_PRODUCT_SKU.SKU_CONTENT1']"></td>
                                <td ng-if="hasSkuAttrCount>=1"
                                    ng-bind="tag['SHOP_PRODUCT_SKU.SKU_CONTENT2']"></td>
                                <td ng-if="hasSkuAttrCount>=2"
                                    ng-bind="tag['SHOP_PRODUCT_SKU.SKU_CONTENT3']"></td>

                                <td><input ng-readonly="tag.isDel" type="text"
                                           focus-select
                                           ng-model="tag['SHOP_PRODUCT_SKU.PRD_SKU']"
                                           class="form-control">
                                </td>
                                <td><input ng-readonly="tag.isDel" type="number" number
                                           ng-model="tag['SHOP_PRODUCT_SKU.PRICE']"
                                           class="form-control">
                                </td>
                                <td><input ng-readonly="tag.isDel" type="number" number
                                           ng-model="tag['SHOP_PRODUCT_SKU.REAL_PRICES']"
                                           class="form-control">
                                </td>
                                <td>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h4 class="form-title">
                    商品信息
                </h4>

                <div class="form-group">
                    <div class="col-md-12">
                        <script id="container" type="text/plain"></script>
                    </div>
                </div>

                <h4 class="form-title">
                    商品图片
                    <small>(点击选择封面图片，建议尺寸：960*960)</small>
                </h4>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="upload-img-wrap"   ng-repeat="(key,imageFileUrl) in uploadImageFiles">
                            <div  ng-class="{'upload-img-content':true,'operator-chosen':key==uploadImageFilesIndex}">

                                <img ng-src="{{FILE_SERVER_DOMAIN+imageFileUrl}}?x-oss-process=image/resize,m_fill,h_100,w_100"
                                     class="img-responsive" ng-click="setFirstImg(imageFileUrl)">
                                <div class="product-img-operator">
                                    <div class="operator-wrap top">
                                        <a type="button"
                                           class="operator-close"
                                           aria-label="Close"
                                           ng-click="delImageFile(key)">
                                            &times;
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="upload-img-wrap">
                            <div class="upload-img-tips" >
                                添加商品图册<br>（上限6张）
                                <input class="hidden" type="file"
                                       id="image" name='image'
                                       onchange="angular.element(this).scope().uploadImage(this)"
                                       multiple>
                            </div>
                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- END FORM-->
    <!-- BEGIN chooseSkuModel模块 -->
    <div class="modal fade text-left" id="chooseSkuModel" tabindex="-1" aria-hidden="true"
         role="chooseSkuModel"
         style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">选择规格模板</h4>
                </div>
                <div class="modal-body form-body">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer">
                        <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-3">模板名称</th>
                            <th class="col-md-8">规格详情</th>
                        </tr>
                        </thead>

                        <tbody ng-cloak ng-repeat="skl in skuTempletList">
                        <tr>
                            <td>
                                 <span class="md-radio">
                                     <input type="radio" id="radio{{skl.sku_TEMPLET_ID}}"
                                            value="{{skl.sku_TEMPLET_ID}}"
                                            ng-model="$parent.tmpSelectTempletId"
                                            class="md-radiobtn">
                                     <label for="radio{{skl.sku_TEMPLET_ID}}">
                                         <span></span>
                                         <span class="check"></span>
                                         <span class="box"></span>
                                     </label>
                                 </span>
                            </td>
                            <td>
                                <span ng-bind="skl.templet_NAME"></span>
                            </td>
                            <td>
                                <span ng-if="skl.sku_NAME1!=undefined&&skl.sku_NAME1!=''"
                                      ng-bind="'【'+skl.sku_NAME1+'】'+skl.CONTENT1"></span><br>
                                <span ng-if="skl.sku_NAME2!=undefined&&skl.sku_NAME2!=''"
                                      ng-bind="'【'+skl.sku_NAME2+'】'+skl.CONTENT2"></span><br>
                                <span ng-if="skl.sku_NAME3!=undefined&&skl.sku_NAME3!=''"
                                      ng-bind="'【'+skl.sku_NAME3+'】'+skl.CONTENT3"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="chooseTemplet()">确定
                    </button>
                    <button type="button" class="btn green  btn-outline"
                            data-dismiss="modal">取消
                    </button>
                </div>
            </div>
        </div>

    </div>
    <!-- END chooseSkuModel模块 -->

    <!-- BEGIN inputSkuModelName -->
    <div class="modal fade text-left" id="inputSkuModelName" tabindex="-1"
         aria-hidden="true" role="chooseSkuModel"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">请输入商品规格模板名称</h4>
                </div>
                <div class="modal-body form-body text-right">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 control-label">
                                <span class="required"> * </span> 模板名称:
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control"
                                       ng-model="skuTempletName">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="">确定
                    </button>
                    <button type="button" class="btn green  btn-outline"
                            data-dismiss="modal">取消
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>